<div id="quick_view" class="dis-none">
    <div class="head">
        <a href="" class="close">X FECHAR</a>
    </div>

    <div class="content">
        <div class="column column_1">
            <div class="quick_view_image">
                <div class="quick_view_discount"></div>

                <img src="" />
            </div>
        </div>

        <div class="column column_2">
            <div class="quick_view_name">
                <h1></h1>
            </div>

            <div class="quick_view_price">
                <div class="column column_1">
                    <p class="por">
                        à vista por:
                        <strong></strong>
                    </p>
                </div>

                <div class="column column_2">
                    <p class="installments">
                        Ou <strong class="numbers"></strong> de <strong class="value"></strong>
                    </p>
                </div>
            </div>

            <div class="quick_view_sku">
                <p><span class="quick_view_dimensions"></span>:</p>
                <ul></ul>
            </div>

            <a href="" class="quick_view_button">
                <i><svg xmlns="http://www.w3.org/2000/svg" fill="none" height="100%" viewBox="0 0 30 27" width="100%">
                        <path d="M1.39999 1.70001H6.60001" stroke="#4F4F4F" stroke-linecap="round"
                            stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M6.60001 1.70001L11 18.9" stroke="#4F4F4F" stroke-linecap="round"
                            stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M11.8 18.9H28.3" stroke="#4F4F4F" stroke-linecap="round" stroke-miterlimit="10"
                            stroke-width="2"></path>
                        <path
                            d="M13.8 25.7C15.4569 25.7 16.8 24.3569 16.8 22.7C16.8 21.0432 15.4569 19.7 13.8 19.7C12.1431 19.7 10.8 21.0432 10.8 22.7C10.8 24.3569 12.1431 25.7 13.8 25.7Z"
                            stroke="#4F4F4F" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path>
                        <path
                            d="M25.3 25.7C26.9568 25.7 28.3 24.3569 28.3 22.7C28.3 21.0432 26.9568 19.7 25.3 19.7C23.6431 19.7 22.3 21.0432 22.3 22.7C22.3 24.3569 23.6431 25.7 25.3 25.7Z"
                            stroke="#4F4F4F" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path>
                        <path
                            d="M25.7 14.6H11.3C10.7 14.6 10.1 14.2 10 13.6L8.1 6.90001C7.9 6.00001 8.49999 5.20001 9.39999 5.20001H27.5C28.4 5.20001 29.1 6.10001 28.8 6.90001L26.9 13.6C26.9 14.2 26.4 14.6 25.7 14.6Z"
                            stroke="#4F4F4F" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path>
                    </svg></i>
                Adicionar ao carrinho
            </a>
        </div>
    </div>
</div>

<div id="continue_buy" class="dis-none">
    <a href="" class="close">X FECHAR</a>

    <div class="content">
        <div class="head">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                id="Layer_1" x="0px" y="0px" viewBox="0 0 591.3 623.4" style="enable-background:new 0 0 591.3 623.4;"
                xml:space="preserve">
                <style type="text/css">
                    .st10 {
                        fill: #D3515D;
                    }
                </style>
                <circle class="st10" cx="193.2" cy="193" r="192.2"></circle>
                <path d="M542.3,387.4c5.5,0,10-4.5,10-10s-4.5-10-10-10s-10,4.5-10,10S536.8,387.4,542.3,387.4z"></path>
                <path
                    d="M572.3,447.5v26.6c1.6,0.7,2.9,1.8,3.8,3.2c0.3,0.4,0.5,0.9,0.7,1.4c0,0,0,0,0.1,0.1c5.3-1.4,10.6-2.5,15.5-4.9V111.5 c0-5.5-4.5-10-10-10h-70c0-55.1-44.9-100-100-100c-55.3,0-100,44.7-100,100h-76c-5.5,0-10,4.5-10,10v116h-136c-5.5,0-10,4.5-10,10 v246c0,16.6,13.4,30,30,30h200.1c0.1-0.4,0.3-0.7,0.5-1.1c-0.8-1.6-1.4-3.3-2-4.9c-1.5-4.6-1.3-9.4,0-14H110.3c-5.5,0-10-4.5-10-10 v-36h229c0.1-0.3,0.2-0.7,0.4-1c0.8-2.3,1.7-4.6,2.6-6.9c0.2-1,0.4-2,0.7-3c-0.9-1.3-1.6-2.8-2-4.4c-0.2-0.8-0.3-1.5-0.3-2.3 c-0.2-0.7-0.3-1.5-0.3-2.2c0,0,0-0.1,0-0.2h-230v-180h232v148.6c0,0,0.1,0,0.1,0.1c0.5,0.1,1,0.3,1.5,0.6c2.3,1.1,7.6,0.6,10.6,0.5 c1.5-0.1,3-0.2,4.6-0.3c1-0.4,2.1-0.8,3.1-1.1V237.5c0-5.5-4.5-10-10-10h-96v-106h66v46h-10c-4.3,0-8.2,2.7-9.5,6.8 c-2.2,6.9,2.9,13.2,9.5,13.2h40c4.3,0,8.2-2.7,9.5-6.8c2.2-6.9-2.9-13.2-9.5-13.2h-10v-46h160v46h-10c-4.3,0-8.2,2.7-9.5,6.8 c-2.2,6.9,2.9,13.2,9.5,13.2h40c4.3,0,8.2-2.7,9.5-6.8c2.2-6.9-2.9-13.2-9.5-13.2h-10v-46h60v306h-56.2c-0.6,2.8-1.6,5.5-2.9,8.4 c-0.5,1.1-1.1,2.2-1.8,3.2c0.1,0.1,0.3,0.2,0.4,0.3c4,0.8,5.8,4.6,5.5,8.1H572.3z M332.5,101.5c0-44.2,35.8-80,80-80 c44.1,0,80,35.9,80,80H332.5z">
                </path>
                <path
                    d="M156,307.4v19.1c0,32.2,25,59.3,57.1,60.8c34.4,1.6,62.9-25.9,62.9-59.9v-20c6,0,10.8-5.3,9.9-11.5c-0.7-5-5.2-8.5-10.2-8.5 h-19.4c-5,0-9.5,3.6-10.2,8.5c-0.9,6.2,3.9,11.5,9.9,11.5v19.3c0,20.7-16.9,39.4-37.5,40.7c-23.2,1.4-42.5-17-42.5-39.9v-20 c6,0,10.8-5.3,9.9-11.5c-0.7-5-5.2-8.5-10.2-8.5h-19.4c-5,0-9.5,3.6-10.2,8.5C145.3,302.1,150,307.4,156,307.4z">
                </path>
                <path
                    d="M552,337.1v-79.4c0-5-3.6-9.5-8.5-10.2c-6.2-0.9-11.5,3.9-11.5,9.9v80c0,6,5.3,10.8,11.5,9.9 C548.5,346.6,552,342.1,552,337.1z">
                </path>
                <g>
                    <g>
                        <path
                            d="M568.3,515.5c-0.2-6.2-4.1-11.5-9.8-13.7v0l-129.3-48c-8.8-3.2-18.3-1.2-24.9,5.4c-6.6,6.6-8.7,16.1-5.4,24.9l47.9,129.1 c2.2,5.8,7.6,9.7,13.8,9.9c0.1,0,0.3,0,0.4,0c6,0,11.4-3.5,13.8-9.1l13.2-30.4l28.7,28.7c8.2,8.2,21.5,8.2,29.6,0l11.1-11.1 c4-4,6.1-9.2,6.1-14.8c0-5.6-2.2-10.9-6.1-14.8L529,543.4l30.4-13.6C565,527.3,568.5,521.7,568.3,515.5z M512.2,533.7 c-2.4,1-4,3.2-4.5,5.7c-0.5,2.5,0.3,5.1,2.2,7l36.4,36.4c2.1,2.1,2.1,5.4,0,7.5l-11.1,11.1c-1,1-2.3,1.6-3.8,1.6h0 c-1.4,0-2.8-0.6-3.8-1.6l-36.8-36.8c-1.8-1.8-4.4-2.6-7-2.2c-2.5,0.5-4.7,2.2-5.7,4.6l-17.3,39.7l-47.4-127.9 c-1.6-4.4,1-7.6,1.8-8.4c0.7-0.7,2.7-2.4,5.6-2.4c0.9,0,1.8,0.2,2.8,0.5L551.8,516L512.2,533.7z M553,516.5 C553,516.5,553,516.5,553,516.5l2.7-7.3L553,516.5z">
                        </path>
                    </g>
                </g>
                <g>
                    <g>
                        <path
                            d="M392.2,436.2l-22.1-22.1c-3.1-3.1-8-3.1-11.1,0c-3.1,3.1-3.1,8,0,11.1l22.1,22.1c1.5,1.5,3.5,2.3,5.5,2.3 c2,0,4-0.8,5.5-2.3C395.3,444.2,395.3,439.2,392.2,436.2z">
                        </path>
                    </g>
                </g>
                <g>
                    <g>
                        <path
                            d="M370.6,461.9h-31.3c-4.3,0-7.8,3.5-7.8,7.8s3.5,7.8,7.8,7.8h31.3c4.3,0,7.8-3.5,7.8-7.8S374.9,461.9,370.6,461.9z">
                        </path>
                    </g>
                </g>
                <g>
                    <g>
                        <path
                            d="M415.4,385.8c-4.3,0-7.8,3.5-7.8,7.8v31.3c0,4.3,3.5,7.8,7.8,7.8s7.8-3.5,7.8-7.8v-31.3 C423.3,389.3,419.8,385.8,415.4,385.8z">
                        </path>
                    </g>
                </g>
                <g>
                    <g>
                        <path
                            d="M481.1,400.4c-3.1-3.1-8-3.1-11.1,0l-22.1,22.1c-3.1,3.1-3.1,8,0,11.1c1.5,1.5,3.5,2.3,5.5,2.3c2,0,4-0.8,5.5-2.3 l22.1-22.1C484.1,408.4,484.1,403.4,481.1,400.4z">
                        </path>
                    </g>
                </g>
                <g>
                    <g>
                        <path
                            d="M383.2,498.3c-3.1-3.1-8-3.1-11.1,0L350,520.4c-3.1,3.1-3.1,8,0,11.1c1.5,1.5,3.5,2.3,5.5,2.3s4-0.8,5.5-2.3l22.1-22.1 C386.2,506.3,386.2,501.3,383.2,498.3z">
                        </path>
                    </g>
                </g>
                <g>
                    <g>
                        <path d="M308.8,493.4c5.5,0,10,4.5,10,10s-4.5,10-10,10s-10-4.5-10-10S303.3,493.4,308.8,493.4z">
                        </path>
                    </g>
                </g>
                <g>
                    <g>
                        <path
                            d="M329.5,427.5c5.5,0,10,4.5,10,10c0,5.5-4.5,10-10,10s-10-4.5-10-10C319.5,432,324,427.5,329.5,427.5z">
                        </path>
                    </g>
                </g>
                <g>
                    <g>
                        <path
                            d="M342.2,385.2c5.5,0,10,4.5,10,10c0,5.5-4.5,10-10,10s-10-4.5-10-10C332.2,389.7,336.7,385.2,342.2,385.2z">
                        </path>
                    </g>
                </g>
                <g>
                    <g>
                        <path
                            d="M517.2,427.5c5.5,0,10,4.5,10,10c0,5.5-4.5,10-10,10c-5.5,0-10-4.5-10-10C507.2,432,511.7,427.5,517.2,427.5z">
                        </path>
                    </g>
                </g>
                <g>
                    <g>
                        <path
                            d="M582.3,465.2c5.5,0,10,4.5,10,10s-4.5,10-10,10c-5.5,0-10-4.5-10-10S576.8,465.2,582.3,465.2z">
                        </path>
                    </g>
                </g>
            </svg>
            <p>Deseja continuar comprando?</p>
        </div>

        <div class="footer">
            <ul>
                <li><a href="" class="close">Continuar comprando</a></li>
                <li><a href="/checkout">Finalizar compra</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text">
                    <img src="https://jnakao.vteximg.com.br/arquivos/icon_newsletter.png" alt="" />
                    <p>Quer receber nossas ofertas,
                        lançamentos e novidades
                        em primeira mão?</p>
                </div>
                <div class="display">
                    <p>Informe o seu email</p>
                    <div class="input">
                        <input type="email" placeholder="Digite aqui o seu email" />
                        <input type="submit" value="Cadastrar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="column">
                    <h2>Sua Conta</h2>
                    <ul>
                        <li><a href="/account/orders">Meus Pedidos</a></li>
                        <li><a href="/account">Minha Conta</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Institucional</h2>
                    <ul>
                        <li><a href="/institucional/sobre-a-j-nakao">Sobre a JNakao</a></li>
                        <li><a href="/institucional/nossa-loja">Nossa Loja</a></li>
                        <li><a href="/institucional/privacidade">Privacidade</a></li>
                        <li><a href="/institucional/seguranca">Segurança</a></li>
                        <li><a href="https://blog.jnakao.com.br/">Blog</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Suporte</h2>
                    <ul>
                        <li><a href="/institucional/pagamento">Pagamentos</a></li>
                        <li><a href="/institucional/garantia-e-trocas">Garantia e Trocas</a></li>
                        <li><a href="/institucional/duvidas-frequentes">Dúvidas Frequentes</a></li>
                        <li><a href="/institucional/fale-conosco">Fale Conosco</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Atendimento no Site</h2>
                    <ul>
                        <!-- <li>
                            <img src="https://jnakao.vteximg.com.br/arquivos/icon_tel-footer.png" alt="" />
                            <a href="tel:1150549090">(11) 5054-9090</a>
                        </li> -->
                        <li>
                            <img src="https://jnakao.vteximg.com.br/arquivos/icon_whats-footer.png" alt="" />
                            <a href="https://wa.me/5511976905009">(11) 97690-5009</a>
                        </li>
                        <!-- <li>
                            <img src="https://jnakao.vteximg.com.br/arquivos/icon_watch-footer.png" alt="" />
                            Segunda a sexta das 8h00 as 18h00
                        </li> -->
                        <li>
                            <img src="https://jnakao.vteximg.com.br/arquivos/icon_mail-footer.png" alt="" />
                            <a href="mailto:contato@jnakao.com.br">contato@jnakao.com.br</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Nossa Loja Física</h2>
                    <ul>
                        <li>
                            <img src="https://jnakao.vteximg.com.br/arquivos/icon_tel-footer.png" alt="" />
                            <a href="tel:1130303050">(11) 3030-3050</a>
                        </li>
                        <li>
                            <img src="https://jnakao.vteximg.com.br/arquivos/icon_mail-footer.png" alt="" />
                            <a href="mailto:pinheiros@jnakao.com.br">pinheiros@jnakao.com.br</a>
                        </li>
                        <li>
                            <img src="https://jnakao.vteximg.com.br/arquivos/icon_pin-footer.png" alt="" />
                            <p>
                                Rua Paes Leme, 104 - Pinheiros, <br />
                                São Paulo - CEP: 05424-010
                            </p>
                        </li>
                        <li>
                            <img src="https://jnakao.vteximg.com.br/arquivos/icon_watch-footer.png" alt="" />
                            <p>
                                Segunda a sexta, das 8h00 as 17h30 <br />
                                Sábado das 8h30 as 12h30
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="column">
                    <h2>Formas de Pagamento</h2>
                    <ul>
                        <li><img src="https://jnakao.vteximg.com.br/arquivos/pay_01.png?v=2" alt="" /></li>
                        <li><img src="https://jnakao.vteximg.com.br/arquivos/pay_02.png?v=2" alt="" /></li>
                        <li><img src="https://jnakao.vteximg.com.br/arquivos/pay_03.png?v=2" alt="" /></li>
                        <li><img src="https://jnakao.vteximg.com.br/arquivos/pay_04.png?v=2" alt="" /></li>
                        <li><img src="https://jnakao.vteximg.com.br/arquivos/pay_05.png?v=2" alt="" /></li>
                        <li><img src="https://jnakao.vteximg.com.br/arquivos/pay_06.png?v=2" alt="" /></li>
                        <li><img src="https://jnakao.vteximg.com.br/arquivos/pay_07.png?v=2" alt="" /></li>
                        <li style="width: 40px;text-align: center;"><img alt=""
                                src="https://jnakao.vteximg.com.br/arquivos/pay_08.png?v=2" style="max-height: 28px;" />
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Segurança</h2>
                    <ul>
                        <li>
                            <a href="http://secure.vtex.com/?an=jnakao" target="_blank" rel="noopener noreferrer">
                                <img src="https://jnakao.vteximg.com.br/arquivos/sec_01.png?v=2" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fjnakao.com.br"
                                target="_blank" rel="noopener noreferrer">
                                <img src="https://jnakao.vteximg.com.br/arquivos/sec_02.png?v=2" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.lojaconfiavel.com/jnakao" target="_blank" rel="noopener noreferrer">
                                <img src="https://jnakao.vteximg.com.br/arquivos/sec_03.png?v=2" alt="" />
                            </a>
                        </li>
                        <li>
                            <img src="https://jnakao.vteximg.com.br/arquivos/sec_04.png?v=2" alt="" />
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Desenvolvido</h2>
                    <ul>
                        <li><img src="https://jnakao.vteximg.com.br/arquivos/dev_vtex.png?v=2" alt="" /></li>
                        <li><img src="https://jnakao.vteximg.com.br/arquivos/dev_sanders.png?v=2" alt="" /></li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Siga a JNakao</h2>
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/casajnakao/">
                                <img src="https://jnakao.vteximg.com.br/arquivos/social_01.png?v=2" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/casajnakao/">
                                <img src="https://jnakao.vteximg.com.br/arquivos/social_02.png?v=2" alt="" />
                            </a>
                        </li>
                        <li style="display: none">
                            <a href="https://twitter.com/Jnakao">
                                <img src="https://jnakao.vteximg.com.br/arquivos/social_03.png?v=2" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCiDlngNuQo1YdQgfr5n2FYw">
                                <img src="https://jnakao.vteximg.com.br/arquivos/social_04.png?v=2" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Casa J NAKAO PINHEIROS - Máquinas, Ferramentas e Ferragens Rua Paes Leme, 104 – Pinheiros – São Paulo –
            SP – CEP: 05424-010. VENDAS: 11 5054-9090 | E-mail: loja@jnakao.com.br - CNPJ: 53.794.996/0001-10</p>
    </div>
</footer>

<div id="overlay"></div>