<div class="topbar">
    <p>
        <img src="https://jnakao.vteximg.com.br/arquivos/icon_topbar1.png" alt="" />
        <b>
            NAKAO EXPRESS
        </b>
    </p>
    <p>
        <img src="https://jnakao.vteximg.com.br/arquivos/icon_topbar2.png" alt="" />
        <b>
            Entrega em até 2 horas! <span>Somente SP Capital</span>
        </b>
    </p>
</div>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="menuMobile">
                    <img src="https://jnakao.vteximg.com.br/arquivos/icon_menumobile.png" alt="" />
                </div>
                <div class="logo">
                    <a href="/">
                        <img src="https://jnakao.vteximg.com.br/arquivos/logo-jnakao-white.png" alt="" />
                    </a>
                </div>
                <div class="search">
                    <div class="input">
                        <input type="text" placeholder="Digite aqui o que você procura"
                            alt="Digite aqui o que você procura" />

                        <button>
                            <i class="sprite-ico-lupa"></i>
                        </button>
                    </div>

                    <div class="result">
                        <div class="digitando"></div>
                        <ul></ul>
                    </div>
                </div>
                <div class="whatsapp">
                    <a href="https://wa.me/5511976905009">
                        <img src="https://jnakao.vteximg.com.br/arquivos/icon_whats.png" alt="" />
                    </a>
                    <a href="https://wa.me/5511976905009">
                        <p>
                            <span>WhatsApp</span>
                            <b>(11) 97690-5009</b>
                        </p>
                    </a>
                </div>
                <div class="user">
                    <img src="https://jnakao.vteximg.com.br/arquivos/icon_user.png" alt="" />
                    <p>
                        <a href="/account">
                            <b>Olá, faça o seu login</b>
                            <span>ou cadastre-se</span>
                        </a>
                    </p>
                </div>
                <div class="minicart">
                    <a href="/checkout">
                        <div class="cart">
                            <i>
                                <img src="https://jnakao.vteximg.com.br/arquivos/icon_cart.png" alt="cart" />
                            </i>
                            <span class="qtd">0</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <section class="menu_1">
                    <p>
                        <i>
                            <span></span>
                            <span></span>
                            <span></span>
                        </i>
                        <span>Todos os Departamento</span>
                    </p>
                    <div class="headMobile dis-none">
                        <span class="title">
                            <div class="user">
                                <img src="/arquivos/icon_user.png" alt="" />
                                <p><a href="/account"><b style="display: block;">Olá, faça o seu login</b><span>ou
                                            cadastre-se</span></a></p>
                            </div>
                        </span>
                        <span class="name"></span>
                        <span class="close">X</span>
                        <span class="back">Voltar</span>
                    </div>
                    <nav>
                        <div class="column_1">
                            <ul>
                                <li><a href="/ferramentas-eletricas" data-category="1">Ferramentas Elétricas</a>
                                </li>
                                <li><a href="/ferramentas-a-bateria" data-category="2">Ferramentas à Bateria</a>
                                </li>
                                <li><a href="/acessorios-para-ferramentas" data-category="3">Acessórios para
                                        Ferramentas</a></li>
                                <li><a href="/linha-de-medicao" data-category="4">Linha de Medição</a></li>
                                <li><a href="/jardim-e-agricola" data-category="5">Jardim e Agricola</a></li>
                                <li><a href="/ferragens" data-category="6">Ferragens</a></li>
                                <li><a href="/ferramentas-manuais" data-category="7">Ferramentas Manuais</a></li>
                                <li><a href="/gabaritos-e-jigs" data-category="8">Gabaritos e jigs</a></li>
                                <li><a href="/ferramentas-pneumaticas" data-category="9">Ferramentas Pneumáticas</a>
                                </li>
                                <li><a href="/construcao-civil" data-category="10">Construção Civil</a></li>
                                <li><a href="/linha-epi" data-category="11">Linha EPI</a></li>
                                <li><a href="/compressores" data-category="12">Compressores</a></li>
                                <li><a href="/automotivo" data-category="13">Automotivo</a></li>
                                <li><a href="/telefonia-e-seguranca" data-category="14">Telefonia e Segurança</a>
                                </li>
                                <li><a href="/para-sua-casa" data-category="15">Para sua casa</a></li>
                                <li><a href="/paleteira" data-category="16">Paleteira</a></li>
                            </ul>
                        </div>

                        <div class="column_2">
                            <ul>
                                <li>
                                    <div class="content category_1">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/ferramentas-eletricas/furadeira">Furadeira</a></li>
                                                <li><a href="/ferramentas-eletricas/parafusadeira">Parafusadeira</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/esmerilhadeira">Esmerilhadeira</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/lixadeira-e-politriz">Lixadeira
                                                        e
                                                        Politriz</a></li>
                                                <li><a href="/ferramentas-eletricas/martelete">Martelete</a></li>
                                                <li><a href="/ferramentas-eletricas/plaina-eletrica">Plaina
                                                        elétrica</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/microretifica">Microretifica</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/serra-circular">Serra
                                                        Circular</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/serra-marmore">Serra Mármore</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/serra-sabre">Serra Sabre</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/serra-meia-esquadria">Serra Meia
                                                        Esquadria</a></li>
                                                <li><a href="/ferramentas-eletricas/ferramentas-de-bancada">Ferramentas
                                                        de Bancada</a></li>
                                                <li><a href="/ferramentas-eletricas/ferramentas-proxxon">Ferramentas
                                                        Proxxon</a></li>
                                                <li><a href="/ferramentas-eletricas/soprador">Soprador</a></li>
                                                <li><a href="/ferramentas-eletricas/pistola-de-pintura">Pistola de
                                                        Pintura</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <ul>
                                                <li><a href="/ferramentas-eletricas/pinador-elétrico">Pinador
                                                        Elétrico</a></li>
                                                <li><a href="/ferramentas-eletricas/moto-esmeril">Moto Esmeril</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/tupia">Tupia</a></li>
                                                <li><a href="/ferramentas-eletricas/tornos">Tornos</a></li>
                                                <li><a href="/ferramentas-eletricas/fresadora-de-junção">Fresadora
                                                        de
                                                        Junção</a></li>
                                                <li><a href="/ferramentas-eletricas/misturador">Misturador</a></li>
                                                <li><a href="/ferramentas-eletricas/cortador-de-parede">Cortador de
                                                        Parede</a></li>
                                                <li><a href="/ferramentas-eletricas/refiladora">Refiladora</a></li>
                                                <li><a href="/ferramentas-eletricas/coladeira">Coladeira</a></li>
                                                <li><a href="/ferramentas-eletricas/esquadrejadeira">Esquadrejadeira</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/coletor-de-pó">Coletor de Pó</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/serra-tico-tico">Serra Tico
                                                        Tico</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/serra-de-fita">Serra de fita</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/multicortador">Multicortador</a>
                                                </li>
                                                <li><a href="/ferramentas-eletricas/maquinas-de-solda">Maquinas de
                                                        solda</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_2">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/ferramentas-a-bateria/furadeira">Furadeira</a></li>
                                                <li><a href="/ferramentas-a-bateria/parafusadeira">Parafusadeira</a>
                                                </li>
                                                <li><a href="/ferramentas-a-bateria/martelete">Martelete</a></li>
                                                <li><a href="/ferramentas-a-bateria/plaina">Plaina</a></li>
                                                <li><a href="/ferramentas-a-bateria/soprador-a-bateria">Soprador à
                                                        Bateria</a></li>
                                                <li><a href="/ferramentas-a-bateria/chave-de-impacto-a-bateria">Chave
                                                        de
                                                        Impacto à Bateria</a></li>
                                                <li><a href="/ferramentas-a-bateria/lixadeira-a-bateria">Lixadeira à
                                                        Bateria</a></li>
                                                <li><a href="/ferramentas-a-bateria/multicortador">Multicortador</a>
                                                </li>
                                                <li><a href="/ferramentas-a-bateria/serra-circular">Serra
                                                        Circular</a>
                                                </li>
                                                <li><a href="/ferramentas-a-bateria/serra-tico-tico">Serra Tico
                                                        Tico</a>
                                                </li>
                                                <li><a href="/ferramentas-a-bateria/serra-sabre">Serra Sabre</a>
                                                </li>
                                                <li><a href="/ferramentas-a-bateria/serra-meia-esquadria">Serra Meia
                                                        Esquadria</a></li>
                                                <li><a href="/ferramentas-a-bateria/pinador">Pinador</a></li>
                                                <li><a href="/ferramentas-a-bateria/tupia">Tupia</a></li>
                                                <li><a href="/ferramentas-a-bateria/baterias-e-carregadores">Baterias
                                                        e
                                                        Carregadores</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <ul>
                                                <li><a href="/ferramentas-a-bateria/cortador">Cortador</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_3">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/acessorios-para-ferramentas/disco-de-corte">Disco de
                                                        Corte</a></li>
                                                <li><a href="/acessorios-para-ferramentas/pinos-e-grampos">Pinos e
                                                        Grampos</a></li>
                                                <li><a href="/acessorios-para-ferramentas/escova-de-carvao">Escova
                                                        de
                                                        Carvão</a></li>
                                                <li><a href="/acessorios-para-ferramentas/laminas-para-multicortadora">Lâminas
                                                        para Multicortadora</a></li>
                                                <li><a href="/acessorios-para-ferramentas/facas-para-plaina">Facas
                                                        para
                                                        Plaina</a></li>
                                                <li><a href="/acessorios-para-ferramentas/bolsa">Bolsa</a></li>
                                                <li><a href="/acessorios-para-ferramentas/abrasivos">Abrasivos</a>
                                                </li>
                                                <li><a href="/acessorios-para-ferramentas/laminas-de-serras">Lâminas
                                                        de
                                                        Serras</a></li>
                                                <li><a href="/acessorios-para-ferramentas/discos-de-serras">Discos
                                                        de
                                                        Serras</a></li>
                                                <li><a href="/acessorios-para-ferramentas/wolfcraft-acessorios">Wolfcraft
                                                        Acessórios</a></li>
                                                <li><a href="/acessorios-para-ferramentas/trilhos">Trilhos</a></li>
                                                <li><a href="/acessorios-para-ferramentas/suporte-para-furadeira">Suporte
                                                        para Furadeira</a></li>
                                                <li><a href="/acessorios-para-ferramentas/colas-e-adesivos">Colas e
                                                        Adesivos</a></li>
                                                <li><a href="/acessorios-para-ferramentas/serra-copo">Serra Copo</a>
                                                </li>
                                                <li><a href="/acessorios-para-ferramentas/mandril-e-engates">Mandril
                                                        e
                                                        Engates</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <ul>
                                                <li><a href="/acessorios-para-ferramentas/fresas-e-kits">Fresas e
                                                        Kits</a></li>
                                                <li><a href="/acessorios-para-ferramentas/brocas-bits-e-kits">Brocas,
                                                        Bits e Kits</a></li>
                                                <li><a href="/acessorios-para-ferramentas/baterias-e-carregadores">Baterias
                                                        e Carregadores</a></li>
                                                <li><a href="/acessorios-para-ferramentas/filtros-e-coletores">Filtros
                                                        e
                                                        Coletores</a></li>
                                                <li><a href="/acessorios-para-ferramentas/coletes">Coletes</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_4">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/linha-de-medicao/receptores">Receptores</a></li>
                                                <li><a href="/linha-de-medicao/detectores">Detectores</a></li>
                                                <li><a href="/linha-de-medicao/niveis-a-laser">Niveis à Laser</a>
                                                </li>
                                                <li><a href="/linha-de-medicao/camera-de-inspecao">Câmera de
                                                        Inspeção</a></li>
                                                <li><a href="/linha-de-medicao/tripe">Tripé</a></li>
                                                <li><a href="/linha-de-medicao/trenas-manuais">Trenas Manuais</a>
                                                </li>
                                                <li><a href="/linha-de-medicao/trenas-a-laser">Trenas à Laser</a>
                                                </li>
                                                <li><a href="/linha-de-medicao/acessorios">Acessórios</a></li>
                                                <li><a href="/linha-de-medicao/medidores-de-angulos">Medidores de
                                                        Ângulos</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <!--<ul>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                            </ul>-->
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_5">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/jardim-e-agricola/aspirador-de-po">Aspirador de Pó</a>
                                                </li>
                                                <li><a href="/jardim-e-agricola/aparadores">Aparadores</a></li>
                                                <li><a href="/jardim-e-agricola/bancadas-e-caixas">Bancadas e
                                                        Caixas</a>
                                                </li>
                                                <li><a href="/jardim-e-agricola/rocadeira">Roçadeira</a></li>
                                                <li><a href="/jardim-e-agricola/picador-e-triturador">Picador e
                                                        Triturador</a></li>
                                                <li><a href="/jardim-e-agricola/pulverizador">Pulverizador</a></li>
                                                <li><a href="/jardim-e-agricola/bombas--agua">Bombas de Água</a>
                                                </li>
                                                <li><a href="/jardim-e-agricola/mangueiras">Mangueiras</a></li>
                                                <li><a href="/jardim-e-agricola/acessorios-para-mangueira">Acessórios
                                                        para Mangueira</a></li>
                                                <li><a href="/jardim-e-agricola/lavadora-de-alta-pressao">Lavadora
                                                        de
                                                        Alta Pressão</a></li>
                                                <li><a href="/jardim-e-agricola/cortador-de-grama">Cortador de
                                                        Grama</a>
                                                </li>
                                                <li><a href="/jardim-e-agricola/soprador-de-folhas">Soprador de
                                                        Folhas</a></li>
                                                <li><a href="/jardim-e-agricola/escadas">Escadas</a></li>
                                                <li><a href="/jardim-e-agricola/moto-serras">Motosserras</a></li>
                                                <li><a href="/jardim-e-agricola/ombrelones">Ombrelones</a></li>
                                                <li><a href="/jardim-e-agricola/piscinas-e-tendas">Piscinas e
                                                        Tendas</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <!--<ul>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                            </ul>-->
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_6">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/ferragens/fechaduras">Fechaduras</a></li>
                                                <li><a href="/ferragens/rodizio">Rodízio</a></li>
                                                <li><a href="/ferragens/luminarias">Luminárias</a></li>
                                                <li><a href="/ferragens/dobradicas">Dobradiças</a></li>
                                                <li><a href="/ferragens/cadeado">Cadeado</a></li>
                                                <li><a href="/ferragens/trincos-e-tarjetas">Trincos e Tarjetas</a>
                                                </li>
                                                <li><a href="/ferragens/tomadas">Tomadas</a></li>
                                                <li><a href="/ferragens/Pistao">Pistão</a></li>
                                                <li><a href="/ferragens/barras-de-apoio">Barras de Apoio</a></li>
                                                <li><a href="/ferragens/molas-hidraulicas">Molas Hidráulicas</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <!--<ul>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                            </ul>-->
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_7">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/ferramentas-manuais/alicates-profissionais">Alicates
                                                        Profissionais</a></li>
                                                <li><a href="/ferramentas-manuais/chave-combinada">Chave
                                                        Combinada</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/chave-allen">Chave Allen</a></li>
                                                <li><a href="/ferramentas-manuais/chave-de-fenda">Chave de Fenda</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/chave-de-grifo">Chave de Grifo</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/esquadro">Esquadro</a></li>
                                                <li><a href="/ferramentas-manuais/trenas-e-reguas">Trenas e
                                                        Réguas</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/grampeadores">Grampeadores</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/estiletes">Estiletes</a></li>
                                                <li><a href="/ferramentas-manuais/arco-de-serra">Arco de Serra</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/formoes">Formões</a></li>
                                                <li><a href="/ferramentas-manuais/plaina-manual">Plaina Manual</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/tesouras">Tesouras</a></li>
                                                <li><a href="/ferramentas-manuais/chave-ajustavel">Chave
                                                        Ajustável</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/chave-de-catraca">Chave de
                                                        Catraca</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <ul>
                                                <li><a href="/ferramentas-manuais/chave-de-boca">Chave de Boca</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/chave-philips">Chave Philips</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/kit-de-ferramentas">Kit de
                                                        Ferramentas</a></li>
                                                <li><a href="/ferramentas-manuais/marretas-e-martelos">Marretas e
                                                        Martelos</a></li>
                                                <li><a href="/ferramentas-manuais/lima">Lima</a></li>
                                                <li><a href="/ferramentas-manuais/soquetes-e-kits">Soquetes e
                                                        Kits</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/torno-de-bancada">Torno de
                                                        Bancada</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/grampos">Grampos</a></li>
                                                <li><a href="/ferramentas-manuais/serrote">Serrote</a></li>
                                                <li><a href="/ferramentas-manuais/talha-manual">Talha Manual</a>
                                                </li>
                                                <li><a href="/ferramentas-manuais/cortador-de-piso">Cortador de
                                                        Piso</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_8">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/gabaritos-e-gibs/gabaritos-para-fechadura">Gabaritos
                                                        para
                                                        Fechadura</a></li>
                                                <li><a href="/gabaritos-e-gibs/gabarito-para-furacao">Gabarito para
                                                        Furação</a></li>
                                                <li><a href="/gabaritos-e-gibs/gabarito-para-cavilha">Gabarito para
                                                        Cavilha</a></li>
                                                <li><a href="/gabaritos-e-gibs/cavilhas">Cavilhas</a></li>
                                                <li><a href="/gabaritos-e-gibs/regua">Régua</a></li>
                                                <li><a href="/gabaritos-e-gibs/kits">Kits</a></li>
                                                <li><a href="/gabaritos-e-gibs/gabarito-universal">Gabarito
                                                        Universal</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <!--<ul>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                            </ul>-->
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_9">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/ferramentas-pneumaticas/acessorios-pneumaticos">Acessórios
                                                        Pneumáticos</a></li>
                                                <li><a href="/ferramentas-pneumaticas/magueira-de-ar">Magueira de
                                                        ar</a>
                                                </li>
                                                <li><a href="/ferramentas-pneumaticas/retificas">Retíficas</a></li>
                                                <li><a href="/ferramentas-pneumaticas/pinadores">Pinadores</a></li>
                                                <li><a href="/ferramentas-pneumaticas/chave-de-catraca-pneumatica">Chave
                                                        de Catraca Pneumática</a></li>
                                                <li><a href="/ferramentas-pneumaticas/pulverizadores">Pulverizadores</a>
                                                </li>
                                                <li><a href="/ferramentas-pneumaticas/furadeira-pneumatica">Furadeira
                                                        Pneumática</a></li>
                                                <li><a href="/ferramentas-pneumaticas/grampeadores-pneumaticas">Grampeadores
                                                        Pneumáticas</a></li>
                                                <li><a href="/ferramentas-pneumaticas/chave-de-impacto">Chave de
                                                        Impacto</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <!--<ul>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                            </ul>-->
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_10">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/construcao-civil/aspirador-de-po">Aspirador de pó</a>
                                                </li>
                                                <li><a href="/construcao-civil/cortador-de-piso">Cortador de
                                                        Piso</a>
                                                </li>
                                                <li><a href="/construcao-civil/trena-a-laser">Trena à Laser</a></li>
                                                <li><a href="/construcao-civil/esquadro">Esquadro</a></li>
                                                <li><a href="/construcao-civil/guincho">Guincho</a></li>
                                                <li><a href="/construcao-civil/trenas-e-reguas">Trenas e Réguas</a>
                                                </li>
                                                <li><a href="/construcao-civil/medidor-de-distancia">Medidor de
                                                        Distância</a></li>
                                                <li><a href="/construcao-civil/detector-de-materiais">Detector de
                                                        Materiais</a></li>
                                                <li><a href="/construcao-civil/nivelador">Nivelador</a></li>
                                                <li><a href="/construcao-civil/misturador">Misturador</a></li>
                                                <li><a href="/construcao-civil/cortador-de-parede">Cortador de
                                                        Parede</a></li>
                                                <li><a href="/construcao-civil/vibradores-para-concreto">Vibradores
                                                        para
                                                        Concreto</a></li>
                                                <li><a href="/construcao-civil/geradores">Geradores</a></li>
                                                <li><a href="/construcao-civil/escadas">Escadas</a></li>
                                                <li><a href="/construcao-civil/formao">Formão</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <ul>
                                                <li><a href="/construcao-civil/plaina">Plaina</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_11">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/linha-epi/mascara-de-protecao">Máscara de Proteção</a>
                                                </li>
                                                <li><a href="/linha-epi/botas-e-botinas">Botas e Botinas</a></li>
                                                <li><a href="/linha-epi/luvas">Luvas</a></li>
                                                <li><a href="/linha-epi/oculos">Óculos</a></li>
                                                <li><a href="/linha-epi/acessorios">Acessórios</a></li>
                                                <li><a href="/linha-epi/joelheira-de-protecao">Joelheira de
                                                        Proteção</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <!--<ul>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                            </ul>-->
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_12">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/compressores/acessorios">Acessórios</a></li>
                                                <li><a href="/compressores/compressores-automotivos">Compressores
                                                        Automotivos</a></li>
                                                <li><a href="/compressores/compressores-industriais">Compressores
                                                        Indústriais</a></li>
                                                <li><a href="/compressores/compressores-profissionais">Compressores
                                                        Profissionais</a></li>
                                                <li><a href="/compressores/compressores-residenciais">Compressores
                                                        Residenciais</a></li>
                                                <li><a href="/compressores/compressores-portateis">Compressores
                                                        Portáteis</a></li>
                                                <li><a href="/compressores/lubrificantes">Lubrificantes</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <!--<ul>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                            </ul>-->
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_13">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/automotivo/macaco-hidraulico">Macaco Hidráulico</a>
                                                </li>
                                                <li><a href="/automotivo/motor">Motor</a></li>
                                                <li><a href="/automotivo/aspirador-de-po">Aspirador de Pó</a></li>
                                                <li><a href="/automotivo/compressores">Compressores</a></li>
                                                <li><a href="/automotivo/auxiliar-de-partida">Auxiliar de
                                                        Partida</a>
                                                </li>
                                                <li><a href="/automotivo/lavadora-de-pressao">Lavadora de
                                                        Pressão</a>
                                                </li>
                                                <li><a href="/automotivo/funilaria">Pintura e Funilaria</a></li>
                                                <li><a href="/automotivo/alicates">Alicates</a></li>
                                                <li><a href="/automotivo/oleos">Óleos</a></li>
                                                <li><a href="/automotivo/caixas">Caixas</a></li>
                                                <li><a href="/automotivo/chaves">Chaves</a></li>
                                                <li><a href="/automotivo/torquimetro">Torquímetro</a></li>
                                                <li><a href="/automotivo/estiletes-e-facas">Estiletes e Facas</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <!--<ul>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                            </ul>-->
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_14">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/telefonia-e-seguranca/cofres ">Cofres </a></li>
                                                <li><a href="/telefonia-e-seguranca/camera-de-seguranca">Câmera de
                                                        Seguranca</a></li>
                                                <li><a href="/telefonia-e-seguranca/video-porteiro">Vídeo
                                                        Porteiro</a>
                                                </li>
                                                <li><a href="/telefonia-e-seguranca/fechadura-digital">Fechadura
                                                        Digital</a></li>
                                                <li><a href="/telefonia-e-seguranca/fechadura-biometrica">Fechadura
                                                        Biométrica</a></li>
                                                <li><a href="/telefonia-e-seguranca/fechadura-eletrica">Fechadura
                                                        Elétrica</a></li>
                                                <li><a href="/telefonia-e-seguranca/telefone-sem-fio">Telefone sem
                                                        Fio</a></li>
                                                <li><a href="/telefonia-e-seguranca/telefone">Telefone</a></li>
                                                <li><a href="/telefonia-e-seguranca/cadeado">Cadeado</a></li>
                                                <li><a href="/telefonia-e-seguranca/extensao-de-audio">Extensão de
                                                        Áudio</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <!--<ul>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                            </ul>-->
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="content category_15">
                                        <div class="column_1">
                                            <ul>
                                                <li><a href="/para-sua-casa/brinquedos">Brinquedos</a></li>
                                                <li><a href="/para-sua-casa/copa-e-cozinha">Copa e Cozinha</a></li>
                                                <li><a href="/para-sua-casa/lazer">Lazer</a></li>
                                                <li><a href="/para-sua-casa/eletronicos">Eletrônicos</a></li>
                                                <li><a href="/para-sua-casa/ventiladores">Ventiladores</a></li>
                                                <li><a href="/para-sua-casa/lixeiras">Lixeiras</a></li>
                                                <li><a href="/para-sua-casa/massageador">Massageador</a></li>
                                                <li><a href="/para-sua-casa/informatica">Informática</a></li>
                                                <li><a href="/para-sua-casa/utilidade-domestica">Utilidade
                                                        Doméstica</a>
                                                </li>
                                                <li><a href="/para-sua-casa/coolers-e-copos">Coolers e Copos</a>
                                                </li>
                                                <li><a href="/para-sua-casa/protecao-seguranca--e-higiene">Proteção,
                                                        Segurança e Higiene</a></li>
                                            </ul>
                                        </div>

                                        <div class="column_2">
                                            <!--<ul>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                                <li><a href="">Sub-Categoria</a></li>
                                            </ul>-->
                                        </div>

                                        <div class="column_3">
                                            <img src="/arquivos/banner-menu.jpg" alt="" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </section>

                <section class="menu_2">
                    <ul>
                        <li>
                            <a href="/ferramentas-eletricas">
                                <i><img src="https://jnakao.vteximg.com.br/arquivos/icon_menu-1.png"
                                        alt="Ferramentas Elétricas" /></i>
                                <span>Ferramentas <br />Elétricas</span>
                            </a>

                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/ferramentas-eletricas/furadeira">Furadeira</a></li>
                                        <li><a href="/ferramentas-eletricas/parafusadeira">Parafusadeira</a></li>
                                        <li><a href="/ferramentas-eletricas/esmerilhadeira">Esmerilhadeira</a></li>
                                        <li><a href="/ferramentas-eletricas/lixadeira-e-politriz">Lixadeira e
                                                Politriz</a></li>
                                        <li><a href="/ferramentas-eletricas/martelete">Martelete</a></li>
                                        <li><a href="/ferramentas-eletricas/plaina-eletrica">Plaina elétrica</a>
                                        </li>
                                        <li><a href="/ferramentas-eletricas/microretifica">Microretifica</a></li>
                                        <li><a href="/ferramentas-eletricas/serra-circular">Serra Circular</a></li>
                                        <li><a href="/ferramentas-eletricas/serra-marmore">Serra Mármore</a></li>
                                        <li><a href="/ferramentas-eletricas/serra-sabre">Serra Sabre</a></li>
                                    </ul>
                                </div>

                                <div class="column column_2">
                                    <ul>
                                        <li><a href="/ferramentas-eletricas/serra-meia-esquadria">Serra Meia
                                                Esquadria</a></li>
                                        <li><a href="/ferramentas-eletricas/ferramentas-de-bancada">Ferramentas de
                                                Bancada</a></li>
                                        <li><a href="/ferramentas-eletricas/ferramentas-proxxon">Ferramentas
                                                Proxxon</a>
                                        </li>
                                        <li><a href="/ferramentas-eletricas/soprador">Soprador</a></li>
                                        <li><a href="/ferramentas-eletricas/pistola-de-pintura">Pistola de
                                                Pintura</a>
                                        </li>
                                        <li><a href="/ferramentas-eletricas/pinador-elétrico">Pinador Elétrico</a>
                                        </li>
                                        <li><a href="/ferramentas-eletricas/moto-esmeril">Moto Esmeril</a></li>
                                        <li><a href="/ferramentas-eletricas/tupia">Tupia</a></li>
                                        <li><a href="/ferramentas-eletricas/tornos">Tornos</a></li>
                                        <li><a href="/ferramentas-eletricas/fresadora-de-junção">Fresadora de
                                                Junção</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="column column_3">
                                    <ul>
                                        <li><a href="/ferramentas-eletricas/misturador">Misturador</a></li>
                                        <li><a href="/ferramentas-eletricas/cortador-de-parede">Cortador de
                                                Parede</a>
                                        </li>
                                        <li><a href="/ferramentas-eletricas/refiladora">Refiladora</a></li>
                                        <li><a href="/ferramentas-eletricas/coladeira">Coladeira</a></li>
                                        <li><a href="/ferramentas-eletricas/esquadrejadeira">Esquadrejadeira</a>
                                        </li>
                                        <li><a href="/ferramentas-eletricas/coletor-de-pó">Coletor de Pó</a></li>
                                        <li><a href="/ferramentas-eletricas/serra-tico-tico">Serra Tico Tico</a>
                                        </li>
                                        <li><a href="/ferramentas-eletricas/serra-de-fita">Serra de fita</a></li>
                                        <li><a href="/ferramentas-eletricas/multicortador">Multicortador</a></li>
                                        <li><a href="/ferramentas-eletricas/maquinas-de-solda">Maquinas de solda</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="column column_4">
                                    <ul></ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="/ferramentas-a-bateria">
                                <i><img src="https://jnakao.vteximg.com.br/arquivos/icon_menu-2.png"
                                        alt="Ferramentas a Bateria" /></i>
                                <span>Ferramentas <br />a Bateria</span>
                            </a>

                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/ferramentas-a-bateria/chave-de-impacto-a-bateria">Chave de
                                                Impacto
                                                à Bateria</a></li>
                                        <li><a href="/ferramentas-a-bateria/lixadeira-a-bateria">Lixadeira à
                                                Bateria</a>
                                        </li>
                                        <li><a href="/ferramentas-a-bateria/multicortador">Multicortador</a></li>
                                        <li><a href="/ferramentas-a-bateria/serra-circular">Serra Circular</a></li>
                                        <li><a href="/ferramentas-a-bateria/serra-tico-tico">Serra Tico Tico</a>
                                        </li>
                                        <li><a href="/ferramentas-a-bateria/serra-sabre">Serra Sabre</a></li>
                                        <li><a href="/ferramentas-a-bateria/serra-meia-esquadria">Serra Meia
                                                Esquadria</a></li>
                                        <li><a href="/ferramentas-a-bateria/pinador">Pinador</a></li>
                                        <li><a href="/ferramentas-a-bateria/tupia">Tupia</a></li>
                                        <li><a href="/ferramentas-a-bateria/baterias-e-carregadores">Baterias e
                                                Carregadores</a></li>
                                    </ul>
                                </div>

                                <div class="column column_2">
                                    <ul>
                                        <li><a href="/ferramentas-a-bateria/furadeira">Furadeira</a></li>
                                        <li><a href="/ferramentas-a-bateria/parafusadeira">Parafusadeira</a></li>
                                        <li><a href="/ferramentas-a-bateria/martelete">Martelete</a></li>
                                        <li><a href="/ferramentas-a-bateria/plaina">Plaina</a></li>
                                        <li><a href="/ferramentas-a-bateria/soprador-a-bateria">Soprador à
                                                Bateria</a>
                                        </li>
                                        <li><a href="/ferramentas-a-bateria/cortador">Cortador</a></li>
                                    </ul>
                                </div>

                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/acessorios-para-ferramentas">
                                <i><img src="https://jnakao.vteximg.com.br/arquivos/icon_menu-3.png"
                                        alt="Acessórios para Ferramentas" /></i>
                                <span>Acessórios para <br />Ferramentas</span>
                            </a>

                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/acessorios-para-ferramentas/bolsa">Bolsa</a></li>
                                        <li><a href="/acessorios-para-ferramentas/abrasivos">Abrasivos</a></li>
                                        <li><a href="/acessorios-para-ferramentas/laminas-de-serras">Lâminas de
                                                Serras</a></li>
                                        <li><a href="/acessorios-para-ferramentas/discos-de-serras">Discos de
                                                Serras</a>
                                        </li>
                                        <li><a href="/acessorios-para-ferramentas/wolfcraft-acessorios">Wolfcraft
                                                Acessórios</a></li>
                                        <li><a href="/acessorios-para-ferramentas/trilhos">Trilhos</a></li>
                                        <li><a href="/acessorios-para-ferramentas/suporte-para-furadeira">Suporte
                                                para
                                                Furadeira</a></li>
                                        <li><a href="/acessorios-para-ferramentas/colas-e-adesivos">Colas e
                                                Adesivos</a>
                                        </li>
                                        <li><a href="/acessorios-para-ferramentas/serra-copo">Serra Copo</a></li>
                                        <li><a href="/acessorios-para-ferramentas/mandril-e-engates">Mandril e
                                                Engates</a></li>
                                    </ul>
                                </div>

                                <div class="column column_2">
                                    <ul>
                                        <li><a href="/acessorios-para-ferramentas/disco-de-corte">Disco de Corte</a>
                                        </li>
                                        <li><a href="/acessorios-para-ferramentas/pinos-e-grampos">Pinos e
                                                Grampos</a>
                                        </li>
                                        <li><a href="/acessorios-para-ferramentas/escova-de-carvao">Escova de
                                                Carvão</a>
                                        </li>
                                        <li><a href="/acessorios-para-ferramentas/laminas-para-multicortadora">Lâminas
                                                para Multicortadora</a></li>
                                        <li><a href="/acessorios-para-ferramentas/facas-para-plaina">Facas para
                                                Plaina</a></li>
                                    </ul>
                                </div>

                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/linha-de-medicao">
                                <i><img src="https://jnakao.vteximg.com.br/arquivos/icon_menu-4.png"
                                        alt="Linha de Medição" /></i>
                                <span>Linha de <br />Medição</span>
                            </a>

                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/linha-de-medicao/receptores">Receptores</a></li>
                                        <li><a href="/linha-de-medicao/detectores">Detectores</a></li>
                                        <li><a href="/linha-de-medicao/niveis-a-laser">Niveis à Laser</a></li>
                                        <li><a href="/linha-de-medicao/camera-de-inspecao">Câmera de Inspeção</a>
                                        </li>
                                        <li><a href="/linha-de-medicao/tripe">Tripé</a></li>
                                        <li><a href="/linha-de-medicao/trenas-manuais">Trenas Manuais</a></li>
                                        <li><a href="/linha-de-medicao/trenas-a-laser">Trenas à Laser</a></li>
                                        <li><a href="/linha-de-medicao/acessorios">Acessórios</a></li>
                                        <li><a href="/linha-de-medicao/medidores-de-angulos">Medidores de
                                                Ângulos</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="column column_2"></div>
                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/jardim-e-agricola">
                                <i><img src="https://jnakao.vteximg.com.br/arquivos/icon_menu-5.png"
                                        alt="Jardim e Agricola" /></i>
                                <span>Jardim e <br />Agricola</span>
                            </a>

                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/jardim-e-agricola/bombas--agua">Bombas de Água</a></li>
                                        <li><a href="/jardim-e-agricola/mangueiras">Mangueiras</a></li>
                                        <li><a href="/jardim-e-agricola/acessorios-para-mangueira">Acessórios para
                                                Mangueira</a></li>
                                        <li><a href="/jardim-e-agricola/lavadora-de-alta-pressao">Lavadora de Alta
                                                Pressão</a></li>
                                        <li><a href="/jardim-e-agricola/cortador-de-grama">Cortador de Grama</a>
                                        </li>
                                        <li><a href="/jardim-e-agricola/soprador-de-folhas">Soprador de Folhas</a>
                                        </li>
                                        <li><a href="/jardim-e-agricola/escadas">Escadas</a></li>
                                        <li><a href="/jardim-e-agricola/moto-serras">Motosserras</a></li>
                                        <li><a href="/jardim-e-agricola/ombrelones">Ombrelones</a></li>
                                        <li><a href="/jardim-e-agricola/piscinas-e-tendas">Piscinas e Tendas</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="column column_2">
                                    <ul>
                                        <li><a href="/jardim-e-agricola/aparadores">Aparadores</a></li>
                                        <li><a href="/jardim-e-agricola/bancadas-e-caixas">Bancadas e Caixas</a>
                                        </li>
                                        <li><a href="/jardim-e-agricola/rocadeira">Roçadeira</a></li>
                                        <li><a href="/jardim-e-agricola/picador-e-triturador">Picador e
                                                Triturador</a>
                                        </li>
                                        <li><a href="/jardim-e-agricola/pulverizador">Pulverizador</a></li>
                                    </ul>
                                </div>

                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <!-- <li>
                            <a href="/ferragens">
                                <i><img src="/arquivos/ferragens.png" alt="Ferragens" /></i>
                                <span>Ferragens</span>
                            </a>

                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/ferragens/fechaduras">Fechaduras</a></li>
                                        <li><a href="/ferragens/rodizio">Rodízio</a></li>
                                        <li><a href="/ferragens/luminarias">Luminárias</a></li>
                                        <li><a href="/ferragens/dobradicas">Dobradiças</a></li>
                                        <li><a href="/ferragens/cadeado">Cadeado</a></li>
                                        <li><a href="/ferragens/trincos-e-tarjetas">Trincos e Tarjetas</a></li>
                                        <li><a href="/ferragens/tomadas">Tomadas</a></li>
                                        <li><a href="/ferragens/Pistao">Pistão</a></li>
                                        <li><a href="/ferragens/barras-de-apoio">Barras de Apoio</a></li>
                                        <li><a href="/ferragens/molas-hidraulicas">Molas Hidráulicas</a></li>
                                    </ul>
                                </div>

                                <div class="column column_2"></div>
                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li> -->

                        <li>
                            <a href="/ferramentas-manuais">
                                <i><img src="https://jnakao.vteximg.com.br/arquivos/icon_menu-6.png"
                                        alt="Ferramentas Manuais" /></i>
                                <span>Ferramentas <br />Manuais</span>
                            </a>

                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/ferramentas-manuais/esquadro">Esquadro</a></li>
                                        <li><a href="/ferramentas-manuais/trenas-e-reguas">Trenas e Réguas</a></li>
                                        <li><a href="/ferramentas-manuais/grampeadores">Grampeadores</a></li>
                                        <li><a href="/ferramentas-manuais/estiletes">Estiletes</a></li>
                                        <li><a href="/ferramentas-manuais/arco-de-serra">Arco de Serra</a></li>
                                        <li><a href="/ferramentas-manuais/formoes">Formões</a></li>
                                        <li><a href="/ferramentas-manuais/plaina-manual">Plaina Manual</a></li>
                                        <li><a href="/ferramentas-manuais/tesouras">Tesouras</a></li>
                                        <li><a href="/ferramentas-manuais/chave-ajustavel">Chave Ajustável</a></li>
                                        <li><a href="/ferramentas-manuais/chave-de-catraca">Chave de Catraca</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="column column_2">
                                    <ul>
                                        <li><a href="/ferramentas-manuais/alicates-profissionais">Alicates
                                                Profissionais</a></li>
                                        <li><a href="/ferramentas-manuais/chave-combinada">Chave Combinada</a></li>
                                        <li><a href="/ferramentas-manuais/chave-allen">Chave Allen</a></li>
                                        <li><a href="/ferramentas-manuais/chave-de-fenda">Chave de Fenda</a></li>
                                        <li><a href="/ferramentas-manuais/chave-de-grifo">Chave de Grifo</a></li>
                                    </ul>
                                </div>

                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/ferramentas-pneumaticas">
                                <i><img src="https://jnakao.vteximg.com.br/arquivos/icon_menu-7.png"
                                        alt="Ferramentas Pneumáticas" /></i>
                                <span>Ferramentas <br />Pneumáticas</span>
                            </a>

                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/ferramentas-pneumaticas/acessorios-pneumaticos">Acessórios
                                                Pneumáticos</a></li>
                                        <li><a href="/ferramentas-pneumaticas/magueira-de-ar">Magueira de ar</a>
                                        </li>
                                        <li><a href="/ferramentas-pneumaticas/retificas">Retíficas</a></li>
                                        <li><a href="/ferramentas-pneumaticas/pinadores">Pinadores</a></li>
                                        <li><a href="/ferramentas-pneumaticas/chave-de-catraca-pneumatica">Chave de
                                                Catraca Pneumática</a></li>
                                        <li><a href="/ferramentas-pneumaticas/pulverizadores">Pulverizadores</a>
                                        </li>
                                        <li><a href="/ferramentas-pneumaticas/furadeira-pneumatica">Furadeira
                                                Pneumática</a></li>
                                        <li><a href="/ferramentas-pneumaticas/grampeadores-pneumaticas">Grampeadores
                                                Pneumáticas</a></li>
                                        <li><a href="/ferramentas-pneumaticas/chave-de-impacto">Chave de Impacto</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="column column_2"></div>
                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <!-- <li>
                            <a href="/marcas">
                                <i><img src="/arquivos/marcas.png" alt="Marcas" /></i>
                                <span>Marcas</span>
                            </a>
                        </li> -->
                    </ul>
                </section>
            </div>
        </div>
    </div>
</nav>
<vtex.cmc:Carrinho />