#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)

<article class="product" data-id="$id">

    #if ($product.IsInStock)
    <div class="shelfHead">
        <div class="flag_discount">$product.ListPriceMinusBestPriceInPercent</div>

        <div class="flag_retirar">$product.HightLight</div>

        <a href="#" id="quickView" class="open_quick_view" data-id="$id" data-name="$escapedName"
            data-por="$product.BestPrice" data-parc-number="$product.NumbersOfInstallment"
            data-parc-value="$product.InstallmentValue">
            <img src="/arquivos/icon_eye.png" alt="">
        </a>

    </div>
    #end

    <div class="product_image">
        <a title="$escapedName" href="$uri">$product.GetImageTag(250,250)</a>
    </div>

    <div class="product_info">

        <div class="flag-frete_gratis">$product.HightLight</div>

        <p class="product_name">
            <a title="$escapedName" href="$uri">$product.Name</a>
        </p>

        #if ($product.IsInStock)

        <div class="product_price">
            <a href="$uri">
                #if ($product.IsInStock)
                <div class="content">

                    <div class="column">
                        <p class="de">
                            <span class="list_price">De: ${product.ListPrice}</span>
                        </p>
                        <p class="por">
                            <span>Por:</span>
                            <strong class="best_price">$product.BestPrice</strong>
                        </p>
                    </div>

                    <div class="column">
                        <!--<p class="long_price">$product.BestPrice</p>-->
                        #if ($product.NumbersOfInstallment > 1)
                        <p class="installment">Em até <strong>${product.NumbersOfInstallment}x</strong> de<br />
                            <strong>$product.InstallmentValue</strong>
                        </p>
                        #end
                    </div>
                </div>
                #end
            </a>
        </div>
        <div class="product_status">
            <div class="list_flags">$product.HightLight</div>
            <p class="reward_value">Pontos fidelidade: $product.BestRewardValue</p>
        </div>

        <div class="list_sku dis-none">
            <ol></ol>
        </div>


        <a href="$uri" class="btn_buy">
            Comprar →
        </a>
        #else
        <div class="sold_out">
            <a href="$uri">Avise-me quando estiver disponível!</a>
        </div>
        #end
    </div>
</article>