.bread-crumb {
    margin: 7px 0;

    @media screen and (max-width:$mobile) {
        margin-top: 0;
    }

    ul {
        display: flex;
        text-transform: uppercase;
        font-size: 11px;

        li {
            &:after {
                content: '\203A';
                margin: 0 15px;
                font-size: 20px;

                @media screen and (max-width:$mobile) {
                    margin: 0 8px;
                }
            }

            &:last-child {
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}