.cards {
    .prateleira {
        >h2 {
            display: none;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            width: calc(50% - 7.5px);
            margin-bottom: 15px;

            .product {
                height: 100%;
                background: #ECF0F5;
                display: flex;

                &_image {
                    display: flex;
                    align-items: center;

                    a {
                        width: 220px;
                        display: block;
                        background: #fff;
                        padding: 20px;
                        border-radius: 100%;
                    }

                    img {
                        width: 180px;
                        height: auto;
                        border-radius: 100%;
                    }
                }

                &_info {
                    margin-left: 20px;
                    display: flex;
                    flex-wrap: wrap;

                    >div,
                    >p {
                        width: 100%;
                    }

                    .product_status {
                        order: 1;

                        .list_flags {
                            margin-top: 0;
                            margin-bottom: 10px;
                        }

                        .reward_value {
                            display: none;
                        }
                    }

                    .flag-frete_gratis {
                        order: 2;
                    }

                    .product_name {
                        order: 3;
                    }

                    .product_price {
                        order: 4;
                    }

                    .list_sku {
                        order: 5;

                        &[style="display: block;"] {
                            margin-bottom: 15px;
                        }
                    }

                    .btn_buy {
                        margin-top: 0;
                        order: 6;
                        width: 100%;
                        height: 44px;
                        max-width: 190px;
                        opacity: 1;
                    }
                }

                .shelfHead {
                    width: 200px;
                    margin: 0;

                    #quickView {
                        display: none;
                    }

                    .flag_retirar .flag.retirar-na-loja {
                        border: 2px solid #164193;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        ul {
            li {
                width: 100%;

                .product {
                    max-width: 100%;
                }

                .product_image {
                    img {
                        width: 100px;
                    }
                }

                .product_info .product_price>a .content .column:nth-child(1) .por strong {
                    font-size: 22px !important;
                }
            }
        }
    }
}