.departamento {
  main {
    .banner_desktop {
      @media screen and (max-width:$mobile) {
        display: none;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .banner_mobile {
      @media screen and (max-width:$mobile) {
        display: block;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .description {
      position: relative;
      cursor: pointer;
      margin: 5px 0px 40px 0;
      background: #ECF0F5;
      padding-bottom: 33px;

      &:before {
        content: "";
        width: 100vw;
        height: 100%;
        display: block;
        position: absolute;
        background: #ECF0F5;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
      }

      >* {
        z-index: 1;
        display: block;
        position: relative;
      }

      &.open {
        p {
          max-height: 100%;
        }

        span {

          &:before {
            content: 'Ver menos -';
          }
        }
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        color: #575757;
        max-height: 70px;
        overflow: hidden;
        margin-bottom: 12px;
      }

      span {
        font-style: normal;
        font-weight: 700;
        font-size: 0px;
        line-height: 21px;
        color: #164193;
        text-align: center;
        display: block;

        &:before {
          content: 'Ver mais +';
          font-size: 15px;
        }
      }

      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 21px;
        color: #164193;
        text-align: center;
        padding: 33px 0px 20px 0px;

        &.onlytitle {
          padding-top: 48px;
        }
      }

      @media screen and (max-width:$mobile) {
        height: auto;
        margin: 0px;
      }
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .column_1 {
        width: calc(20% - 15px);
        margin-right: 15px;

        @media screen and (max-width:$mobile) {
          width: 100%;

          .open_filtro {
            display: none !important;
          }
        }

        .box {
          width: 100%;

          @media screen and (min-width:$mobile) {
            padding: 15px;
          }

          .department_links {
            display: block !important;

            h5 {
              font-size: 18px;
              font-weight: bold;
              color: $cor-principal;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #D9D9D9;
              padding-bottom: 15px;
              cursor: pointer;

              @media screen and (max-width:$mobile) {
                margin-bottom: 20px;
              }

              &:after {
                content: '-';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #164193;
              }

              &.actived {
                &:after {
                  content: '+';
                }
              }
            }

            // Somente esse é invertido pois aparece aberto
            h5.actived+.menu {
              display: none !important;
            }

            .menu {
              margin: 20px 0 50px;

              @media screen and (max-width:$mobile) {
                display: none;
              }

              li {
                margin-bottom: 10px;
              }
            }
          }

          .navigation,
          .navigation-tabs {
            @media screen and (max-width:$mobile) {
              position: fixed;
              top: 0;
              right: -100%;
              width: 100%;
              height: 100%;
              z-index: 12;
              overflow: hidden;
              transition: right 300ms;

              &.active {
                right: 0;
              }

              .close {
                width: 15%;
                height: 50px;
                line-height: 50px;
                display: block;
                font-size: 22px;
                font-weight: bold;
                text-align: center;
                float: left;
                color: white;
                background-color: $cor-principal;
                z-index: 1;
              }
            }

            .menu-departamento {
              @media screen and (max-width:$mobile) {
                width: 85%;
                height: 100%;
                float: right;
                overflow: scroll;
                background-color: #fff;
                box-shadow: none;
                padding-top: 0;
                padding-right: 15px;
                padding-left: 15px;
              }

              >span {
                &.rt {
                  @media screen and (max-width:$mobile) {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    background-color: #2d4f9e;
                    color: #fff;
                    margin-left: -15px;
                    margin-right: -15px;
                    margin-bottom: 20px;
                    padding: 40px 0 15px 15px;

                    &.active {
                      &:before {
                        display: block;
                        width: 20px;
                        content: '';
                        height: 10px;
                        margin-right: 10px;
                        background-image: url(/arquivos/ico-arrow-white.png);
                        background-repeat: no-repeat;
                        background-position: center;
                      }
                    }
                  }
                }
              }

              >div {
                @media screen and (max-width:$mobile) {
                  height: 100%;
                  display: block;
                }

                .menu-navegue {
                  display: none;
                }

                .search-multiple-navigator {
                  display: block !important;

                  @media screen and (max-width:$mobile) {
                    position: relative;
                    height: 100%;
                    overflow: hidden;
                  }

                  h3,
                  h4,
                  .bt-refinar {
                    display: none;
                  }

                  fieldset {
                    &:last-child {
                      div {
                        margin-bottom: 0;
                      }
                    }

                    &.active {
                      @media screen and (min-width:$mobile) {
                        h5 {
                          &:after {
                            transform: rotate(225deg);
                          }
                        }
                      }

                      @media screen and (max-width:$mobile) {
                        >div {
                          right: 0;
                        }
                      }
                    }

                    h5 {
                      font-size: 18px;
                      font-weight: bold;
                      color: $cor-principal;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      border-bottom: 1px solid #D9D9D9;
                      padding: 15px 0;
                      cursor: pointer;

                      @media screen and (max-width:$mobile) {
                        margin-bottom: 20px;
                      }

                      &:after {
                        content: "+";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #164193;
                      }

                      &.actived {
                        &:after {
                          content: "-";
                        }
                      }
                    }

                    h5.actived+div {
                      display: block !important;
                    }

                    div {
                      overflow-x: hidden;
                      display: none !important;

                      @media screen and (min-width:$mobile) {
                        max-height: 280px;
                        margin: 20px 0 50px;
                      }

                      @media screen and (max-width:$mobile) {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        right: -100%;
                        z-index: 1;
                        background-color: white;

                        span.title {
                          display: block;
                          font-size: 18px;
                          font-weight: bold;
                          color: $cor-principal;
                          margin-bottom: 20px;
                        }
                      }

                      label {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        margin-bottom: 10px;
                        cursor: pointer;

                        input {
                          margin-right: 10px;

                          &:checked {
                            &:after {
                              background-color: $cor-principal;
                              background-size: 85%;
                              background-position: center;
                              background-repeat: no-repeat;
                              background-image: url(/arquivos/ico-checked.png);
                            }
                          }

                          &:after {
                            content: '';
                            width: 15px;
                            height: 15px;
                            display: block;
                            border: 1px solid #dcdcdc;
                            background-color: white;
                            transition: background-color 300ms;
                            border-radius: 2px;
                          }
                        }
                      }
                    }
                  }
                }

                .search-single-navigator {
                  display: none !important;
                }
              }

              //BUSCA,BRAND,ETC
              .search-single-navigator {
                h3 {
                  a {
                    order: 1;
                    font-size: 18px;
                    font-weight: 700;
                    color: $cor-principal;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  }
                }

                ul {
                  margin: 15px 0 30px 0;
                }
              }
            }
          }
        }
      }

      .column_2 {
        width: calc(80% - 15px);
        margin-left: 15px;

        @media screen and (max-width:$mobile) {
          width: 100%;
          margin-left: 0px;
        }

        .tags {
          display: flex;

          @media screen and (min-width:$mobile) {
            margin-bottom: -39px;
          }

          @media screen and (max-width:$mobile) {
            width: 100%;
            flex-direction: column;
          }

          /* width */
          ::-webkit-scrollbar {
            width: 20px;
            height: 9px;
          }

          /* Track */
          ::-webkit-scrollbar-track {
            border-radius: 10px;
          }

          /* Handle */
          ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $cor-principal;
          }

          ul {
            display: flex;
            align-items: center;

            @media screen and (min-width:$mobile) {
              max-width: 80%;
              min-height: 30px;
              overflow-x: scroll;
            }

            @media screen and (max-width:$mobile) {
              width: 100%;
              flex-wrap: wrap;
              justify-content: space-between;
            }

            &:empty {
              &+#clear {
                display: none;
              }
            }

            li {
              height: 30px;
              display: flex;
              cursor: pointer;
              padding: 10px 15px;
              border-radius: 3px;
              align-items: center;
              justify-content: space-between;
              background: #F3F3F3;
              border: none;
              border-radius: 100px;
              padding: 10px 15px;

              @media screen and (min-width:$mobile) {
                &:not(:last-child) {
                  margin-right: 10px;
                }
              }

              @media screen and (max-width:$mobile) {
                width: 49%;
                margin-bottom: 7px;
              }

              p {
                max-width: 90%;
                overflow: hidden;
                margin-right: 5px;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #7A7A7A;
              }

              span {
                color: #E43D3D;
                font-size: 19px;
                top: -2px;
                position: relative;

              }
            }
          }

          #clear {
            height: 30px;
            display: flex;
            cursor: pointer;
            margin-left: 15px;
            align-items: center;

            @media screen and (max-width:$mobile) {
              width: 100%;
              margin-left: 0;
              margin-top: 15px;
              justify-content: center;
            }

            img {
              width: 15px;
              height: auto;
              margin-left: 7px;
            }
          }
        }

        .main {
          @media screen and (max-width:$mobile) {
            margin-top: 15px;

            .resultado-busca-filtro {
              display: flex;
              justify-content: space-between;

              span,
              .orderBy {
                width: calc(50% - 5px);
              }
            }

          }

          .searchResultsTime {
            display: none;
          }

          .sub {

            .compare,
            .filterBy {
              display: none;
            }

            .open_filtro {
              background: #F4F7FC;
              border: 1.5px solid #164193;
              border-radius: 3px;
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 18px;
              color: #164193;
              height: 43px;
              display: flex;
              justify-content: center;
              align-items: center;

              &::before {
                content: '';
                display: block;
                position: relative;
                width: 16px;
                height: 16px;
                background-image: url('https://jnakao.vteximg.com.br/arquivos/icone_filtro.png');
                margin-right: 8px;
              }
            }

            .orderBy {
              text-align: right;
              margin-bottom: 15px;

              label {
                display: none;
              }

              select {
                font-family: 'Barlow';

                background: #fff;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #575757;
                padding: 0 8px;
                height: 34px;
                border: 1px solid #D9D9D9;
                border-radius: 3px;
              }

              @media screen and (max-width:$mobile) {
                select {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 15px;
                  line-height: 18px;
                  color: #164193;
                  background: #F4F7FC;
                  border: 1.5px solid #164193;
                  border-radius: 3px;
                  height: 43px;
                  width: 100%;
                }
              }
            }
          }

          .vitrine {
            .pager {
              display: none;
            }

            .prateleira {
              ul {
                margin: 0 -5px;
                display: flex;
                flex-wrap: wrap;

                li {
                  margin: 0 5px 70px;
                  width: calc(100% / 4 - 10px);

                  @media screen and (max-width:$mobile) {
                    width: 100%;
                    margin: 0 0 70px;

                    .product {
                      padding: 7px;
                    }

                    .product_name {
                      font-size: 14px;
                      line-height: 20px;
                    }

                    .product_image {
                      img {
                        max-width: 100%;
                        height: auto;
                      }
                    }

                    .product_price>a .content .column:nth-child(1) .por strong {
                      font-size: 19px;
                      line-height: 22px;
                    }

                    .product_price .content .column .installment {
                      font-size: 13px !important;
                    }

                    .product_status .reward_value {
                      font-size: 12px;
                    }

                    .shelfHead {
                      width: calc(100% - 0px);
                      margin: 0;

                      .flag_retirar,
                      #quickView {
                        display: none;
                      }

                      .flag_discount {
                        width: 50px;
                        font-size: 13px;
                        line-height: 18px;
                      }
                    }

                  }

                  @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                    width: calc(100% / 2);
                    margin: 0 0 70px;
                  }
                }
              }
            }

            .btn-load-more {
              height: 50px;
              background: #FFF7EA;
              border: 1.5px solid #F39200;
              border-radius: 3px;
              display: flex;
              align-items: center;
              flex-direction: column;
              padding-top: 11px;
              cursor: pointer;
              max-width: 380px;
              margin: 0 auto;

              p {
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;
                color: #F39200
              }
            }
          }
        }
      }
    }
  }
}

#returnToTop {
  position: fixed;
  bottom: 30px;
  right: 90px;
  width: 40px;
  height: 40px;
  font-size: 0px;
  display: block;
  cursor: pointer;
  border-radius: 50px;
  background-color: $cor-principal;

  span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '';
      width: 13px;
      height: 13px;
      display: block;
      margin-bottom: -4px;
      transform: rotate(225deg);
      border-right: 2px solid white;
      border-bottom: 2px solid white;
    }
  }
}

body>main>div>div:nth-child(3)>div>div>div.column_2>div>div:nth-child(5) {
  display: none;
}