body {
  &.pag404 {
    .pageError {
      padding-top: 40px;
      padding-bottom: 80px;

      .circle404 {
        width: 290px;
        height: 290px;
        line-height: 260px;
        border: 6px solid $cor-principal;
        background-color: #fff;
        margin: 0 auto;

        -webkit-border-bottom-right-radius: 50%;
        -webkit-border-bottom-left-radius: 50%;
        -moz-border-radius-bottomright: 50%;
        -moz-border-radius-bottomleft: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;

        span {
          display: block;
          font-family: inherit;
          font-size: 128px;
          color: $cor-secundaria;
          text-align: center;
        }
      }

      strong {
        &.pagNaoEncontrada {
          font-family: inherit;
          font-size: 28px;
          text-align: center;
          display: block;
          clear: both;
          margin-top: 10px;
          font-weight: 400;
          color: #515151;
          margin-bottom: 20px;
        }
      }

      .motivos {
        width: 460px;
        margin: 0 auto;
        border: 1px solid #f4f4f4;
        background-color: #f4f4f4;
        padding-top: 15px;
        padding-bottom: 15px;

        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        ul {
          padding-left: 15%;

          li {
            clear: both;
            display: block;

            font-size: 13px;
            line-height: 24px;
            color: #515151;
            font-family: inherit;

            span {
              color: $cor-secundaria;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  body.pag404 .pageError {
    .circle404 {
      margin-top: 40px;
    }

    .motivos {
      width: 100%;

      ul {
        padding-left: 10px;

        li {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  body.pag404 .pageError {
    .circle404 {
      width: 190px;
      height: 190px;
      line-height: 150px;

      span {
        font-size: 70px;
      }
    }

    strong.pagNaoEncontrada {
      font-size: 18px;
    }
  }
}

body {
  &.buscaVazia {
    
    .sugestoes {
      .section-title {
        font-size: 34px;
        font-weight: bold;
        color: $cor-principal;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin: 10px 0 20px;
      }
    }

    .box-emptySearch {
      padding-top: 40px;
      padding-bottom: 80px;

      .top {
        text-align: center;

        img {
          display: inline-block;
          margin-right: 10px;
        }

        h2 {
          display: inline-block;
          font-family: inherit;
          color: $cor-principal;
          font-size: 70px;
          font-weight: 800;
          height: 66px;
          line-height: 66px;
          vertical-align: top;
        }

        h3 {
          display: block;
          clear: both;
          font-family: inherit;
          font-size: 24px;
          font-weight: 400;
          margin-top: 10px;
        }
      }

      .wrap {
        font-family: inherit;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 15px;

        strong {
          font-size: 16px;
          display: block;
          clear: both;
          color: $cor-secundaria;
          font-weight: 400;
        }
      }

      strong {
        &.pagNaoEncontrada {
          font-family: inherit;
          font-size: 28px;
          text-align: center;
          display: block;
          clear: both;
          margin-top: 10px;
          font-weight: 400;
          color: #515151;
          margin-bottom: 20px;
        }
      }

      .motivos {
        width: 520px;
        margin: 0 auto;
        border: 1px solid #f4f4f4;
        background-color: #f4f4f4;
        padding-top: 15px;
        padding-bottom: 15px;

        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        ul {
          padding-left: 10%;

          li {
            clear: both;
            display: block;

            font-size: 13px;
            line-height: 24px;
            color: #515151;
            font-family: inherit;

            span {
              color: $cor-secundaria;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  body.buscaVazia .box-emptySearch {
    .circle404 {
      margin-top: 40px;
    }

    .motivos {
      width: 100%;

      ul {
        padding-left: 10px;

        li {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  body.buscaVazia .box-emptySearch {
    .circle404 {
      width: 190px;
      height: 190px;
      line-height: 150px;

      span {
        font-size: 70px;
      }
    }

    strong.pagNaoEncontrada {
      font-size: 18px;
    }
  }
}