#quick_view {
    position: fixed;
    width: 800px;
    height: auto;
    top: 50%;
    margin-top: -162.5px;
    left: 50%;
    margin-left: -400px;
    transition: all 300ms;
    padding: 15px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    z-index: 99;
    display: block;

    @media screen and (max-width:$mobile) {
        width: calc(100% - 30px);
        height: 80%;
        top: 10%;
        left: 15px;
        margin: 0;
        padding: 10px;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    .head {
        .close {
            color: white;
            font-weight: bold;
            float: right;
            margin-top: -40px;
            margin-right: -15px;
            font-size: 18px;

            @media screen and (max-width:$mobile) {
                margin-right: -10px;
            }
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width:$mobile) {
            height: 100%;
            overflow: scroll;
        }

        >.column {
            &.column_1 {
                width: auto;
                padding-right: 15px;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                }

                .quick_view_image {
                    position: relative;
                    text-align: center;
                    border: 1px solid #dcdcdc;

                    .quick_view_discount {
                        display: flex;
                        width: 51px;
                        height: 64px;
                        position: absolute;
                        top: -15px;
                        left: 0;
                        text-align: center;
                        background-image: url(/arquivos/flag_discount.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        &:empty {
                            display: none;
                        }

                        @media screen and (max-width:$mobile) {
                            top: 0;
                        }

                        p {
                            line-height: 13px;
                            font-size: 15px;
                            font-weight: 700;
                            color: #fff;

                            span {
                                display: block;
                            }
                        }
                    }
                }
            }

            &.column_2 {
                width: 60%;
                padding-left: 15px;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                }

                .quick_view_name {
                    h1 {
                        font-size: 22px;
                        font-weight: 700;
                    }
                }

                .quick_view_price {
                    display: flex;
                    margin: 20px 0;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #dcdcdc;

                    .column {
                        &.column_1 {
                            width: 40%;
                            border-right: 1px solid #dcdcdc;

                            p {
                                font-size: 18px;
                                font-weight: 400;

                                strong {
                                    font-size: 22px;
                                    font-weight: bold;
                                    display: block;
                                    color: $cor-cta;
                                }
                            }
                        }

                        &.column_2 {
                            width: 60%;
                            padding-left: 10px;

                            p {
                                font-size: 18px;
                                font-weight: normal;

                                strong.value {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                /* width */
                ::-webkit-scrollbar {
                    width: 20px;
                    height: 9px;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    border-radius: 10px;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background-color: $cor-principal;
                    border-radius: 10px;
                }

                .quick_view_sku {
                    opacity: 0;
                    visibility: hidden;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #dcdcdc;

                    &.show {
                        opacity: 1;
                        visibility: visible;
                    }

                    p {
                        margin-bottom: 10px;
                    }

                    ul {
                        display: flex;
                        flex-wrap: nowrap;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch;
                        -ms-overflow-style: -ms-autohiding-scrollbar;

                        a {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            font-weight: 700;
                            padding: 5px 15px;
                            border-radius: 50px;
                            background-color: #dcdcdc;
                            margin-right: 5px;
                            margin-bottom: 5px;
                            flex: 0 0 auto;

                            &:empty {
                                display: none;
                            }

                            &.checked {
                                color: #fff;
                                background-color: #42c161;
                                pointer-events: none;
                            }

                            &[data-available="false"] {
                                pointer-events: none;
                                background-color: #eee;
                                color: #bfbfbf;

                                &:after {
                                    content: '';
                                    width: 10px;
                                    height: 10px;
                                    margin-left: 3px;
                                    background-size: 100%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url(/arquivos/ico-false.png);
                                }
                            }

                            &[data-voltagem="110V"] {
                                order: 1;
                            }

                            &[data-voltagem="220V"] {
                                order: 2;
                            }
                        }
                    }
                }

                .quick_view_button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 79%;
                    height: 40px;
                    font-size: 18px;
                    float: right;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $cor-secundaria;
                    background-color: white;
                    transition: all 300ms;
                    border: 2px solid $cor-secundaria;
                    border-radius: 50px;
                    margin-top: 30px;

                    &:hover {
                        @media screen and (min-width:$mobile) {
                            color: #fff;
                            background-color: $cor-secundaria;

                            i {
                                svg {
                                    path {
                                        stroke: #fff;
                                    }
                                }
                            }
                        }
                    }

                    &.loading {
                        font-size: 0;
                        background-size: 30px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ico_loading.gif?v=100);
                        pointer-events: none;

                        i {
                            display: none;
                        }
                    }

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        font-size: 16px;
                        margin-bottom: 15px;
                    }

                    i {
                        margin-right: 7px;

                        svg {
                            width: 24px;
                            height: 24px;
                            margin-bottom: -2px;

                            path {
                                transition: all 300ms;
                                stroke: $cor-secundaria;
                            }
                        }
                    }
                }
            }
        }
    }
}

#continue_buy {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background-color: white;
    z-index: 1;
    display: block;
    height: 265px;
    margin-top: -132.5px;
    padding: 15px;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity 300ms;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    @media screen and (max-width:$mobile) {
        width: calc(100% - 30px);
        height: auto;
        top: 20%;
        left: 15px;
        margin: 0;
    }

    &>.close {
        float: right;
        margin-top: -40px;
        font-weight: bold;
        color: white;
        font-size: 18px;
        margin-right: -15px;
    }

    .content {
        .head {
            padding: 20px 0;
            text-align: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #dcdcdc;

            svg {
                width: 80px;
                height: 84px;
                margin-bottom: 25px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                text-transform: uppercase;

                @media screen and (max-width:$iphone5) {
                    font-size: 14px;
                }
            }
        }

        .footer {
            ul {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width:$mobile) {
                    flex-direction: column;
                }

                li {
                    a {
                        width: 220px;
                        height: 35px;
                        line-height: 35px;
                        font-weight: bold;
                        text-align: center;
                        display: inline-block;
                        text-transform: uppercase;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }

                    &:nth-child(1) {
                        a {
                            font-weight: bold;
                            color: $cor-principal;
                            border: 1px solid $cor-principal;
                        }
                    }

                    &:nth-child(2) {
                        a {
                            background-color: $cor-cta;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.newsletter {
    margin: 60px 0 30px 0px;

    .container {
        background: #164193;
        padding-top: 40px;
        padding-bottom: 40px;

        .col-12 {
            display: flex;
            padding: 0 60px;
            justify-content: space-between;
            align-items: center;
        }

        .text {
            display: flex;
            align-items: center;

            p {
                font-style: normal;
                font-weight: 600;
                font-size: 21px;
                line-height: 25px;
                color: #FFF;
                margin-left: 20px;
                width: 290px;
            }
        }

        .display {
            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
            }

            .input {
                display: flex;
                background: #FFFFFF;
                border: 1px solid #F3F3F3;
                border-radius: 3px;
                padding: 5px 5px 5px 15px;
                margin-top: 5px;

                input {
                    &[type="email"] {
                        padding: 5px 5px 5px 15px;
                        width: 560px;

                    }

                    &[type="submit"] {
                        background: #63BC55;
                        border-radius: 3px;
                        padding: 13px 30px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .container {
            .col-12 {
                padding: 0 25px;
            }

            .display {
                .input {
                    input {
                        &[type="email"] {
                            width: 350px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        .container {
            background: #ECF0F5;

            .col-12 {
                padding: 0 15px;
                display: block;
            }

            .text {
                img {
                    display: none;
                }

                p {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #164193;
                    margin: 0 auto;
                }
            }

            .display {
                margin-top: 20px;

                p {
                    display: none;
                }

                .input {
                    display: block;
                    background: transparent;

                    input {
                        &[type="email"] {
                            width: 100%;
                            padding: 12px 15px;
                            margin-bottom: 10px;
                        }

                        &[type="submit"] {
                            width: 100%;
                            background: #164193;
                        }
                    }
                }
            }
        }
    }
}

footer.footer {
    background: #ECF0F5;
    padding-top: 20px;

    .row {
        .col-12 {
            display: flex;
            justify-content: space-between;

            h2 {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #164193;
                margin-bottom: 20px;
            }

        }

        &:nth-child(1) {
            border-bottom: 1px solid #D2DEEF;
            margin-bottom: 20px;
            padding-bottom: 30px;

            ul {
                li {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 29px;
                    color: #575757;
                }
            }

            .column:nth-child(4),
            .column:nth-child(5) {
                ul {
                    li {
                        display: flex;
                        align-items: flex-start;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 25px;
                        color: #575757;
                        margin-bottom: 4px;

                        img {
                            margin-right: 5px;
                            position: relative;
                            top: 5px;
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            margin-bottom: 20px;

            ul {
                display: flex;
                align-items: center;

                li {
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .column:nth-child(1) {
                max-width: 200px;

                ul {
                    flex-wrap: wrap;

                    li {
                        margin-right: 5px;
                        margin-bottom: 4px;
                    }
                }
            }

        }
    }

    .copyright {
        background: #164193;
        padding: 10px 0;

        p {
            color: #fff;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            padding: 0 15px;
        }
    }

    @media (max-width: 1100px) {
        .row {
            &:nth-child(1) {
                .col-12 {
                    flex-wrap: wrap;

                    .column {
                        width: 33%;
                        margin-bottom: 20px;
                    }
                }
            }

            &:nth-child(2) {
                .col-12 {
                    display: flex;
                    flex-wrap: wrap;

                    .column {
                        width: 50%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        background: #fff;

        .row {
            &:nth-child(1) {
                margin-bottom: 25px;
                padding-bottom: 10px;

                .col-12 {
                    .column {
                        width: 100%;
                        margin-bottom: 5px;

                        h2 {
                            margin-bottom: 15px;
                            font-size: 15px;
                            line-height: 18px;
                            color: #164193;
                            text-transform: uppercase;
                            position: relative;

                            &:after {
                                content: "+";
                                position: absolute;
                                right: 0;
                                font-size: 18px;
                            }
                        }

                        ul {
                            display: none;
                        }

                        &.opened {
                            margin-bottom: 15px;

                            ul {
                                display: block;
                            }

                            h2 {
                                &:after {
                                    content: "-";
                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(2) {
                ul {
                    flex-wrap: wrap;

                    li {
                        margin-top: 5px;
                    }
                }

                .col-12 {
                    .column {
                        width: 100%;
                        max-width: 100%;

                        &:nth-child(1) {
                            order: 2;
                        }

                        &:nth-child(2) {
                            order: 3;
                        }

                        &:nth-child(3) {
                            order: 4;
                        }

                        &:nth-child(4) {
                            order: 1;
                        }
                    }

                    h2 {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #575757;
                    }
                }
            }
        }
    }
}