.facbar {
    background: #ffc107;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    color: #164193;

    &.blue {
        background: #164193;
        color: #fff;
    }
}

.topbar {
    background: #164193;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        &:nth-child(1) {
            margin-right: 35px;

            b {
                font-family: 'Barlow', sans-serif;
                font-weight: 900;
                font-size: 30px;
                height: 40px;
                margin-left: 8px;
            }
        }

        &:nth-child(2) {
            b {
                font-family: 'Barlow', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                margin-left: 8px;

                span {
                    font-weight: 300;
                }
            }
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}

header.header {
    padding: 10px 0;
    font-family: 'Barlow', sans-serif;

    .col-12 {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .logo {
        img {
            max-width: 80px;
        }
    }

    .whatsapp,
    .user {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }

        p {
            span {
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                color: #7A7A7A;
            }

            b {
                display: block;
                color: #164193;
            }
        }
    }

    .whatsapp {
        p {
            b {
                margin-top: 3px;
            }
        }
    }

    .minicart {
        .cart {
            position: relative;
        }

        .qtd {
            color: #164193;
            background: #FFC107;
            width: 22px;
            height: 22px;
            display: flex;
            position: absolute;
            top: -10px;
            right: -12px;
            border-radius: 13px;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 11px;
        }
    }

    .search {
        .input {
            display: flex;
            background: #F4F7FC;
            border: 1px solid #F3F3F3;
            border-radius: 5px;
            padding: 8px 14px 8px 15px;
            border-bottom: 3px solid #D2DEEF;

            input {
                background: transparent;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #164193;
                width: 600px;

                &::placeholder {
                    opacity: 1;
                }
            }

            button {
                width: 42px;
                height: 30px;
                display: block;
                background: url("https://jnakao.vteximg.com.br/arquivos/icon_search.png");

                padding-left: 12px;
                background-repeat: no-repeat;
                background-position: right;
            }

        }

        .result {
            width: 90%;
            top: 53px;
            z-index: 2;
            max-width: 587px;
            position: absolute;
            background-color: white;
            box-shadow: 0 0 16px 2px #d9e4ff;
            max-height: 550px;
            overflow: auto;

            @media screen and (max-width:$mobile) {
                width: calc(100% - 30px);
                top: 133px;
            }

            .digitando {
                display: block;
                margin-bottom: 30px;

                &:empty {
                    display: none;
                }

                p {
                    font-size: 15px;
                    font-weight: bold;
                    font-style: italic;
                    margin-top: 10px;
                    padding: 0 20px;

                    @media screen and (max-width:$mobile) {
                        padding: 0 10px;
                    }

                    a {
                        color: $cor-principal;
                    }
                }
            }

            >ul {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                border-bottom: 4px solid $cor-principal;
                padding: 0 20px;

                @media screen and (max-width:$mobile) {
                    padding: 0 10px;
                }

                &:empty {
                    display: none;
                }

                li {
                    border-top: 1px solid #dcdcdc;
                    border-top: 1px solid #dcdcdc;
                    padding: 5px 0;

                    a {
                        height: 70px;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;

                        .image {
                            width: 15%;
                            height: 100%;
                            overflow: hidden;
                            position: relative;

                            img {
                                width: 60px;
                                height: auto;
                                position: absolute;
                                overflow: hidden;
                                top: 50%;
                                left: 50%;
                                -webkit-transform: translate(-50%, -50%);
                                -moz-transform: translate(-50%, -50%);
                                -ms-transform: translate(-50%, -50%);
                                -o-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                            }
                        }

                        .name {
                            width: 67%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            padding-right: 30px;

                            @media screen and (max-width:$mobile) {
                                width: 60%;
                                padding-right: 10px;
                                padding-left: 10px;
                            }

                            h3 {
                                font-size: 15px;
                                font-weight: 400;
                                display: inline-block;
                                width: 260px;
                                white-space: nowrap;
                                overflow: hidden !important;
                                text-overflow: ellipsis;
                            }
                        }

                        .box_price {
                            width: 18%;
                            height: 100%;
                            display: flex;
                            text-align: left;
                            flex-direction: column;
                            justify-content: center;

                            @media screen and (max-width:$mobile) {
                                width: 25%;
                            }

                            .de_price {
                                display: none;
                                font-size: 12px;
                                font-weight: 400;
                                text-decoration: line-through;
                            }

                            .parcelas {
                                display: none;

                                span {
                                    font-weight: bold;
                                    color: $cor-principal;
                                }
                            }

                            .por_price {
                                font-weight: bold;
                                color: $cor-texto;

                                span {
                                    font-size: 13px;
                                    color: $cor-secundaria;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .menuMobile {
        display: none;
    }

    @media (max-width: 1250px) {
        .search {
            .input {
                input {
                    width: 450px;
                }
            }
        }
    }

    @media (max-width: 1050px) {
        .search {
            .input {
                input {
                    width: 350px;
                }
            }
        }
    }

    @media (max-width: 950px) {
        .col-12 {
            flex-wrap: wrap;
        }

        .search {
            order: 1;
            width: 100%;
            margin-top: 15px;

            .input {
                input {
                    width: 100%;
                }
            }
        }

        .logo {
            width: 50%;
            text-align: left;
        }
    }

    @media (max-width: 850px) {
        .logo {
            width: 40%;
        }
    }

    @media (max-width: 768px) {
        .user {
            display: none;
        }

        .logo {
            text-align: center
        }

        .menuMobile {
            display: block;
        }

    }

    @media (max-width: 520px) {
        padding-top: 30px;

        .logo {
            width: 60px;

            img {
                max-width: 60px;
            }
        }

        .search {
            margin-top: 10px;
        }
    }
}

nav.menu {
    background: #ECF0F5;

    .col-12 {
        display: flex;
        align-items: center;
    }

    .menu_1 {
        width: 200px;
        margin-right: 30px;

        >p {
            background: #164193;
            border-radius: 5px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            padding: 11px 11px;
            position: relative;
            margin: 9px 0px;
            cursor: pointer;

            &:after {
                content: "";
                width: 8px;
                height: 8px;
                display: block;
                position: absolute;
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transform: rotate(-45deg);
                right: 20px;
                top: 15px;
            }
        }

        >nav {
            display: none;
            position: absolute;
            top: 55px;
            background: #fff;
            width: auto;

            >.column_1 {
                background: #fff;
                padding: 15px 0px;
                -webkit-box-shadow: 1px 1px 9px 1px rgba(236, 240, 245, 0.83);
                -moz-box-shadow: 1px 1px 9px 1px rgba(236, 240, 245, 0.83);
                box-shadow: 1px 1px 9px 1px rgba(236, 240, 245, 0.83);
                width: 285px;
                z-index: 2;

                >ul {
                    width: 100%;
                    position: relative;

                    li {
                        position: relative;

                        a {
                            font-size: 15px;
                            font-style: italic;
                            display: block;
                            font-weight: 600;
                            line-height: 28px;
                            position: relative;
                            margin-bottom: 4px;
                            padding: 0 20px;
                            transition: 120ms;

                            &:after {
                                content: "";
                                width: 8px;
                                height: 8px;
                                display: block;
                                position: absolute;
                                border-left: 2px solid #164193;
                                border-bottom: 2px solid #164193;
                                transform: rotate(-135deg);
                                right: 10px;
                                top: 11px;
                            }

                            &.active,
                            &:hover {
                                background-color: #164193;
                                color: #fff;

                                &:after {
                                    border-color: #fff !important;
                                }
                            }
                        }
                    }
                }
            }

            >.column_2 {
                background: #fff;
                display: block;
                z-index: 1;

                >ul {
                    height: 100%;

                    >li {
                        height: 100%;
                        position: absolute;
                        top: 0;
                        z-index: 2;
                        background: #fff;

                        .content {
                            display: none;
                            height: 100%;
                            padding: 20px 25px;
                            -webkit-box-shadow: 1px 1px 9px 1px rgba(236, 240, 245, 0.83);
                            -moz-box-shadow: 1px 1px 9px 1px rgba(236, 240, 245, 0.83);
                            box-shadow: 1px 1px 9px 1px rgba(236, 240, 245, 0.83);

                            .column_1,
                            .column_2 {
                                width: 260px;

                                li {
                                    font-size: 15px;
                                    font-style: italic;
                                    display: block;
                                    font-weight: 600;
                                    line-height: 28px;
                                    position: relative;
                                    margin-bottom: 4px;
                                }
                            }

                            .column_3 {
                                display: none;
                            }

                            &.active {
                                display: flex;
                            }
                        }

                    }
                }
            }
        }

        @media (hover) {
            &:hover {
                >nav {
                    display: flex;
                }
            }
        }
    }

    .menu_2 {
        width: calc(100% - 240px);

        >ul {
            display: flex;
            justify-content: space-between;

            >li {
                padding: 10px 0;

                >a {
                    display: flex;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #164193;
                    align-items: center;

                    img {
                        margin-right: 8px;
                    }
                }

                .submenu {
                    position: absolute;
                    width: calc(100% - 30px);
                    background: #fff;
                    left: 50%;
                    transform: translatex(-50%);
                    top: 57px;
                    -webkit-box-shadow: 1px 1px 9px 1px rgba(236, 240, 245, 0.83);
                    -moz-box-shadow: 1px 1px 9px 1px rgba(236, 240, 245, 0.83);
                    box-shadow: 1px 1px 9px 1px rgba(236, 240, 245, 0.83);
                    padding: 20px 25px;
                    border-top: 2px solid #164193;
                    z-index: 9;

                    .column {
                        width: 25%;
                    }

                    li {
                        font-size: 15px;
                        font-style: italic;
                        display: block;
                        font-weight: 600;
                        line-height: 26px;
                    }
                }

                &:hover {
                    .submenu {
                        display: flex;
                    }

                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        border-left: 11px solid transparent;
                        border-right: 11px solid transparent;
                        border-bottom: 11px solid #164193;
                        top: 48px;
                        transform: translatex(5px);
                        z-index: 2;

                    }
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .menu_2 {
            >ul {
                >li {
                    >a {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        .menu_1 {
            // display: none
            display: block;
            position: fixed;
            top: 0;
            right: 85vw;
            left: -85vw;
            bottom: 0;
            background: #fff;
            z-index: 99;
            width: 85vw;
            opacity: 0;
            transition: 235ms;

            &.active {
                opacity: 1;
                right: 0;
                left: 0;
            }

            .headMobile {
                display: block !important;
                background: #164193;
                padding: 25px 20px 0px 20px;

                span {
                    color: #fff;

                    &.title {
                        font-size: 14px;
                        font-weight: 500;
                        padding-bottom: 15px;
                        display: block;

                        .user {
                            filter: brightness(0) invert(1);
                            display: flex;

                            img {
                                margin-right: 10px;
                            }

                            b {
                                display: block;
                            }

                        }
                    }

                    &.close {
                        position: absolute;
                        right: 20px;
                        top: 12px;
                        font-size: 18px;
                        font-weight: 600;
                    }

                    &.back,
                    &.name {
                        display: none;
                    }

                    &.name.actived {
                        cursor: pointer;
                        display: block;
                        background: #fff;
                        color: #333;
                        margin: 0 -20px;
                        padding: 10px 20px;
                        font-weight: bold;
                        font-size: 16px;
                        letter-spacing: 0.8px;
                        margin-top: 0px;
                    }

                    &.back.actived {
                        cursor: pointer;
                        display: block;
                        background: #ffc107;
                        color: #333;
                        margin: 0 -20px;
                        padding: 10px 20px;
                        font-weight: bold;
                        font-size: 16px;
                        letter-spacing: 0.8px;
                    }
                }
            }

            >p {
                display: none;
            }

            >nav {
                display: block;
                width: 100%;
                position: relative;
                top: 0;

                >.column_1 {
                    width: 100%;
                    box-shadow: none;
                    height: calc(100vh - 140px);
                    overflow: auto;

                    >ul {
                        li {
                            a {
                                margin-bottom: 15px;

                                &::after {
                                    right: 20px;
                                }
                            }
                        }
                    }
                }

                &.opened {
                    >.column_1 {
                        display: none;
                    }

                    >.column_2 {
                        li.actived {
                            display: block;
                            position: relative;

                            .content {
                                display: block;
                                height: calc(100vh - 190px);
                                overflow: auto;
                            }
                        }
                    }
                }
            }
        }

        .menu_2 {
            width: 100%;
            overflow: auto;

            ul {
                width: 100%;
            }
        }
    }

    @media (max-width: 850px) {

        .menu_2 {
            ul {
                width: 850px;
            }
        }
    }
}