.home {
    .mainbanner {
        margin-top: 15px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .tipbar {
        margin: 20px 0;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                display: flex;
                align-items: center;
                border: 2.5px solid #164193;
                border-radius: 100px;
                padding: 5px 25px;
                height: 60px;

                img {
                    margin-right: 10px;
                }

                p {
                    span {
                        font-family: 'Barlow';
                        display: block;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        color: #7A7A7A;
                    }

                    b {
                        color: #164193;
                    }
                }
            }
        }
    }

    .marcas {
        margin: 80px 0;

        .box-banner {
            display: flex !important;
            justify-content: center;
        }
    }

    .categories {
        margin: 50px 0;

        .col-12 {
            >h2 {
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 30px;
                text-transform: uppercase;
                color: #164193;
                text-align: center;
                margin-bottom: 35px;
            }
        }

        ul {
            display: flex;

            li {
                height: 100%;
                text-align: center;
                background: #ECF0F5;
                border-radius: 3px;
                padding: 15px 15px 20px 15px;

                img {
                    margin: 0 auto;
                    max-width: 100%;
                }

                h2 {
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 30px;
                    color: #164193;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 15px 0px 115px 0px;
                    background: #FFFFFF;
                    border-radius: 3px;
                    margin-bottom: -100px;
                    min-height: 190px;
                }
            }
        }

        .slick-slide {
            margin: 0 2.5px;
            height: inherit !important;

            div {
                height: 100%;
            }
        }

        .slick-track {
            display: flex !important;
        }

        .slick-list {
            margin: 0 -2.5px;
        }
    }

    .topbanner {
        .banners {
            display: flex !important;
            justify-content: space-between;

            .box-banner {
                width: calc(33% - 2.5px);

                img {
                    width: 100%;
                    height: auto;
                }

            }
        }

        ul {
            display: flex;
            justify-content: space-between;

            li {
                width: calc(33% - 2.5px);

                img {
                    width: 100%;
                }

            }
        }
    }

    .middlebanner {
        margin: 45px 0;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                width: calc(50% - 5px);

                img {
                    width: 100%;
                }

            }
        }

        .banners {
            display: flex !important;
            justify-content: space-between;

            .box-banner {
                width: calc(50% - 5px);

                img {
                    width: 100%;
                    height: auto;
                }

            }
        }
    }

    .slick-arrow {
        width: 36px;
        height: 40px;
        font-size: 0;
        background-image: url(/arquivos/slick_arrow_l.png);

        &.slick-next {
            transform: rotate(0);
            background-image: url(/arquivos/slick_arrow.png);
        }
    }

    @media (min-width: 768px) {
        .mainbanner {
            .mobile {
                display: none !important;
            }
        }
    }

    @media (max-width: 768px) {
        .mainbanner {
            .desktop {
                display: none !important;
            }
        }
    }

    @media (max-width: 768px) {
        .categories {
            ul li {
                h2 {
                    font-size: 18px;
                    padding: 15px 0px 105px 0px;
                }
            }
        }

        .topbanner {
            ul {
                display: block;

                li {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }

        .tipbar {
            ul {
                li {
                    display: flex !important;
                    justify-content: center;
                }
            }
        }

        .middlebanner {
            ul {
                display: block;

                li {
                    width: 100%;
                    margin-bottom: 5px;
                }
            }
        }
    }
}