body {
  &.institucional {
    #mainContent {
      .wrapper {
        max-width: 1130px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    button {
      &.selectFake.selecione {
        display: none;
      }
    }

    img.titulo {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .sidebar {
      width: 290px;
      float: left;
      border-bottom: 0;

      h2 {
        display: block;
        clear: both;
        font-family: inherit;
        font-size: 24px;
        text-transform: uppercase;
        color: $cor-principal;
        margin-bottom: 20px;
      }

      fieldset {
        ul {
          li {
            a {
              border: 1px solid $cor-principal;
              color: $cor-principal;
              font-family: inherit;
              font-weight: 800;
              font-size: 13px;
              text-align: center;
              text-transform: uppercase;
              display: block;
              height: 48px;
              line-height: 48px;
              margin-bottom: 8px;

              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;

              -moz-transition: all 0.3s;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;

              &.ativo,
              &:hover {
                color: #fff;
                background-color: $cor-principal;
                text-decoration: none;
              }
            }
          }
        }
      }

      .wrapper-itens {
        display: none;
      }
    }

    .wrapperContent {
      width: calc(100% - 320px);
      max-width: 790px;
      float: right;
      padding-top: 50px;

      h2 {
        font-family: inherit;
        font-style: normal;
        color: #000;
        font-size: 18px;
        width: 100%;
        font-weight: 400;
        display: block;
        border-bottom: 1px solid #DBDBDB;
        padding-bottom: 8px;
        margin-bottom: 20px;
      }

      p {
        font-family: inherit;
        letter-spacing: normal;
        line-height: 22px;
        display: block;
        clear: both;
        font-size: 13px;
        font-weight: 200;
        margin-bottom: 25px;
        color: #000;
      }
    }
  }

  &.quem-somos {
    #main {
      .wrapperContent {
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }

  &.nossa-loja {
    i {
      font-size: 1.65rem;
      color: $cor-secundaria;
      position: relative;
      top: 2px;
    }

    h2.linha {
      font-size: 1.4375rem !important;
      color: $cor-principal !important;
      border-bottom: 0 !important;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;

      &.map {
        margin-bottom: 10px !important;
      }
    }

    h3.email {
      font-size: 14px !important;
      color: $cor-principal !important;
      padding-left: 35px !important;
      margin-top: 15px !important;
      margin-bottom: 15px !important;
    }

    span.data {
      padding-left: 35px;
      display: block;
      font-size: 12px;
      margin-bottom: 20px;
    }

    p {
      img.nossaloja {
        width: 100%;
        height: auto;
        display: block;
      }

      iframe {
        width: 100%;
      }
    }
  }

  &.duvidas-frequentes {
    .perguntas {
      .pergunta {
        border-bottom: 1px solid #DBDBDB;
        padding-bottom: 20px;
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 20px;

        label {
          width: 100%;
          clear: both;
          display: block;
          font-family: inherit;
          color: black;
          letter-spacing: normal;
          cursor: pointer;
          text-transform: uppercase;

          -moz-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;

          span {
            width: calc(100% - 40px);
            display: block;
            font-size: 14px;
            float: left;
          }

          i {
            float: right;
            font-style: normal;
            display: block;
            font-size: 0;
            margin-right: 10px;
            width: 21px;
            height: 21px;
            line-height: 21px;
            text-align: center;
            background-color: #DBDBDB;

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;

            &:after {
              color: #fff;
              content: '+';
              font-size: 24px;
              display: block;
            }
          }

          &:hover {
            color: $cor-secundaria;
          }
        }

        .resposta {
          padding-top: 15px;
          width: 100%;
          display: none;

          p {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &.ativo {
          border-bottom: 1px solid $cor-secundaria;

          label {
            color: $cor-secundaria;
            font-size: 14px;

            i {
              font-size: 0;
              background-color: $cor-secundaria;

              &:after {
                content: '-';
              }
            }
          }
        }
      }
    }
  }

  &.fale-conosco {
    p {
      margin-bottom: 0;
    }

    .top {
      strong {
        color: #515151;
        display: block;
        margin-top: 25px;
        text-transform: uppercase;
        font-family: inherit;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 600;
      }

      ul {
        margin-top: 10px;

        li {
          color: $cor-secundaria;
          letter-spacing: normal;
          margin-bottom: 8px;

          &.horario {
            padding-left: 25px;
            font-size: 12px;
            letter-spacing: normal;
            font-weight: 300;
            color: #000;
            margin-bottom: 0;
          }

          i {
            font-size: 1rem;
            color: $cor-secundaria;
            position: relative;
            top: 2px;
            margin-right: 5px;
          }

          span {
            font-size: 1rem !important;
            color: $cor-principal !important;
            border-bottom: 0 !important;
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
          }
        }
      }
    }

    form {
      margin-top: 40px;

      .wrap {
        overflow: hidden;
        clear: both;
        width: 100%;
        margin-bottom: 20px;

        .item {
          label {
            display: block;
            clear: both;
            font-family: inherit;
            font-size: 13px;
            color: black;
            letter-spacing: normal;
            margin-bottom: 5px;
          }

          &.duplo {
            width: calc(50% - 10px);
            float: left;

            &.assunto {
              float: left !important;
              position: relative;

              button {
                width: 100%;
                height: 38px;
                clear: both;
                border: 1px solid #DBDBDB;
                padding-left: 10px;
                text-align: left;

                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;

                &.error {
                  border-color: red;
                }

                span {
                  font-family: inherit;
                  letter-spacing: normal;
                  height: 38px;
                  letter-spacing: normal;

                  color: black;
                  font-family: inherit;
                  font-size: 11px;
                  font-weight: 400;

                  &:before {
                    content: '\25bc';
                    color: $cor-principal;
                    position: relative;
                    float: right;
                    margin-right: 8px;
                    margin-left: 8px;
                    margin-top: 0px;
                    font-size: 12px;
                  }
                }

                &:focus {
                  outline: none;
                }
              }

              select {
                position: absolute;
                width: 100%;
                height: 38px;
                cursor: pointer;
                bottom: 0;
                left: 0;
                opacity: 0;
              }
            }

            &.campos {
              label {
                color: #818181;
                font-size: 12px;
                letter-spacing: normal;
              }
            }

            &.mensagem {
              display: none;

              span {
                font-family: inherit;
                letter-spacing: normal;
                font-size: 12px;
                text-align: right;
                color: $cor-secundaria;
                display: block;
                clear: both;
              }
            }

            &.botao {
              button {
                width: 290px;
                height: 42px;
                line-height: 42px;
                border: 1px solid $cor-secundaria;
                background-color: $cor-secundaria;
                color: #fff;
                font-weight: 600;
                font-size: 14px;
                font-family: inherit;
                letter-spacing: normal;
                text-transform: uppercase;
                cursor: pointer;
                text-align: center;
                float: right;

                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;

                -moz-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;

                &:hover {
                  background-color: $cor-principal;
                  border: 1px solid $cor-principal;
                  color: #fff;
                }

                &:focus {
                  outline: none;
                }
              }
            }

            input {
              width: 100%;
              height: 38px;
              clear: both;
              border: 1px solid #DBDBDB;
              padding-left: 10px;
              color: black;
              font-family: inherit;
              font-size: 11px;
              font-weight: 400;

              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;

              &::-webkit-input-placeholder {
                color: black;
                font-family: inherit;
                font-size: 11px;
                font-weight: 400;
                font-family: inherit;
              }

              &::-moz-placeholder {
                color: black;
                font-family: inherit;
                font-size: 11px;
                font-weight: 400;
                font-family: inherit;
              }

              &:-ms-input-placeholder {
                color: black;
                font-family: inherit;
                font-size: 11px;
                font-weight: 400;
                font-family: inherit;
              }

              &:-moz-placeholder {
                color: black;
                font-family: inherit;
                font-size: 11px;
                font-weight: 400;
                font-family: inherit;
              }

              &.error {
                border-color: red;
              }

              &:focus {
                outline: none;
              }
            }

            &:last-child {
              float: right;
            }
          }

          &.unico {
            textarea {
              width: 100%;
              height: 120px;
              clear: both;
              border: 1px solid #DBDBDB;
              padding-left: 10px;
              padding-top: 10px;

              color: black;
              font-family: inherit;
              font-size: 11px;
              font-weight: 400;
              font-family: inherit;

              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;

              &::-webkit-input-placeholder {
                color: black;
                font-family: inherit;
                font-size: 11px;
                font-weight: 400;
                font-family: inherit;
              }

              &::-moz-placeholder {
                color: black;
                font-family: inherit;
                font-size: 11px;
                font-weight: 400;
                font-family: inherit;
              }

              &:-ms-input-placeholder {
                color: black;
                font-family: inherit;
                font-size: 11px;
                font-weight: 400;
                font-family: inherit;
              }

              &:-moz-placeholder {
                color: black;
                font-family: inherit;
                font-size: 11px;
                font-weight: 400;
                font-family: inherit;
              }

              &.error {
                border-color: red;
              }

              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  body {
    &.institucional {
      button {
        &.selectFake.selecione {
          background-color: $cor-principal;
          border: 0;
          display: block;
          font-family: inherit;
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          letter-spacing: normal;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          width: 100%;
          margin: 0 auto;
          height: 54px;
          line-height: 54px;

          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;

          -moz-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;

          &.ativo {
            &:before {
              -moz-transform: rotate(-180deg);
              -webkit-transform: rotate(-180deg);
              -o-transform: rotate(-180deg);
              -ms-transform: rotate(-180deg);
              transform: rotate(-180deg);

              -moz-transition: all 0.3s;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
            }
          }

          &:before {
            content: '\25bc';
            color: #fff;
            position: relative;
            float: right;
            margin-right: 8px;
            margin-left: 8px;
            margin-top: 0px;
            font-size: 12px;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .bannerTopo {
        display: none;
      }

      .sidebar {
        position: absolute;
        top: 54px;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: #fff;
        padding: 20px;
        border: 0;
        float: inherit;
        display: none;

        fieldset ul li a {
          text-align: left;
          border: 0;
          color: black;
          font-size: 12px;
          font-weight: 300;
          height: auto;
          line-height: 28px;
          margin-bottom: 0;
          letter-spacing: normal;

          &.ativo {
            background-color: transparent;
            color: $cor-secundaria;
          }
        }
      }

      .wrapperContent {
        width: 100%;
        float: inherit;
        margin-top: 0px;

        h2 {
          text-align: center;
          font-size: 16px;
        }

        p {
          font-size: 13px;
          text-align: justify;
        }
      }

    }
  }
}

@media screen and (max-width: $mobile) {
  body {
    &.fale-conosco form {
      .wrap {
        .item {
          &.duplo {
            width: 100% !important;
            float: inherit !important;

            &.assunto {
              margin-top: 0 !important;

              button {
                line-height: 38px !important;
              }
            }

            &.botao {
              button {
                width: 100% !important;
              }
            }

            &:last-child {
              margin-top: 20px;
              float: inherit !important;
            }
          }
        }
      }
    }
  }
}