body.marcas {
    .section-title {
        margin: 30px auto;
    }

    .banner-marcas {
        .box-banner {
            width: calc((100% / 4) - 10px);
            float: left;
            margin-right: 10px;
            min-height: 170px;
            padding: 0 30px;

            &:nth-of-type(4n+0) {
                margin-right: 0;
            }

            img {
                width: 100% !important;
                height: auto !important;
            }

            @media screen and (min-width:$mobile) and (max-width:$tablet) {
                width: calc((100% / 3) - 10px);
                padding: 0 15px;

                &:nth-of-type(4n+0) {
                    margin-right: 10px;
                }

                &:nth-of-type(3n+0) {
                    margin-right: 0;
                }
            }

            @media screen and (max-width:$mobile) {
                width: calc((100% / 2) - 10px);
                min-height: 80px;
                padding: 0 10px;

                &:nth-of-type(4n+0) {
                    margin-right: 10px;
                }

                &:nth-of-type(3n+0) {
                    margin-right: 10px;
                }

                &:nth-of-type(2n+0) {
                    margin-right: 0px;
                }
            }
        }
    }
}