.prateleira {
    .product {
        position: relative;
        padding: 15px;
        margin: 2px 0;

        .shelfHead {
            position: absolute;
            width: calc(100% - 40px);
            display: block;
            margin: 15px;

            .flag_discount {
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                color: #000000;
                background: #FFC107;
                padding: 4px 6px;
                border-radius: 5px;
                display: inherit;
                width: 60px;
                text-align: center;
            }

            .flag_retirar {
                margin-top: 10px;

                .flag {
                    display: none;

                    &.retirar-na-loja {
                        display: block;
                        background: #ECF0F5;
                        padding: 4px 6px;
                        border-radius: 5px;
                        width: 60px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 11px;
                        line-height: 13px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #164193;
                    }
                }
            }

            #quickView {
                position: absolute;
                right: 15px;
                top: 0;
            }
        }

        &_image {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        &_info {
            .flag-frete_gratis {
                min-height: 25px;
                margin: 5px 0;

                .flag {
                    display: none;
                    width: 50%;
                    height: 30px;
                    font-size: 0;

                    .frete-gratis {}

                    @media (max-width: $mobile) {
                        height: 25px;

                        &.nakao-express {
                            display: block;
                            width: 100%;
                            background: url("/arquivos/mobile-3hr.png?v=2");
                            background-position: center;
                            background-repeat: no-repeat;
                            margin: 5px 0;
                        }

                        &.entrega-em-24horas {
                            display: block;
                            width: 100%;
                            background: url("/arquivos/mobile-24hr.png");
                            background-position: center;
                            background-repeat: no-repeat;
                            margin: 5px 0;
                        }
                    }
                }
            }

            .product_name {
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                color: #575757;
                min-height: 48px;
            }

            .product_price {
                margin-top: 10px;
                min-height: 70px;

                >a {
                    .content {
                        display: block !important;

                        .column {
                            &:nth-child(1) {
                                .por {
                                    margin-top: 4px;

                                    strong {
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 25px;
                                        line-height: 22px;
                                        color: #164193;
                                    }
                                }
                            }

                            &:nth-child(2) {
                                .installment {
                                    margin-top: 2px;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: #575757;

                                    strong {
                                        color: #164193;
                                    }

                                    br {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &_status {
            .reward_value {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #164193;
                margin-top: 15px;
            }

            .list_flags {
                margin-top: 15px;
                display: flex;

                .flag {
                    display: none;
                    width: 50%;
                    height: 30px;
                    font-size: 0;
                    background-repeat: no-repeat !important;
                    background-size: 100% !important;

                    &.entrega-em-24horas {
                        display: block;
                        width: 110px;
                        background: url('/arquivos/icon_24h-shelf.png?v=2');
                        margin-right: 5px;
                    }

                    &.nakao-express {
                        display: block;
                        width: 105px;
                        background: url('/arquivos/icon_3h-shelf.png?v=2');
                        margin-right: 5px;
                    }
                }

                @media (max-width:$mobile) {
                    display: none;
                }
            }
        }

        .list_sku {
            min-height: 27px;

            ol {
                display: flex;

                a {
                    background: #ECF0F5;
                    border-radius: 100px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: #164193;
                    padding: 4px 12px;
                    margin-right: 5px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &.checked {
                        border: 1px solid #164193;
                    }

                    &[data-available="false"] {
                        border: 1px solid #EFEFEF !important;
                        background: #EFEFEF;
                        color: #7A7A7A;

                        &:after {
                            content: "x";
                            font-size: 14px;
                            line-height: 17px;
                            color: #E43D3D;
                            margin-left: 5px;
                        }
                    }
                }

            }
        }

        .sold_out {
            margin-top: 20px;
            color: #164193;
            font-weight: bold;
            font-size: 16px;
            line-height: 23px;
        }

        .btn_buy {
            background: #63BC55;
            border-radius: 4px;
            display: block;
            padding: 12px;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            font-weight: 600;
            margin-top: 20px;
            opacity: 0;
        }

        &:hover {
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

            .btn_buy {
                opacity: 1;
            }
        }

        @media (max-width: 768px) {
            max-width: 300px;

            .btn_buy {
                opacity: 1 !important;
            }
        }
    }

    >ul li article .product_info .product_price {
        height: auto !important;
    }
}

.customshelf {
    margin-bottom: 20px;
    margin-top: 50px;

    h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
        text-transform: uppercase;
        color: #164193;
        text-align: center;
        margin-bottom: 30px;
    }

    .slick-list {
        padding: 0 6px;
    }
}