.produto {

    header .search .result,
    nav {
        @media screen and (min-width:$mobile) {
            z-index: 3 !important;
        }
    }

    .bread-crumb {
        background: #F5F5F5;
        margin: 0px 0px 9px 0px;

        ul {
            position: relative;
            z-index: 2;
        }

        &:before {
            content: "";
            width: 100vw;
            height: 100%;
            display: block;
            position: absolute;
            background: #F5F5F5;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    main {
        margin-bottom: 50px;

        >.container {
            >.row {
                &:nth-child(2) {
                    >div {
                        &:nth-child(1) {

                            .flag_collection,
                            .flag_discount_prod {
                                display: none;
                            }

                            .apresentacao {
                                @media screen and (max-width:$mobile) {
                                    margin-bottom: 30px;
                                }

                                #show {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: row;

                                    #include {
                                        width: 90%;

                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                            margin-bottom: 40px;
                                        }

                                        @media screen and (min-width:$mobile) {
                                            order: 2;
                                            padding-left: 15px;
                                        }

                                        #image {
                                            position: relative;
                                            overflow: hidden;
                                            border: 1px solid white;
                                            transition: border 300ms;

                                            &:hover {
                                                border-color: #dcdcdc;
                                            }

                                            #image-main {
                                                width: 100%; //79
                                                height: auto;

                                                @media screen and (max-width:$mobile) {
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }

                                    .thumbs {
                                        width: 10%;

                                        @media screen and (min-width:$mobile) {
                                            height: 620px;
                                            padding: 30px 0;

                                            .slick-list {
                                                min-height: 570px;
                                            }

                                            .slick-arrow {
                                                margin: 0;

                                                &.slick-next {
                                                    top: auto;
                                                    bottom: 0;
                                                    right: 35%;
                                                    transform: rotate(-90deg);
                                                }

                                                &.slick-prev {
                                                    top: 20px;
                                                    left: 35%;
                                                    transform: rotate(90deg);
                                                }
                                            }
                                        }

                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                            display: flex;
                                            flex-wrap: wrap;
                                            flex-direction: row;

                                            .slick-arrow {
                                                top: 65%;
                                            }
                                        }

                                        li {
                                            margin-bottom: 10px;

                                            @media screen and (max-width:$mobile) {
                                                width: 80px;
                                                height: 80px;
                                            }

                                            a {
                                                display: block;

                                                img {
                                                    width: 100%;
                                                    height: auto;

                                                    @media screen and (max-width:$mobile) {
                                                        width: 80px;
                                                        height: 80px;
                                                    }
                                                }
                                            }
                                        }

                                        @media screen and (min-width:$mobile) {
                                            order: 1;
                                        }
                                    }
                                }
                            }
                        }

                        &:nth-child(2) {
                            margin-top: 30px;

                            .product_info {
                                padding: 30px;
                                background: #FFFFFF;
                                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

                                .productName {
                                    font-family: 'Barlow';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 23px;
                                    line-height: 30px;
                                    color: #575757;
                                }

                                .product_ref {
                                    margin: 15px 0 5px 0px;

                                    .skuReference {
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 17px;
                                        color: #575757;

                                        &:before {
                                            content: "REF:";
                                        }
                                    }
                                }

                                .flag-product {
                                    margin-top: 15px;
                                    display: flex;

                                    .flag {
                                        display: none;
                                        width: 50%;
                                        height: 30px;
                                        font-size: 0;

                                        &.entrega-em-24horas {
                                            display: block;
                                            width: 110px;
                                            background: url('/arquivos/icon_24h-shelf.png?v=2')
                                        }

                                        &.nakao-express {
                                            display: block;
                                            width: 105px;
                                            background: url('/arquivos/icon_3h-shelf.png?v=2');
                                            margin-right: 5px;
                                        }
                                    }
                                }

                                .box_1 {
                                    margin-top: 20px;

                                    .column_1 {
                                        width: 100% !important;
                                        position: relative;

                                        .productPrice {
                                            .valor-de {
                                                font-weight: 400;
                                                font-size: 14px;
                                                line-height: 17px;
                                                text-decoration-line: line-through;
                                                color: #575757;
                                                margin-bottom: 7px;
                                            }

                                            .valor-por {
                                                display: flex !important;
                                                font-style: normal;
                                                font-weight: 700;
                                                font-size: 25px;
                                                line-height: 26px;
                                                color: #575757;

                                                .flag_discount {
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    font-size: 13px;
                                                    line-height: 17px;
                                                    color: #000000;
                                                    background: #FFC107;
                                                    padding: 4px 6px;
                                                    border-radius: 5px;
                                                    display: inherit;
                                                    width: 47px;
                                                    text-align: center;
                                                    justify-content: center;
                                                    margin-left: 15px;
                                                }

                                                .skuBestPrice {
                                                    margin-left: 5px;
                                                }
                                            }

                                            .economia-de {
                                                background: #FFF7EA;
                                                border: 1.5px solid #F39200;
                                                border-radius: 3px;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 13px;
                                                line-height: 26px;
                                                color: #F39200;
                                                padding: 1px 16px;
                                                display: inline-block;
                                                margin: 15px 0;

                                            }

                                            .valor-dividido,
                                            .preco-a-vista {
                                                display: none !important;
                                            }
                                        }

                                        #div_content_rewardValue {
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 15px;
                                            line-height: 18px;
                                            color: #164193;
                                            display: flex;

                                            .lblRewardValue {
                                                margin-left: 5px;
                                            }
                                        }
                                    }

                                    .column_2 {
                                        margin-top: 20px;
                                        display: flex;

                                        label {
                                            display: inline-block;
                                        }

                                        .installments_custom {
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 22px;
                                            color: #575757;

                                            .skuBestInstallmentNumber {
                                                font-weight: 600;
                                            }
                                        }

                                        .valor_total {
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 14px;
                                            line-height: 24px;
                                            color: #575757;
                                        }

                                        .other-payment-method-content {
                                            margin-left: 10px;

                                            .see-other-payment-method-link {
                                                display: none;
                                            }

                                            .titulo-parcelamento {
                                                margin-left: 20px;
                                                font-weight: 600;
                                                font-size: 13px;
                                                line-height: 22px;
                                                text-decoration-line: underline;
                                                color: #164193;
                                                cursor: pointer;
                                            }

                                            .other-payment-method-ul {
                                                display: none;
                                                position: absolute;
                                                padding: 10px 20px;
                                                background: #ECF0F5;
                                                margin-top: 5px;
                                                z-index: 2;

                                                li {
                                                    margin-bottom: 8px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .box_2 {
                                    margin-top: 20px;
                                    display: flex;
                                    // justify-content: space-between;

                                    >div {
                                        max-width: 50%;

                                        &.column_1 {
                                            ul {
                                                li.specification {
                                                    font-weight: 400;
                                                    font-size: 15px;
                                                    line-height: 22px;
                                                    color: #575757;
                                                }

                                                li.select {
                                                    margin-top: 10px;
                                                    margin-right: 30px;

                                                    span {
                                                        display: flex;
                                                    }

                                                    input {
                                                        display: none;
                                                    }

                                                    label {
                                                        background: #ECF0F5;
                                                        border-radius: 100px;
                                                        font-style: normal;
                                                        font-weight: 600;
                                                        font-size: 14px;
                                                        line-height: 17px;
                                                        color: #164193;
                                                        padding: 6px 12px;
                                                        margin-right: 5px;

                                                        &.checked {
                                                            background: #164193;
                                                            color: #fff;
                                                        }

                                                        &.item_unavailable {
                                                            background: #EFEFEF;
                                                            color: #7A7A7A;

                                                            &:after {
                                                                content: "X";
                                                                color: #E43D3D;
                                                                margin-left: 4px;
                                                                font-size: 12px;
                                                                top: -1px;
                                                                position: relative;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        &.column_2 {
                                            .box_count {
                                                p {
                                                    font-weight: 400;
                                                    font-size: 15px;
                                                    line-height: 22px;
                                                    color: #575757;
                                                }

                                                .content {
                                                    display: flex;
                                                    border: 1.5px solid #D9D9D9;
                                                    border-radius: 5px;
                                                    width: 120px;
                                                    justify-content: space-between;
                                                    padding: 8px 15px 9px 15px;
                                                    margin-top: 10px;

                                                    a {
                                                        font-weight: 700;
                                                        font-size: 20px;
                                                        line-height: 22px;
                                                        color: #575757;
                                                    }

                                                    input {
                                                        width: 40px;
                                                        text-align: center;
                                                        font-family: 'Barlow';
                                                        font-style: normal;
                                                        font-weight: 500;
                                                        font-size: 16px;
                                                        line-height: 22px;
                                                        color: #575757;

                                                        &::-webkit-outer-spin-button,
                                                        &::-webkit-inner-spin-button {
                                                            -webkit-appearance: none;
                                                            margin: 0;
                                                        }

                                                        /* Firefox */
                                                        &[type=number] {
                                                            -moz-appearance: textfield;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .box_btn_buy {
                                    margin-top: 25px;

                                    .buy-in-page-quantity {
                                        display: none !important;
                                    }

                                    .buy-in-page-button {
                                        background: #63BC55;
                                        border-radius: 3px;
                                        display: flex;
                                        padding: 10px 0;
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 22px;
                                        line-height: 30px;
                                        text-align: center;
                                        text-transform: uppercase;
                                        color: #FFFFFF !important;
                                        justify-content: center;
                                    }

                                    >.notifyme {
                                        display: block !important;

                                        .notifymetitle {
                                            font-size: 20px;
                                        }

                                        form {
                                            margin-top: 15px;

                                            p {
                                                margin-bottom: 10px;
                                            }
                                        }

                                        #notifymeClientName,
                                        #notifymeClientEmail {
                                            display: block;
                                            width: 100%;
                                            border: 1px solid #575757;
                                            border-radius: 5px;
                                            padding: 10px;
                                            margin-bottom: 10px;
                                        }

                                        #notifymeButtonOK {
                                            display: block;
                                            background: #575757;
                                            color: #fff;
                                            width: 60px;
                                            padding: 11px;
                                            border-radius: 5px;
                                            color: #fff;
                                            font-weight: bold;
                                            letter-spacing: 1px;
                                            float: right;
                                        }
                                    }
                                }
                            }

                            @media (max-width: $mobile) {
                                .product_info {
                                    padding: 0px;
                                    background: #FFFFFF;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    margin-top: 50px;
                }
            }
        }
    }

    #overlay.popupSelo {
        opacity: 1;
        visibility: visible;
    }

    #selo24h,
    #selo2h {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 13;

        &.actived {
            display: block;
        }

        img {
            max-width: 100%;
        }

        span {
            position: absolute;
            top: -35px;
            cursor: pointer;
            right: 0;
            font-weight: bold;
            font-size: 16px;
            color: #fff;
        }
    }

    .selos {
        width: 65%;
        text-align: center;

        img {
            width: 140px;
        }

        .selo24h {
            margin-right: 25px;
        }
    }

    @media (max-width: 768px) {
        .selos {
            width: auto;
            text-align: center;

            img {
                width: 120px;
            }

            .selo24h {
                margin-right: 15px;
            }
        }

        #selo24h,
        #selo2h {
            width: 95%;

            img {
                width: 100%;
            }
        }
    }
}