.solucoes-tecnologicas-home{
    .banner{
        margin-bottom: 50px;
        
        .box-banner{
            a{
                img{
                    width: 100%;
                    height: auto;
                    
                }
            }
        }
        
        .mobile{
            display: none;
            
            // @media screen and (max-width:$mobile) {
            //     display: block;
            // }
            
            .box-banner{
                a{
                    img{
                        width: 100%;
                        height: auto;    
                    }
                }
            }
        }
    }
    
    .menu{
        .img{
            .box-banner{
                a{
                    img{
                        width: 500px;
                        height: 284px;
                        display: table;
                        margin: 0 auto;
                        
                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        
        .btn_sol{
            color: #000;
            font-size: 30px;
            display: table;
            font-weight: 900;
            padding: 10px 20px;
            margin: 10px auto 50px auto;
            border-radius: 10px;
            border: 1px solid #000;
            background-color: transparent;
            text-align: center;
            
            @media screen and (max-width:$mobile) {
                font-size: 24px;
            }
        }
    }
}

.default_solucoes{
    
    .divHeader{
        width: 100%;
        display: block;
        position: relative;
        text-align: center;
        
        .title{
            text-align: center;
            font-size: 42px;
            margin: 30px 0;
            color: #2D4F9E;
            text-transform: uppercase;
            
            @media screen and (max-width:$mobile) {
                font-size: 30px;
            }
            
            font-size: 70px;
        }
        
        .seeAll,
        .back{
            font-size: 16px !important;
            color: #fff !important;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: -1px 1px 0 #e0662a, 
            1px 1px 0 #e0662a, 
            1px -1px 0 #e0662a, 
            -1px -1px 0 #e0662a;
            margin-top: 25px;
            display: flex;
            position: absolute;
            left: 4px;
            z-index: 2;
        }
    }
    
    p{
        font-size: 16px;
        color: black;
    }
    
    .midia{
        .box-banner{
            a{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    
    .iframe{
        iframe{
            margin-top: 15px;
        }
        
        a{
            font-size: 22px;
            font-weight: 700;
            color: #2d4f9e;
            text-align: center;
            display: block;
        }
    }    
}


.pratileira_solucoes{
    margin-top: 90px;
    margin-bottom: 45px;
    
    .prateleira {
        h2{
            color: black !important;
        }
    }
}
