/*ALTERAÇAO GRID*/
.container {
	@media screen and (min-width:$mobile) {
		width: 1290px;
		max-width: 100%;
	}
}
/*FIM - ALTERAÇAO GRID*/

i {
	display: inline-block;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

#ajaxBusy {display: none !important;}

.hidden-xs,
.desktop {
	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.mobile {
	display: none;
	
	@media screen and (max-width: $mobile) {
		display: block !important;
	}
}

#overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 0.38);
	position: fixed;
	transition: opacity .5s;
	visibility: hidden;
	z-index: 11;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&.strong {
		opacity: 1;
		visibility: visible;
		z-index: 10;
	}
}

.pos-relative {position: relative;}
.txt-center {text-align: center;}
.dis-none {display: none;}
.bold {font-weight: bold;}

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
// 	-webkit-appearance: none;
// 	margin: 0;
// }

// input[type="number"] {
// 	-moz-appearance: textfield;
// }

/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	font-family: $font-principal;
	font-size: 14px;
	color: $cor-texto;
	height: 100%;
	background-color: #fff;
	box-sizing: border-box;

	&.active {
		@media screen and (max-width:$mobile) {
			overflow: hidden;
		}
	}
}

/*---------------------------------------------*/
a {
	color: inherit;
	transition: color 0.5s;
	text-decoration: none;
}

a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
	color: $cor-principal;
}

/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
	font-family: $font-principal;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input,
textarea,
label {
	display: block;
	outline: none;
	border: none;
}

/*---------------------------------------------*/
button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

iframe {
	border: none;
}