#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)

<link rel="stylesheet" href="/files/ajustes.css">
</link>

<article class="product" data-id="$id">
    <a href="#" id="quickView" class="open_quick_view" data-id="$id" data-name="$escapedName"
        data-por="$product.BestPrice" data-parc-number="$product.NumbersOfInstallment"
        data-parc-value="$product.InstallmentValue">

        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
            x="0px" y="0px" viewBox="0 0 512.001 512.001"
            style="enable-background:new 0 0 512.001 512.001;width: 100%;height: 100%;" xml:space="preserve">
            <g>
                <g>
                    <path
                        d="M503.698,231.895c-28.735-36.843-65.956-67.318-107.637-88.128c-42.548-21.243-88.321-32.265-136.104-32.843 c-1.316-0.036-6.6-0.036-7.916,0c-47.782,0.579-93.556,11.6-136.104,32.843c-41.681,20.81-78.9,51.284-107.636,88.128 c-11.07,14.193-11.07,34.018,0,48.211c28.735,36.843,65.955,67.318,107.636,88.128c42.548,21.243,88.321,32.265,136.104,32.843 c1.316,0.036,6.6,0.036,7.916,0c47.782-0.579,93.556-11.6,136.104-32.843c41.681-20.81,78.901-51.284,107.637-88.128 C514.768,265.911,514.768,246.088,503.698,231.895z M125.242,349.599c-38.92-19.432-73.678-47.892-100.517-82.303 c-5.187-6.651-5.187-15.94,0-22.591c26.838-34.411,61.596-62.871,100.517-82.303c11.054-5.518,22.342-10.29,33.839-14.33 c-29.578,26.588-48.213,65.12-48.213,107.928c0,42.81,18.636,81.345,48.217,107.932 C147.588,359.892,136.297,355.118,125.242,349.599z M256,380.303c-68.542,0-124.304-55.762-124.304-124.304 S187.458,131.696,256,131.696S380.304,187.458,380.304,256S324.542,380.303,256,380.303z M487.275,267.295 c-26.838,34.411-61.596,62.871-100.517,82.303c-11.041,5.512-22.322,10.263-33.805,14.299 c29.558-26.587,48.179-65.107,48.179-107.898c0-42.814-18.64-81.351-48.223-107.939c11.5,4.041,22.793,8.819,33.85,14.34 c38.92,19.432,73.678,47.892,100.517,82.303C492.462,251.355,492.462,260.644,487.275,267.295z" />
                </g>
            </g>
            <g>
                <g>
                    <path
                        d="M256,202.804c-29.332,0-53.195,23.863-53.195,53.195s23.863,53.195,53.195,53.195s53.195-23.863,53.195-53.195 C309.196,226.667,285.333,202.804,256,202.804z M256,288.367c-17.847,0-32.368-14.519-32.368-32.368 c0-17.848,14.519-32.367,32.368-32.367c17.847,0,32.367,14.519,32.367,32.367C288.368,273.848,273.847,288.367,256,288.367z" />
                </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
        </svg>
    </a>

    <div class="product_image">
        <a title="$escapedName" href="$uri">$product.GetImageTag(250,250)</a>
    </div>

    <div class="product_info">
        $product.BrandLink

        <p class="product_name"><a title="$escapedName" href="$uri">$product.Name</a></p>

        <div id="rateProduct-$id" class="product_rate evaluation$evaluationRate">$evaluationRate</div>

        <!-- FLAG BLACK FRIDAY -->
        <div class="flag-bf">$product.HightLight</div>

        <!-- FRETE GRÁTIS -->
        <div class="expresss_flag">$product.HightLight</div>

        <div class="product_price">
            <a href="$uri">
                #if ($product.IsInStock)
                <div class="content">

                    <div class="column">
                        <p class="por">
                            <span class="list_price">De: ${product.ListPrice}</span>
                        </p>
                        <p class="por">
                            <span>Por:</span>
                            <strong class="best_price">$product.BestPrice</strong>
                        </p>
                    </div>

                    <div class="column">
                        <!--<p class="long_price">$product.BestPrice</p>-->
                        #if ($product.NumbersOfInstallment > 1)
                        <p class="installment">Em até <strong>${product.NumbersOfInstallment}x</strong> de<br />
                            <strong>$product.InstallmentValue</strong></p>
                        #end
                    </div>
                </div>

                <!-- FLAGS DE DESCONTO, PROMOÇÃO -->
                <div class="list_flags ">$product.HightLight</div>

                <!-- RETIRE NA LOJA -->
                <div class="retire_flag">$product.HightLight</div>

                <p class="reward_value">Pontos fidelidade: $product.BestRewardValue</p>
                #end
            </a>
        </div>

        <div class="list_sku dis-none">
            <ol></ol>
        </div>

        #if ($product.IsInStock)
        <div class="flag_discount">$product.ListPriceMinusBestPriceInPercent</div>

        <a href="$uri" class="btn_buy">
            <i><svg xmlns="http://www.w3.org/2000/svg" fill="none" height="100%" viewBox="0 0 30 27" width="100%">
                    <path d="M1.39999 1.70001H6.60001" stroke="#4F4F4F" stroke-linecap="round" stroke-miterlimit="10"
                        stroke-width="2"></path>
                    <path d="M6.60001 1.70001L11 18.9" stroke="#4F4F4F" stroke-linecap="round" stroke-miterlimit="10"
                        stroke-width="2"></path>
                    <path d="M11.8 18.9H28.3" stroke="#4F4F4F" stroke-linecap="round" stroke-miterlimit="10"
                        stroke-width="2"></path>
                    <path
                        d="M13.8 25.7C15.4569 25.7 16.8 24.3569 16.8 22.7C16.8 21.0432 15.4569 19.7 13.8 19.7C12.1431 19.7 10.8 21.0432 10.8 22.7C10.8 24.3569 12.1431 25.7 13.8 25.7Z"
                        stroke="#4F4F4F" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path>
                    <path
                        d="M25.3 25.7C26.9568 25.7 28.3 24.3569 28.3 22.7C28.3 21.0432 26.9568 19.7 25.3 19.7C23.6431 19.7 22.3 21.0432 22.3 22.7C22.3 24.3569 23.6431 25.7 25.3 25.7Z"
                        stroke="#4F4F4F" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path>
                    <path
                        d="M25.7 14.6H11.3C10.7 14.6 10.1 14.2 10 13.6L8.1 6.90001C7.9 6.00001 8.49999 5.20001 9.39999 5.20001H27.5C28.4 5.20001 29.1 6.10001 28.8 6.90001L26.9 13.6C26.9 14.2 26.4 14.6 25.7 14.6Z"
                        stroke="#4F4F4F" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path>
                </svg></i>
            Comprar
        </a>
        #else
        <div class="sold_out">
            <a href="$uri">Avise-me quando estiver disponível!</a>
        </div>
        #end
    </div>
</article>