.cards {
    h2 {
        font-size: 34px;
        font-weight: bold;
        color: $cor-principal;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin: 10px 0 20px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        @media screen and (min-width:$mobile) {
            justify-content: space-between;
        }

        li {
            padding-bottom: 30px;

            article {
                width: 100%;
                max-width: 300px;
                height: auto;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                position: relative;
                background-color: #fff;
                box-shadow: 0px 0px 12px 0px #dcdcdc;

                &[data-available="False"] {
                    filter: grayscale(1);

                    .open_quick_view {display: none;}
                }

                @media screen and (max-width:$mobile) {
                    max-width: 100%;
                }

                .card_image {
                    width: 35%;
                    display: flex;
                    align-items: center;

                    a {
                        display: block;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .card_info {
                    width: 65%;
                    padding-left: 10px;

                    .card_rate,
                    .brand {
                        display: none;
                    }

                    .card_name {
                        a {
                            height: 67px;
                            display: block;
                            font-size: 13px;
                            font-weight: 400;
                            font-style: italic;
                        }
                    }

                    .expresss_flag {
                        display: block;
                        height: 40px;

                        .flag {
                            font-size: 0;
                            
                            &.frete-gratis {
                                height: 30px;
                                display: block;
                                background-size: 100px;
                                background-image: url(/arquivos/express_flag.png);
                                background-repeat: no-repeat;
                                background-position: left;
                            }
                        }
                    }

                    .card_price {
                        height: 110px;

                        .de {
                            color: $cor-texto;
                            font-size: 12px;
                            text-decoration: line-through;
                            display: none;
                        }
                        
                        .por {
                            span {
                                display: block;
                                font-size: 14px;
                                font-weight: bold;
                            }

                            strong {
                                font-size: 18px;
                                font-weight: bold;
                                color: $cor-secundaria;
                            }
                        }

                        .installment {
                            font-size: 14px;
                            font-weight: 400;
                        
                            strong {
                                font-weight: bold;
                            }
                        }

                        .reward_value {
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #42c161;
                            margin: 3px 0;
                            font-size: 12px;
                        }
                    }

                    /* width */
                    ::-webkit-scrollbar {
                        width: 20px;
                        height: 9px;
                    }

                    /* Track */
                    ::-webkit-scrollbar-track {
                        border-radius: 10px;
                    }

                    /* Handle */
                    ::-webkit-scrollbar-thumb {
                        background-color: $cor-principal;
                        border-radius: 10px;
                    }

                    .list_sku {
                        height: 27px;
                        margin-top: 10px;

                        ol {
                            display: flex;
                            flex-wrap: nowrap;
                            overflow-x: auto;
                            -webkit-overflow-scrolling: touch;
                            -ms-overflow-style: -ms-autohiding-scrollbar;

                            &:empty {
                                height: 100%;
                                background-size: 20px;
                                background-position: center;
                                background-image: url(/arquivos/ico_loading.gif);
                                background-repeat: no-repeat;
                            }
                            
                            a {
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                font-weight: bold;
                                border-radius: 50px;
                                background-color: #dcdcdc;
                                margin:0 5px 5px;
                                flex: 0 0 auto;
                                
                                span {
                                    padding: 5px 15px;
                                }

                                &:empty {display: none;}

                                &.checked {
                                    color: #fff;
                                    background-color: #42c161;
                                    pointer-events: none;
                                }

                                &[data-available="false"] {
                                    pointer-events: none;
                                    background-color: #eee;
                                    color: #bfbfbf;
    
                                    &:after {
                                        content: '';
                                        width: 10px;
                                        height: 10px;
                                        margin-left: 3px;
                                        background-size: 100%;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-image: url(/arquivos/ico-false.png);
                                    }
                                }

                                &[data-voltagem="110V"] {
                                    order: 1;
                                }

                                &[data-voltagem="220V"] {
                                    order: 2;
                                }
                            }
                        }
                    }
                }
                
                .flag_discount {
                    display: flex;
                    width: 51px;
                    height: 64px;
                    position: absolute;
                    top: -3px;
                    left: 12px;
                    text-align: center;
                    background-image: url('/arquivos/flag_discount.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 300ms;

                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }

                    p {
                        line-height: 13px;
                        font-size: 15px;
                        font-weight: 700;
                        color: #fff;

                        span {
                            display: inline;
                        }
                    }
                }

                .btn_buy {
                    width: 90%;
                    height: 35px;
                    line-height: 35px;
                    display: flex;
                    color: white;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    background-color: $cor-secundaria;
                    border-radius: 50px;
                    margin: 10px auto -24px;
                    padding: 0 10px;

                    &.loading {
                        font-size: 0;
                        background-size: 30px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ico_loading_white.gif);
                        pointer-events: none;

                        i {
                            display: none;
                        }
                    }

                    i {
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}