@keyframes shake {

    10%,
    90% {
        transform: translate3d(0, -4px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 6px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -8px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 8px, 0);
    }
}

#cart-lateral {
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 99;
    width: 380px;
    position: fixed;
    visibility: hidden;
    transition: opacity 300ms;
    background-color: #dcdcdc;
    
    @media screen and (max-width:$mobile) {
        height: auto;
    }

    @media screen and (min-width:$mobile) {
        height: 100%;
    }

    &.shake {
        perspective: 1000px;
        transform: translate3d(0, 0, 0);
        animation: shake 2s cubic-bezier(.36, .07, .19, .97) both;

        &:before {
            opacity: 1;
        }
    }

    &.active {
        z-index: 100;

        @media screen and (min-width: $mobile) {
            opacity: 1;
            visibility: visible;
        }

        @media screen and (max-width: $mobile) {
            z-index: 999999;
            bottom: 0 !important;

            .header {
                background-color: initial;
                margin: 0 10px;
                padding: 0;
                color: #666;
                font-size: 18px;

                .cart-close {
                    opacity: 1;
                }
            }
        }
    }

    //landscape
    @media screen and (min-width:450px) and (max-width:$tablet) {
        height: 100%!important;
    }

    @media screen and (max-width:$mobile) {
        left: 0;
        opacity: 1;
        width: 100%;
        height: auto;
        top: initial;
        bottom: -100%;
        overflow-x: hidden;
        visibility: visible;
        transition: bottom 300ms;

        &:before {
            left: 50%;
            opacity: 0;
            top: -50px;
            width: 80%;
            padding: 10px;
            display: block;
            font-size: 12px;
            font-weight: 700;
            margin-left: -41%;
            position: absolute;
            border-radius: 20px;
            background: #fff;
            text-align: center;
            transition: all .3s .3s;
            box-shadow: 0 0 16px 0 #999;
            text-transform: uppercase;
            content: 'Produto Adicionado na sacola';
        }
    }

    .columns {
        width: 100%;
        height: 100%;
        position: relative;

        @media screen and (min-width:$mobile) {
            display: flex;
            flex-wrap: wrap;
        }

        &.loading {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/arquivos/ajax-loader.gif);
            background-repeat: no-repeat;
            background-position: center center;
            content: '';
            z-index: 1;
            background-color: #ffffff61;
            transition: opacity 300ms;
            opacity: 0;
            visibility: hidden;
        }

        >.column_1,
        >.column_2,
        >.column_3 {
            width: 100%;
        }

        >.column_1 {
            @media screen and (max-width:$mobile) {
                height: auto;
            }

            @media screen and (min-width:$mobile) {
                height: 60px;
            }

            .header {
                height: 60px;
                padding: 0 10px;
                background-color: $cor-principal;

                @media screen and (max-width: $iphone5) {
                    font-size: 16px !important;
                }

                @media screen and (max-width: $mobile) {
                    margin: 0;
                    color: white;
                    font-size: 18px;
                }

                ul {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        &.total-items {
                            p {
                                color: white;
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }

                        &.close {
                            i {
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                border-radius: 50px;
                                color: black;
                                background-color: #fff;
                                text-align: center;
                                cursor: pointer;
                                font-style: normal;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        >.column_2 {
            overflow: hidden;
            background-color: #dcdcdc;

            @media screen and (max-width:$mobile) {
                height: auto;
            }

            @media screen and (min-width:$mobile) {
                height: calc(100% - 322px);
            }

            /* width */
            ::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                border-radius: 10px;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: gray;
            }

            .content {
                height: 100%;
                margin: 0 10px;
                overflow-y: scroll;
                position: relative;
                padding-right: 10px;

                //MEDIUM SMARTPHONE
                @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                    max-height: 285px;
                }

                //SMALL SMARTPHONE {
                @media screen and (max-width:$iphone5) {
                    max-height: 230px;
                }

                >ul {
                    >li {
                        padding: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        position: relative;
                        border-radius: 4px;
                        margin-bottom: 10px;
                        background-color: white;
                        box-shadow: 0 2px 5px 1px #b8b8b8;

                        &:first-child {
                            margin-top: 10px;
                        }

                        .column_1 {
                            width: 30%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        .column_2 {
                            width: 70%;

                            @media screen and (min-width:$mobile) {
                                padding-left: 10px;
                            }

                            .name {
                                padding-right: 20px;

                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 13px;
                                }
                            }

                            .ft {
                                margin-top: 10px;

                                ul {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    li {
                                        .gift {
                                            color: $cor-secundaria;
                                        }

                                        .box-count {
                                            width: 100px;
                                            height: 30px;
                                            display: flex;
                                            max-width: 115px;
                                            align-items: center;
                                            justify-content: space-between;

                                            .count {
                                                width: 20px;
                                                height: 20px;
                                                color: #fff;
                                                line-height: 20px;
                                                text-align: center;
                                                border-radius: 50px;
                                                background-color: $cor-principal-claro;

                                                &.count-down {
                                                    line-height: 19px;
                                                }
                                            }

                                            input {
                                                width: 47%;
                                                height: 100%;
                                                border: none;
                                                text-align: center;
                                                border-radius: 50px;
                                                pointer-events: none;
                                                background-color: #fff;
                                                border: 1px solid #dcdcdc;
                                            }
                                        }

                                        &.price {
                                            p {
                                                font-size: 13px;

                                                &.de {
                                                    span {
                                                        text-decoration: line-through;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .removeUni {
                            top: 10px;
                            right: 10px;
                            cursor: pointer;
                            position: absolute;

                            img {
                                width: 11px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

        >.column_3 {
            @media screen and (max-width:$mobile) {
                height: auto;
            }

            @media screen and (min-width:$mobile) {
                height: 252px;
            }

            >.frete {
                display: none;
            }

            .footer {
                height: 100%;
                padding: 15px;
                background-color: white;

                ul {
                    margin: 10px 0;
                    text-align: right;

                    @media screen and (max-width:$iphone5) {
                        margin-top: 0;
                    }

                    li {
                        margin-bottom: 10px;

                        a {
                            text-decoration: underline;
                        }

                        &.entrega {
                            a {
                                text-decoration: underline;
                            }
                        }

                        span {
                            &.total-price {
                                color: black;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .continue {
        width: 100%;
        color: #000;
        display: block;
        margin: 25px 0;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .btn-finalizar {
        width: 100%;
        height: 45px;
        display: block;
        color: white;
        font-size: 18px;
        font-weight: bold;
        line-height: 45px;
        text-align: center;
        border-radius: 4px;
        border-radius: 50px;
        text-transform: uppercase;
        background-color: $cor-cta;
    }
}