.departamento {
  main {
    .banner_desktop {
      @media screen and (max-width:$mobile) {
        display: none;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .banner_mobile {
      @media screen and (max-width:$mobile) {
        display: block;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .description {
      position: relative;
      cursor: pointer;
      margin: 20px 0;

      @media screen and (max-width:$mobile) {
        height: 90px;
        overflow: hidden;
      }

      &.open {
        height: auto;
        cursor: initial;

        span {
          opacity: 0;
          visibility: hidden;
        }
      }

      p {
        font-size: 15px;
        font-weight: 400;
        color: #a4a4a4;
      }

      span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 15px;
        font-weight: 700;
        color: #2d4f9e;
        text-align: center;
        line-height: 150px;
        font-style: italic;
        box-shadow: inset 0px -70px 15px -6px #FFFFFF;
        transition: all 300ms;

        @media screen and (max-width:$mobile) {
          box-shadow: inset 0 -35px 15px -6px #fff;
        }
      }
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .column_1 {
        width: 20%;

        @media screen and (max-width:$mobile) {
          width: 100%;

          .open_filtro {
            width: 100%;
            height: 50px;
            font-size: 18px;
            display: block;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            color: $cor-principal;
            text-transform: uppercase;
            border: 1px solid #dcdcdc;
            box-shadow: 0 0 16px 2px #d9e4ff;

            &:after {
              width: 10px;
              height: 10px;
              border-right: 2px solid $cor-principal;
              border-bottom: 2px solid $cor-principal;
              display: block;
              content: '';
              transform: rotate(45deg);
              margin: 0 auto;
              position: relative;
              top: -2px;

            }
          }
        }

        .box {
          width: 220px;
          box-shadow: 0 0 16px 2px #d9e4ff;

          @media screen and (min-width:$mobile) {
            padding: 15px;
          }

          .department_links {
            display: block !important;

            h5 {
              font-size: 18px;
              font-weight: bold;
              color: $cor-principal;
              display: flex;
              justify-content: space-between;
              align-items: center;

              @media screen and (max-width:$mobile) {
                margin-bottom: 20px;
              }

              &:after {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-right: 2px solid $cor-principal;
                border-bottom: 2px solid $cor-principal;
                transform: rotate(45deg);
                transition: all 300ms;

                @media screen and (max-width:$mobile) {
                  transform: rotate(-45deg);
                  margin-right: 5px;
                }
              }
            }

            .menu {
              margin: 20px 0 50px;

              @media screen and (max-width:$mobile) {
                display: none;
              }

              li {
                margin-bottom: 10px;
              }
            }
          }

          .navigation,
          .navigation-tabs {
            @media screen and (max-width:$mobile) {
              position: fixed;
              top: 0;
              right: -100%;
              width: 100%;
              height: 100%;
              z-index: 12;
              overflow: hidden;
              transition: right 300ms;

              &.active {
                right: 0;
              }

              .close {
                width: 15%;
                height: 50px;
                line-height: 50px;
                display: block;
                font-size: 22px;
                font-weight: bold;
                text-align: center;
                float: left;
                color: white;
                background-color: $cor-principal;
                z-index: 1;
              }
            }

            .menu-departamento {
              @media screen and (max-width:$mobile) {
                width: 85%;
                height: 100%;
                float: right;
                overflow: scroll;
                background-color: #fff;
                box-shadow: none;
                padding-top: 0;
                padding-right: 15px;
                padding-left: 15px;
              }

              >span {
                &.rt {
                  @media screen and (max-width:$mobile) {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    background-color: #2d4f9e;
                    color: #fff;
                    margin-left: -15px;
                    margin-right: -15px;
                    margin-bottom: 20px;
                    padding: 40px 0 15px 15px;

                    &.active {
                      &:before {
                        display: block;
                        width: 20px;
                        content: '';
                        height: 10px;
                        margin-right: 10px;
                        background-image: url(/arquivos/ico-arrow-white.png);
                        background-repeat: no-repeat;
                        background-position: center;
                      }
                    }
                  }
                }
              }

              >div {
                @media screen and (max-width:$mobile) {
                  height: 100%;
                  display: block;
                }

                .menu-navegue {
                  display: none;
                }

                .search-multiple-navigator {
                  display: block !important;

                  @media screen and (max-width:$mobile) {
                    position: relative;
                    height: 100%;
                    overflow: hidden;
                  }

                  h3,
                  h4,
                  .bt-refinar {
                    display: none;
                  }

                  fieldset {
                    &:last-child {
                      div {
                        margin-bottom: 0;
                      }
                    }

                    &.active {
                      @media screen and (min-width:$mobile) {
                        h5 {
                          &:after {
                            transform: rotate(225deg);
                          }
                        }
                      }

                      @media screen and (max-width:$mobile) {
                        >div {
                          right: 0;
                        }
                      }
                    }

                    h5 {
                      font-size: 18px;
                      font-weight: bold;
                      color: $cor-principal;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;

                      @media screen and (max-width:$mobile) {
                        margin-bottom: 20px;
                      }

                      &:after {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        border-right: 2px solid $cor-principal;
                        border-bottom: 2px solid $cor-principal;
                        transform: rotate(45deg);
                        transition: all 300ms;

                        @media screen and (max-width:$mobile) {
                          transform: rotate(-45deg);
                          margin-right: 5px;
                        }
                      }
                    }

                    div {
                      overflow-x: hidden;

                      @media screen and (min-width:$mobile) {
                        max-height: 280px;
                        margin: 20px 0 50px;
                      }

                      @media screen and (max-width:$mobile) {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        right: -100%;
                        z-index: 1;
                        background-color: white;

                        span.title {
                          display: block;
                          font-size: 18px;
                          font-weight: bold;
                          color: $cor-principal;
                          margin-bottom: 20px;
                        }
                      }

                      label {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        margin-bottom: 10px;
                        cursor: pointer;

                        input {
                          margin-right: 10px;

                          &:checked {
                            &:after {
                              background-color: $cor-principal;
                              background-size: 85%;
                              background-position: center;
                              background-repeat: no-repeat;
                              background-image: url(/arquivos/ico-checked.png);
                            }
                          }

                          &:after {
                            content: '';
                            width: 15px;
                            height: 15px;
                            display: block;
                            border: 1px solid #dcdcdc;
                            background-color: white;
                            transition: background-color 300ms;
                            border-radius: 2px;
                          }
                        }
                      }
                    }
                  }
                }

                .search-single-navigator {
                  display: none !important;
                }
              }

              //BUSCA,BRAND,ETC
              .search-single-navigator {
                h3 {
                  a {
                    order: 1;
                    font-size: 18px;
                    font-weight: 700;
                    color: $cor-principal;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  }
                }

                ul {
                  margin: 15px 0 30px 0;
                }
              }
            }
          }
        }
      }

      .column_2 {
        width: 80%;

        @media screen and (max-width:$mobile) {
          width: 100%;
        }

        .tags {
          display: flex;

          @media screen and (min-width:$mobile) {
            margin-bottom: -39px;
          }

          @media screen and (max-width:$mobile) {
            width: 100%;
            flex-direction: column;
          }

          /* width */
          ::-webkit-scrollbar {
            width: 20px;
            height: 9px;
          }

          /* Track */
          ::-webkit-scrollbar-track {
            border-radius: 10px;
          }

          /* Handle */
          ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $cor-principal;
          }

          ul {
            display: flex;
            align-items: center;

            @media screen and (min-width:$mobile) {
              max-width: 80%;
              min-height: 30px;
              overflow-x: scroll;
            }

            @media screen and (max-width:$mobile) {
              width: 100%;
              flex-wrap: wrap;
              justify-content: space-between;
            }

            &:empty {
              &+#clear {
                display: none;
              }
            }

            li {
              height: 30px;
              display: flex;
              cursor: pointer;
              padding: 0 10px;
              border-radius: 3px;
              align-items: center;
              color: $cor-principal;
              justify-content: space-between;
              border: 1px solid $cor-principal;

              @media screen and (min-width:$mobile) {
                &:not(:last-child) {
                  margin-right: 10px;
                }
              }

              @media screen and (max-width:$mobile) {
                width: 49%;
                margin-bottom: 7px;
              }

              p {
                max-width: 90%;
                font-size: 12px;
                overflow: hidden;
                margin-right: 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }

          #clear {
            height: 30px;
            display: flex;
            cursor: pointer;
            margin-left: 15px;
            align-items: center;

            @media screen and (max-width:$mobile) {
              width: 100%;
              margin-left: 0;
              margin-top: 15px;
              justify-content: center;
            }

            img {
              width: 15px;
              height: auto;
              margin-left: 7px;
            }
          }
        }

        .main {
          @media screen and (max-width:$mobile) {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #dcdcdc;
          }

          .searchResultsTime {
            display: none;
          }

          .sub {

            .compare,
            .filterBy {
              display: none;
            }

            .orderBy {
              text-align: right;
              margin-bottom: 15px;

              @media screen and (max-width:$mobile) {
                display: none;
              }

              label {
                display: none;
              }

              select {
                height: 30px;
                font-size: 15px;
                font-weight: bold;
                border-radius: 3px;
                border: 1px solid #dcdcdc;
              }
            }
          }

          .vitrine {
            .pager {
              display: none;
            }

            .prateleira {
              ul {
                margin: 0 -5px;
                display: flex;
                flex-wrap: wrap;

                li {
                  margin: 0 5px 70px;
                  width: calc(100% / 4 - 10px);

                  .product_name {
                    a {
                      @media screen and (max-width:$mobile) {
                        height: 80px;
                      }
                    }
                  }


                  @media screen and (max-width:$iphone5) {
                    width: 100%;
                    margin: 0 0 70px;

                    .product_name {
                      font-size: 13px;
                      line-height: 21px;
                    }

                    .product_image {
                      img {
                        max-width: 100%;
                        height: auto;
                      }
                    }

                    .product_price>a .content .column:nth-child(1) .por strong {
                      font-size: 19px;
                      line-height: 22px;
                    }

                    .product_price .content .column .installment {
                      font-size: 13px !important;
                    }

                    .product_status .reward_value {
                      font-size: 11px;
                    }

                    .shelfHead {
                      width: calc(100% - 0px);
                      margin: 0;

                      .flag_retirar,
                      #quickView {
                        display: none;
                      }

                      .flag_discount {
                        width: 50px;
                        font-size: 13px;
                        line-height: 18px;
                      }
                    }

                  }

                  @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                    width: calc(100% / 2);
                    margin: 0 0 70px;
                  }
                }
              }
            }

            .btn-load-more {
              height: 50px;
              background-color: #efefef;
              border-radius: 3px;
              display: flex;
              align-items: center;
              flex-direction: column;
              padding-top: 11px;
              cursor: pointer;

              p {
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: -10px;
                color: #767676;
              }
            }
          }
        }
      }
    }
  }
}

#returnToTop {
  position: fixed;
  bottom: 30px;
  right: 90px;
  width: 40px;
  height: 40px;
  font-size: 0px;
  display: block;
  cursor: pointer;
  border-radius: 50px;
  background-color: $cor-principal;

  span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '';
      width: 13px;
      height: 13px;
      display: block;
      margin-bottom: -4px;
      transform: rotate(225deg);
      border-right: 2px solid white;
      border-bottom: 2px solid white;
    }
  }
}

body>main>div>div:nth-child(3)>div>div>div.column_2>div>div:nth-child(5) {
  display: none;
}