#quick_view {
    position: fixed;
    width: 800px;
    height: auto;
    top: 50%;
    margin-top: -162.5px;
    left: 50%;
    margin-left: -400px;
    transition: all 300ms;
    padding: 15px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    z-index: 99;
    display: block;

    @media screen and (max-width:$mobile) {
        width: calc(100% - 30px);
        height: 80%;
        top: 10%;
        left: 15px;
        margin: 0;
        padding: 10px;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    .head {
        .close {
            color: white;
            font-weight: bold;
            float: right;
            margin-top: -40px;
            margin-right: -15px;
            font-size: 18px;

            @media screen and (max-width:$mobile) {
                margin-right: -10px;
            }
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width:$mobile) {
            height: 100%;
            overflow: scroll;
        }

        >.column {
            &.column_1 {
                width: auto;
                padding-right: 15px;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                }

                .quick_view_image {
                    position: relative;
                    text-align: center;
                    border: 1px solid #dcdcdc;

                    .quick_view_discount {
                        display: flex;
                        width: 51px;
                        height: 64px;
                        position: absolute;
                        top: -15px;
                        left: 0;
                        text-align: center;
                        background-image: url(/arquivos/flag_discount.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        &:empty {
                            display: none;
                        }

                        @media screen and (max-width:$mobile) {
                            top: 0;
                        }

                        p {
                            line-height: 13px;
                            font-size: 15px;
                            font-weight: 700;
                            color: #fff;

                            span {
                                display: block;
                            }
                        }
                    }
                }
            }

            &.column_2 {
                width: 60%;
                padding-left: 15px;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                }

                .quick_view_name {
                    h1 {
                        font-size: 22px;
                        font-weight: 700;
                    }
                }

                .quick_view_price {
                    display: flex;
                    margin: 20px 0;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #dcdcdc;

                    .column {
                        &.column_1 {
                            width: 40%;
                            border-right: 1px solid #dcdcdc;

                            p {
                                font-size: 18px;
                                font-weight: 400;

                                strong {
                                    font-size: 22px;
                                    font-weight: bold;
                                    display: block;
                                    color: $cor-cta;
                                }
                            }
                        }

                        &.column_2 {
                            width: 60%;
                            padding-left: 10px;

                            p {
                                font-size: 18px;
                                font-weight: normal;

                                strong.value {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                /* width */
                ::-webkit-scrollbar {
                    width: 20px;
                    height: 9px;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    border-radius: 10px;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background-color: $cor-principal;
                    border-radius: 10px;
                }

                .quick_view_sku {
                    opacity: 0;
                    visibility: hidden;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #dcdcdc;

                    &.show {
                        opacity: 1;
                        visibility: visible;
                    }

                    p {
                        margin-bottom: 10px;
                    }

                    ul {
                        display: flex;
                        flex-wrap: nowrap;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch;
                        -ms-overflow-style: -ms-autohiding-scrollbar;

                        a {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            font-weight: 700;
                            padding: 5px 15px;
                            border-radius: 50px;
                            background-color: #dcdcdc;
                            margin-right: 5px;
                            margin-bottom: 5px;
                            flex: 0 0 auto;

                            &:empty {
                                display: none;
                            }

                            &.checked {
                                color: #fff;
                                background-color: #42c161;
                                pointer-events: none;
                            }

                            &[data-available="false"] {
                                pointer-events: none;
                                background-color: #eee;
                                color: #bfbfbf;

                                &:after {
                                    content: '';
                                    width: 10px;
                                    height: 10px;
                                    margin-left: 3px;
                                    background-size: 100%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url(/arquivos/ico-false.png);
                                }
                            }

                            &[data-voltagem="110V"] {
                                order: 1;
                            }

                            &[data-voltagem="220V"] {
                                order: 2;
                            }
                        }
                    }
                }

                .quick_view_button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 79%;
                    height: 40px;
                    font-size: 18px;
                    float: right;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $cor-secundaria;
                    background-color: white;
                    transition: all 300ms;
                    border: 2px solid $cor-secundaria;
                    border-radius: 50px;
                    margin-top: 30px;

                    &:hover {
                        @media screen and (min-width:$mobile) {
                            color: #fff;
                            background-color: $cor-secundaria;

                            i {
                                svg {
                                    path {
                                        stroke: #fff;
                                    }
                                }
                            }
                        }
                    }

                    &.loading {
                        font-size: 0;
                        background-size: 30px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ico_loading.gif?v=100);
                        pointer-events: none;

                        i {
                            display: none;
                        }
                    }

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        font-size: 16px;
                        margin-bottom: 15px;
                    }

                    i {
                        margin-right: 7px;

                        svg {
                            width: 24px;
                            height: 24px;
                            margin-bottom: -2px;

                            path {
                                transition: all 300ms;
                                stroke: $cor-secundaria;
                            }
                        }
                    }
                }
            }
        }
    }
}

#continue_buy {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background-color: white;
    z-index: 1;
    display: block;
    height: 265px;
    margin-top: -132.5px;
    padding: 15px;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity 300ms;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    @media screen and (max-width:$mobile) {
        width: calc(100% - 30px);
        height: auto;
        top: 20%;
        left: 15px;
        margin: 0;
    }

    &>.close {
        float: right;
        margin-top: -40px;
        font-weight: bold;
        color: white;
        font-size: 18px;
        margin-right: -15px;
    }

    .content {
        .head {
            padding: 20px 0;
            text-align: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #dcdcdc;

            svg {
                width: 80px;
                height: 84px;
                margin-bottom: 25px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                text-transform: uppercase;

                @media screen and (max-width:$iphone5) {
                    font-size: 14px;
                }
            }
        }

        .footer {
            ul {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width:$mobile) {
                    flex-direction: column;
                }

                li {
                    a {
                        width: 220px;
                        height: 35px;
                        line-height: 35px;
                        font-weight: bold;
                        text-align: center;
                        display: inline-block;
                        text-transform: uppercase;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }

                    &:nth-child(1) {
                        a {
                            font-weight: bold;
                            color: $cor-principal;
                            border: 1px solid $cor-principal;
                        }
                    }

                    &:nth-child(2) {
                        a {
                            background-color: $cor-cta;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

footer {
    >.container {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #dcdcdc;
        
        
        .whats_logo{
            bottom: 20px;
            left: 20px;
            z-index: 999997;
            border-radius: 50%;
            position: fixed;
            background-color: #7ad06d;
            padding: 5px 1px;
            outline: none !important;
            visibility: visible !important;
            resize: none !important;
            overflow: visible !important;
            cursor: pointer;
            
            a{
                img{
                    width: 60px;
                    height: auto;
                }                
            }
        }

        .row_1,
        .row_2,
        .row_3 {
            width: 50%;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width:$mobile) {
                width: 100%;
            }
        }

        .row_1,
        .row_2 {
            justify-content: space-between;
        }

        .row_1 {
            @media screen and (min-width:$mobile) {
                padding-right: 15px;
            }

            .column {
                @media screen and (max-width:$mobile) {
                    width: 50%;
                    margin-bottom: 30px;
                }

                &.column_2 {
                    ul {
                        li {
                            strong {
                                display: block;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }

        .row_2 {
            @media screen and (min-width:$mobile) {
                padding-left: 15px;
            }

            .box_1,
            .box_2 {
                width: 47%;
                padding: 15px;
                box-shadow: 0px 0px 16px 2px #d9e4ff;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    margin-bottom: 30px;
                }

                ul {
                    li {
                        margin-bottom: 20px;

                        a {
                            display: flex;
                            align-items: center;

                            i {
                                margin-right: 3px;
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .row_3 {
            @media screen and (min-width:$mobile) {
                margin-top: -120px;
                padding-right: 15px;
            }

            ul {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &.selos {
                    li {
                        img {
                            width: 80%;
                            height: auto;
                        }
                    }
                }

                li {

                    a {
                        svg {
                            width: 40px !important;
                            height: 40px !important;
                        }
                    }
                }
            }

            .column {
                @media screen and (max-width:$mobile) {
                    width: 100%;
                    margin-bottom: 15px;
                }

                &.column_1,
                &.column_3 {
                    @media screen and (min-width:$mobile) {
                        width: 70%;
                    }

                }

                &.column_2,
                &.column_4 {
                    @media screen and (min-width:$mobile) {
                        width: 30%;
                    }

                    display: flex;
                    align-items: center;
                }

                &.column_3,
                &.column_4 {
                    @media screen and (min-width:$mobile) {
                        margin: 20px 0 5px;
                    }
                }

                &.column_4 {
                    ul {
                        @media screen and (max-width:$mobile) {
                            justify-content: space-around;
                        }
                    }
                }

                &.column_5 {
                    .copyright {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }

        }
    }
}