header {
    padding-top: 10px;

    .row_1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 20px;

        .column {
            &.column_1 {
                @media screen and (max-width:$mobile) {
                    display: flex !important;
                    align-items: center;
                    width: 20%;
                    order: 1;

                    .hamburger {
                        span {
                            display: block;
                            width: 45px;
                            height: 3px;
                            background-color: $cor-secundaria;
                            border-radius: 2px;
                            margin: 0 auto 7px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                            
                            @media screen and (max-width:$mobile) {
                                width: 35px;
                                height: 4px;
                                background-color: #2d4f9e;
                            }
                        }
                    }
                }
            }

            &.column_2 {
                width: 7%;

                img {
                    @media screen and (min-width:$mobile) {
                        width: 100%;
                        height: auto;
                    }
                }

                @media screen and (max-width:$mobile) {
                    width: 60%;
                    text-align: center;
                    order: 2;

                    img {
                        width: 80px;
                    }
                }
            }

            &.column_3 {
                width: 55%;

                @media screen and (min-width:$mobile) {
                    padding: 20px 0 0 40px;
                }

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    order: 4;
                    padding-top: 10px;
                }

                .info {
                    display: flex;
                    align-items: center;
                    margin-bottom: 7px;

                    @media screen and (max-width:$mobile) {
                        display: none;
                    }

                    span {
                        font-weight: 900;
                    }

                    a {
                        font-weight: bold;
                        font-style: italic;
                        margin-right: 6px;

                        svg {
                            width: 15px;
                            height: 15px;
                            fill: $cor-secundaria;
                        }
                    }
                }

                .search {
                    position: relative;

                    .input {
                        width: 90%;
                        display: flex;
                        overflow: hidden;
                        border-radius: 50px;
                        background-color: #f5f5f5;
                        border: 1px solid #494949;
                        
                        @media screen and (max-width:$mobile) {
                            width: 100%;
                        }

                        input {
                            height: 50px;
                            text-indent: 20px;
                            width: calc(100% - 80px);
                        }

                        button {
                            width: 80px;
                            height: 50px;
                            border-radius: 50px;
                            background-color: $cor-secundaria;

                            svg {
                                width: 23px;
                                height: 23px;
                                fill: #fff;
                            }
                        }
                    }

                    .result {
                        width: 90%;
                        top: 53px;
                        z-index: 2;
                        max-width: 587px;
                        position: absolute;
                        background-color: white;
                        box-shadow: 0 0 16px 2px #d9e4ff;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                        }

                        .digitando {
                            display: block;
                            margin-bottom: 30px;

                            &:empty {
                                display: none;
                            }

                            p {
                                font-size: 15px;
                                font-weight: bold;
                                font-style: italic;
                                margin-top: 10px;
                                padding: 0 20px;

                                @media screen and (max-width:$mobile) {
                                    padding: 0 10px;
                                }

                                a {
                                    color: $cor-principal;
                                }
                            }
                        }

                        >ul {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            border-bottom: 4px solid $cor-principal;
                            padding: 0 20px;

                            @media screen and (max-width:$mobile) {
                                padding: 0 10px;
                            }

                            &:empty {
                                display: none;
                            }

                            li {
                                border-top: 1px solid #dcdcdc;
                                border-top: 1px solid #dcdcdc;
                                padding: 5px 0;

                                a {
                                    height: 70px;
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: row;

                                    .image {
                                        width: 15%;
                                        height: 100%;
                                        overflow: hidden;
                                        position: relative;

                                        img {
                                            width: 60px;
                                            height: auto;
                                            position: absolute;
                                            overflow: hidden;
                                            top: 50%;
                                            left: 50%;
                                            -webkit-transform: translate(-50%, -50%);
                                            -moz-transform: translate(-50%, -50%);
                                            -ms-transform: translate(-50%, -50%);
                                            -o-transform: translate(-50%, -50%);
                                            transform: translate(-50%, -50%);
                                        }
                                    }

                                    .name {
                                        width: 67%;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        padding-right: 30px;

                                        @media screen and (max-width:$mobile){
                                            width: 60%;
                                            padding-right: 10px;
                                            padding-left: 10px;
                                        }

                                        h3 {
                                            font-size: 15px;
                                            font-weight: 400;
                                            display: inline-block;
                                            width: 260px;
                                            white-space: nowrap;
                                            overflow: hidden !important;
                                            text-overflow: ellipsis;
                                        }
                                    }

                                    .box_price {
                                        width: 18%;
                                        height: 100%;
                                        display: flex;
                                        text-align: left;
                                        flex-direction: column;
                                        justify-content: center;

                                        @media screen and (max-width:$mobile){
                                            width: 25%;
                                        }

                                        .de_price {
                                            display: none;
                                            font-size: 12px;
                                            font-weight: 400;
                                            text-decoration: line-through;
                                        }

                                        .parcelas {
                                            display: none;

                                            span {
                                                font-weight: bold;
                                                color: $cor-principal;
                                            }
                                        }

                                        .por_price {
                                            font-weight: bold;
                                            color: $cor-texto;

                                            span {
                                                font-size: 13px;
                                                color: $cor-secundaria;
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.column_4 {
                width: 30%;
                padding-top: 20px;
                padding-right: 15px;
                position: relative;

                @media screen and (max-width:$mobile) {
                    display: none;
                }

                >ul {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-content: center;

                    li {
                        display: flex;
                        align-items: center;

                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3) {
                            p {
                                strong{
                                    color:#203b79;
                                    font-size: 16px;
                                }
                                span{
                                    span{
                                        color: #000
                                    }
                                }
                            }
                        }
                        
                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3){
                            p {
                                strong{
                                    color:#203b79;
                                }
                                span{
                                    span{
                                        color: #000;
                                    }
                                    
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                            
                            .hover {
                                width: 350px;
                                position: absolute;
                                padding-top: 15px;
                                z-index: 1;
                                display: none;

                                &.btn_account {
                                    ul {
                                        li {
                                            &:first-child {
                                                a {
                                                    width: 100%;
                                                    height: 40px;
                                                    display: block;
                                                    line-height: 40px;
                                                    text-align: center;
                                                    border-radius: 0;
                                                    color: white;
                                                    font-weight: bold;
                                                    font-style: italic;
                                                    background-image: url(/arquivos/ico-arrow-white-account.png);
                                                    background-color: $cor-principal;
                                                    background-repeat: no-repeat;
                                                    background-position: 95%;
                                                }
                                            }
                                        }
                                    }
                                }
                                
                                p{
                                    display: flex;
                                    flex-direction: column;
                                    box-shadow: 0 0 16px 2px #d9e4ff;
                                    background-color: white;
                                    position: relative;
                                    padding: 15px;
                                    right: 35px;

                                    &:after {
                                        content: '';
                                        top: -10px;
                                        right: 50%;
                                        position: absolute;
                                        width: 0;
                                        height: 0;
                                        border-style: solid;
                                        border-width: 0 10px 10px 10px;
                                        border-color: transparent #2b272700 white transparent;
                                    }
                                }
                            }
                        }

                        >div {
                            &:hover {
                                .hover {
                                    display: block;
                                }
                            }

                            >a {
                                display: flex;
                                align-items: center;

                                i {
                                    margin-right: 5px;
                                    max-height: 40px;

                                    img {
                                        width: 72px;
                                        height: auto;
                                    }

                                    svg {
                                        width: 35px;
                                        height: 35px;
                                        fill: $cor-principal;

                                        &.cart {
                                            height: 70px;
                                            width: 70px;
                                            margin-top: -16px;
                                        }
                                    }
                                }

                                p {
                                    font-size: 13px;
                                    font-weight: 400;

                                    span {
                                        display: block;
                                        position: relative;
                                        color: #203b79;

                                        &:after {
                                            content: '';
                                            position: absolute;
                                            right: -14px;
                                            bottom: 5px;
                                            width: 8px;
                                            height: 8px;
                                            display: block;
                                            border-right: 2px solid $cor-texto;
                                            border-bottom: 2px solid $cor-texto;
                                            transform: rotate(45deg);
                                        }
                                    }

                                    strong {
                                        font-weight: bold;
                                    }
                                }
                            }

                            .hover {
                                width: 175px;
                                position: absolute;
                                padding-top: 15px;
                                z-index: 1;
                                display: none;

                                &.btn_account {
                                    right: -62px;
                                    
                                    ul {
                                        li {
                                            &:first-child {
                                                a {
                                                    width: 100%;
                                                    height: 40px;
                                                    display: block;
                                                    line-height: 40px;
                                                    text-align: center;
                                                    border-radius: 0;
                                                    color: #000;
                                                    font-weight: bold;
                                                    font-style: italic;
                                                    background-image: url(/arquivos/ico-arrow-white-account.png);
                                                    background-color: $cor-principal;
                                                    background-repeat: no-repeat;
                                                    background-position: 95%;
                                                }
                                            }
                                        }
                                    }
                                }

                                ul {
                                    display: flex;
                                    flex-direction: column;
                                    box-shadow: 0 0 16px 2px #d9e4ff;
                                    background-color: white;
                                    position: relative;
                                    padding: 15px;

                                    &:after {
                                        content: '';
                                        top: -10px;
                                        right: 50%;
                                        position: absolute;
                                        width: 0;
                                        height: 0;
                                        border-style: solid;
                                        border-width: 0 10px 10px 10px;
                                        border-color: transparent #2b272700 white transparent;
                                    }

                                    li {
                                        margin-bottom: 10px;
                                        
                                        &.atendimento {
                                            border-top: 1px solid #9f9f9f;
                                            padding-top: 10px;
                                        }

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        a {
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.column_5 {
                width: 8%;
                padding: 25px 0 0 0;

                @media screen and (max-width:$mobile) {
                    width: 20%;
                    order: 3;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                a {
                    .cart {
                        display: block;
                        max-width: 41px;
                        margin: 0  auto;
                        position: relative;
                        text-align: center;

                        i {
                            svg {
                                width: 40px;
                                height: 40px;
                                fill: $cor-principal;
                            }
                        }

                        .qtd {
                            top: 0;
                            right: -8px;
                            display: block;
                            font-size: 13px;
                            font-weight: 400;
                            color: #fff;
                            width: 15px;
                            height: 15px;
                            line-height: 15px;
                            text-align: center;
                            position: absolute;
                            border-radius: 50px;
                            background-color: $cor-secundaria;
                            
                            @media screen and (max-width:$mobile) {
                                right: -5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .row_2 {
        @media screen and (min-width:$mobile) {
            background-color: #fff;
        }

        @media screen and (max-width:$mobile) {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 12;
            transition: left 300ms;

            &.active {
                left: 0;
            }
        }

        >.container {
            @media screen and (max-width:$mobile) {
                overflow: scroll;
                width: 85%;
                box-shadow: 0 0 16px 2px #d9e4ff;
                background-color: #fff;
                margin: 0;

                .head {
                    margin: 0 -15px;
                    padding: 40px 0 10px 0;
                    font-size: 16px;
                    font-weight: bold;
                    text-indent: 15px;
                    text-transform: uppercase;
                    color: white;
                    background-color: $cor-principal;

                    &[value="1"],
                    &[value="2"]
                    {
                    }
                }
                
                .subhead {
                    margin: 0 -15px;
                    padding: 10px 0 10px 0;
                    font-size: 16px;
                    font-weight: bold;
                    text-indent: 15px;
                    color: white;
                    background-color:#3c3c3c;
                    display: none;
                    
                    p{
                        display: flex;
                        
                        &:before{
                            content: '';
                            width: 8px;
                            height: 8px;
                            border-right: 2px solid white;
                            border-bottom: 2px solid white;
                            display: block;
                            transform: rotate(135deg);
                            margin: 10px 15px 0;
                        }
                    }
                }
            }

            .content {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                position: relative;
                justify-content: center;

                @media screen and (max-width:$mobile) {
                    overflow-x: hidden;
                    overflow-y: hidden;
                    flex-direction: column;
                    padding: 20px 0;
                    min-height: 460px;
                }

                section {
                    &.menu_1 {
                        @media screen and (min-width:$mobile) {
                            width: 3.5%;
                        }

                        p {
                            height: 100%;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 14px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            @media screen and (min-width:$mobile) {
                                color: #15203a;
                                background-color: #fff;
                                padding: 10px 7px;
                            }

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                                justify-content: space-between;
                                font-size: 16px;

                                &:after {
                                    content: '';
                                    width: 8px;
                                    height: 8px;
                                    border-right: 2px solid black;
                                    border-bottom: 2px solid black;
                                    display: block;
                                    transform: rotate(-45deg);
                                    margin-right:5px;
                                }

                                br {
                                    display: none;
                                }
                            }

                            &:hover {
                                i {
                                    span {
                                        background-color: #afd8fa;
                                    }
                                }

                                +nav {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }

                            i {
                                padding-right: 5px;

                                span {
                                    display: block;
                                    width: 25px;
                                    height: 3px;
                                    background-color: #15203a;
                                    transition: all 300ms;
                                    border-radius: 5px;
                                    margin-bottom: 5px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                            
                            span{
                                display: none;
                                
                                @media screen and (max-width:$mobile) {
                                    display: block;
                                }
                            }
                        }

                        nav {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            position: absolute;
                            background-color: white;
                            z-index: 1;

                            @media screen and (min-width:$mobile) {
                                width: 870px;
                                height: 480px;
                                opacity: 0;
                                visibility: hidden;
                                overflow: hidden;
                                box-shadow: 0 0 16px 2px #d9e4ff;
                            }

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                                top:0;
                                right:-100%;

                                &.active {
                                    right: 0;
                                }
                            }

                            &:hover {
                                @media screen and (min-width:$mobile) {
                                    opacity: 1;
                                    visibility: visible
                                }
                            }

                            >.column_1 {
                                width: 30%;
                                box-shadow: 0 0 16px 2px #d9e4ff;
                                z-index:1;

                                @media screen and (max-width:$mobile) {
                                    box-shadow:none;
                                    background-color: white;
                                    width: 100%;
                                    position: absolute;
                                }

                                >ul {
                                    padding: 20px 0;

                                    li {
                                        a {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            font-size: 15px;
                                            font-weight: bold;
                                            font-style: italic;
                                            margin-bottom: 10px;
                                            
                                            @media screen and (min-width:$mobile) {
                                                text-indent: 20px;
                                            } 

                                            &:after {
                                                width: 8px;
                                                height: 8px;
                                                display: block;
                                                content: '';
                                                border-right: 2px solid $cor-principal;
                                                border-bottom: 2px solid $cor-principal;
                                                margin-right: 15px;
                                                transform: rotate(-45deg);
                                                margin-right: 15px;
                                            }
                                        }
                                    }
                                }
                            }

                            >.column_2 {
                                width: 70%;
                                overflow: hidden;
                                position: relative;
                                background-color:#fff;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                    height: 460px;
                                    right:-100%;

                                    &.active {
                                        right: 0;
                                    }
                                }

                                .content {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    position: absolute;
                                    top: 0;
                                    transition: left 300ms;

                                    @media screen and (min-width:$mobile) {
                                        padding-left: 40px;
                                        left: -100%;
                                        opacity: 0;

                                        &.active {
                                            opacity: 1;
                                            left: 0;
                                        }
                                    }

                                    @media screen and (max-width:$mobile) {
                                        z-index: 1;
                                        background-color: white;
                                        display:none;
                                        min-height: 460px !important;

                                        &.active {
                                            display: block;
                                        }
                                    }

                                    .column_1,
                                    .column_2 {
                                        ul {
                                            @media screen and (min-width:$mobile) {
                                                padding: 20px 0;
                                            }
                                        }
                                    }

                                    .column_1,
                                    .column_2,
                                    .column_3 {
                                        width: 33.3%;

                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                        }

                                        ul {
                                            li {
                                                a {
                                                    font-size: 15px;
                                                    font-style: italic;
                                                    display: block;
                                                    margin-bottom: 10px;
                                                }
                                            }
                                        }

                                        img {
                                            width: 100%;
                                            height: auto;

                                            @media screen and (max-width:$mobile) {
                                                display: none;
                                            }
                                        }
                                    }

                                    .column_3 {
                                        display:none;
                                    }
                                }
                            }
                        }
                    }

                    &.menu_2 {
                        @media screen and (min-width:$mobile) {
                            width: 96%;
                        }

                        > ul {
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            @media screen and (max-width:$mobile) {
                                flex-direction: column;
                            }

                            @media screen and (min-width:$mobile) {
                                padding-left: 15px;
                            }

                            li {
                                @media screen and (max-width:$mobile) {
                                    width:100%;
                                    margin-top: 20px;
                                }

                                @media screen and (min-width:$mobile) {
                                    height: 100%;

                                    &:hover {
                                        .submenu {
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }

                                &:last-child {
                                    span {
                                        &:after {
                                            display: none;
                                        }
                                        
                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            font-size: 15px;
                                            color: #141414;

                                            &:after {
                                                content: '';
                                                width: 8px;
                                                height: 8px;
                                                border-right: 2px solid #141414;
                                                border-bottom: 2px solid #141414;
                                                display: block;
                                                transform: rotate(-45deg);
                                                margin-right:5px;
                                            }
                                        }
                                    }
                                }

                                a {
                                    display: flex;
                                    align-items: center;

                                    @media screen and (max-width:$mobile) {
                                        br {
                                            display: none;
                                        }
                                    }

                                    @media screen and (min-width:$mobile) {
                                        height: 100%;
                                    }

                                    i {
                                        margin-right: 5px;
                                    }

                                    span {
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 14px;
                                        position: relative;

                                        @media screen and (min-width:$mobile) {
                                            color: #141414;
                                            
                                            &.ferragem{
                                                padding: 7px 0;
                                            }

                                            &:after {
                                                content: '';
                                                width: 1px;
                                                height: 100%;
                                                position: absolute;
                                                top: 0;
                                                right: -17px;
                                                background-color: #141414;
                                            }
                                        }

                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            font-size: 15px;
                                            color: #141414;

                                            &:after {
                                                content: '';
                                                width: 8px;
                                                height: 8px;
                                                border-right: 2px solid #141414;
                                                border-bottom: 2px solid #141414;
                                                display: block;
                                                transform: rotate(-45deg);
                                                margin-right:5px;
                                            }
                                        }
                                    }
                                }

                                .submenu {
                                    opacity: 0;
                                    visibility: hidden;
                                    display: flex;
                                    flex-wrap: wrap;
                                    position: absolute;
                                    top: 37px;
                                    left: 0;
                                    background: white;
                                    z-index: 3;
                                    width: 100%;
                                    height: auto;
                                    padding: 10px;
                                    
                                    @media screen and (max-width:$mobile) {
                                        border-bottom: 7px solid #1a3164;
                                    }

                                    &.active {
                                        top: 0;
                                        opacity: 1;
                                        visibility: visible;
                                    }

                                    .column {
                                        width: 25%;

                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                        }

                                        ul {
                                            li {
                                                a {
                                                    font-size: 15px;
                                                    font-style: italic;
                                                    display: block;
                                                    
                                                    @media screen and (min-width:$mobile) {
                                                        padding-bottom: 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .footer {
                padding: 20px 0;
                
                @media screen and (max-width:$mobile) {
                    height: 515px;
                }

                .btn_fale_conosco {
                    display: block;
                    margin: 15px 0;
                    padding: 15px 0;
                    border-top: 1px solid #dcdcdc;
                    border-bottom: 1px solid #dcdcdc;

                    p {
                        font-weight: bold;
                        margin-bottom: 3px;
                    }

                    ul {
                        display: flex;

                        li {
                            margin-right: 5px;

                            a {
                                display: flex;
                                align-items: center;
                                font-weight: 400;

                                i {
                                    margin-right: 3px;
                                }
                            }
                        }
                    }
                }

                .btn_truck {
                    display: flex;
                    align-items: center;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid #dcdcdc;

                    i {
                        margin-right: 10px;
                    }

                    p {
                        strong {
                            display: block;
                        }
                    }
                }

                >ul {
                    display: flex;
                    flex-direction: row;

                    >li {
                        width: 50%;

                        &:first-child {
                            &:hover {
                                .hover {
                                    display: block;
                                }
                            }

                            p {
                                &:after {
                                    content: "";
                                    position: absolute;
                                    right: 15px;
                                    bottom: 5px;
                                    width: 8px;
                                    height: 8px;
                                    display: block;
                                    border-right: 2px solid #363636;
                                    border-bottom: 2px solid #363636;
                                    transform: rotate(45deg);
                                }
                            }
                        }

                        >a,
                        span {
                            display: flex;
                            align-items: center;

                            i {
                                width: 20%;
                                width: 30px;
                                height: 30px;
                                margin-right: 10px;
                                fill: $cor-principal;
                            }

                            p {
                                width: 80%;
                                line-height: 13px;
                                font-size: 13px;
                                font-weight: bold;
                                font-style: italic;
                                position: relative;
                            }
                        }

                        .hover {
                            width: 200px;
                            padding-top: 10px;
                            display:none;

                            ul {
                                li {
                                    a {
                                        font-size:13px;
                                        margin-bottom: 5px;

                                        i {
                                            margin-right:3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .close {
            width: 15%;
            height: 50px;
            line-height: 50px;
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            background-color: $cor-principal;
        }
    }
}