.home {
    #rmkt_multi_vitrine_div_2 {
        display: flex;
        flex-wrap: wrap;
        float: none !important;
    }
    
    .chave-inglesa {
    	position: relative;
    	min-width: 16px;
    	min-height: 14px;
    }
    .chave-inglesa:before {
      position: absolute;
      background-image: url(../../arquivos/icons8-chave-inglesa20.png);
      width: 16px;
      height: 16px;
      content: "";
      
    }

    .banner_desktop {
        @media screen and (max-width:$mobile) {
            display: none;
        }

        .col-12 {
            >.box-banner {
                a {
                    display: block;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .box-banner {
                width: 50%;
                height: auto;
                margin-bottom: 25px;

                &:nth-child(1),
                &:nth-child(3) {
                    padding-right: 15px;
                }

                &:nth-child(2),
                &:nth-child(4) {
                    padding-left: 15px;
                }

                a {
                    display: block;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .banner_mobile {
        @media screen and (max-width:$mobile) {
            display: block;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .prateleira {
        margin-bottom: 40px;
    }

    .marcas {
        margin: 15px 0 20px;

        .slick-arrow {
            top: 65%;
        }

        .slick-list {
            @media screen and (min-width:$mobile) {
                width: 90%;
                margin: 0 auto;
            }

            @media screen and (max-width:$mobile) {
                margin-top: 30px;

                a {
                    img {
                        width: 90%;
                        height: auto;
                    }
                }
            }
        }
    }

    .nossos_destaques {
        background-color: #f9f9f9;
        padding-bottom: 35px;
    }

    .tipbar {
        margin: 5px 0;
        padding: 15px 0;
        background-color: #f4f4f4;

        @media screen and (max-width:$mobile) {
            margin-top: 0;
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            li {
                p {
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    font-weight: bold;
                    color: #808080;

                    @media screen and (max-width:$mobile) {
                        justify-content: center;
                    }

                    i,
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .middle_banners {
        margin: 40px 0;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -30px;

            .box-banner {
                width: 50%;
                padding: 0 15px;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                a {
                    display: block;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .three_banners {
        margin: 40px 0;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -30px;

            .box-banner {
                width: 33.3%;
                padding: 0 15px;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                }

                a {
                    display: block;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}