.prateleira {
    &:not(.compre_junto) {
        &.loading {
            font-size: 0;
            background-size: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/arquivos/ico_loading.gif);
            pointer-events: none;

            i {
                display: none;
            }
        }
    }

    &.compre_junto {
        .btn_buy {
            &.loading {
                font-size: 0;
                color: #fff;
                background-color: $cor-secundaria;
                pointer-events: none;

                &:after {
                    content: 'Adicionado';
                    font-size: 20px;
                }

                i {
                    svg {
                        display: none;
                    }

                    &:after {
                        content: '';
                        width: 20px;
                        height: 18px;
                        display: block;
                        border-right: 2px solid white;
                        border-bottom: 2px solid white;
                        transform: rotate(45deg);
                        position: relative;
                        top: -5px;
                    }
                }
            }
        }
    }

    h2 {
        font-size: 34px;
        font-weight: bold;
        color: $cor-principal;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin: 10px 0 20px;
    }

    >ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        &.slick-initialized {
            margin-right: -15px;
            margin-left: -15px;

            .slick-slide {
                margin: 0 15px;

                @media screen and (max-width:$mobile) {
                    margin: 0 5px;
                }
            }
        }

        li {
            width: 100%;
            max-width: 300px;
            margin-bottom: 30px;

            &.disabled {
                .sold_out,
                .product_price {
                    filter: gray;
                    /* IE6-9 */
                    filter: grayscale(1);
                    /* Microsoft Edge and Firefox 35+ */
                    -webkit-filter: grayscale(1);
                    /* Google Chrome, Safari 6+ & Opera 15+ */
                }
            }

            article {
                position: relative;

                @media screen and (min-width:$mobile) {
                    border: 1px solid #dcdcdc;
                }

                &[data-available="False"] {
                    filter: grayscale(1);

                    .open_quick_view {
                        display: none;
                    }
                }

                .open_quick_view {
                    display: block;
                    position: absolute;
                    top: 0px;
                    right: 5px;
                    width: 25px;
                    height: auto;
                }

                .product_image {
                    a {
                        img {
                            height: auto;
                            margin: 0 auto;
                            display: block;

                            @media screen and (min-width:$mobile) {
                                width: 80%;
                            }

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                                max-width: 250px;
                            }
                        }
                    }
                }

                .product_info {
                    .product_rate,
                    .brand {
                        display: none;
                    }

                    .product_name {
                        a {
                            height: 80px;
                            max-width: 75%;
                            display: block;
                            font-size: 13px;
                            font-weight: 400;
                            margin: 10px auto;
                            font-style: italic;
                            text-align: center;

                            @media screen and (max-width:$mobile) {
                                height: 55px;
                                max-width: 82%;
                            }
                        }
                    }

                    .sold_out {
                        height: 62px;
                        line-height: 62px;
                        text-align: center;

                        a {
                            font-size: 13px;
                            font-weight: bold;
                            color: red;
                            text-decoration: underline;

                            @media screen and (max-width:$mobile) {
                                font-size: 10px;
                            }
                        }
                    }

                    .expresss_flag {
                        height: 55px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .flag {
                            font-size: 0;
                            background-position: center;
                            background-repeat: no-repeat;

                            &.nakao-express {
                                width: 80px;
                                height: 25px;
                                display: block;
                                background-size: 100%;
                                background-image: url(/arquivos/flag-express.png);
                            }

                            &.entrega-em-24horas {
                                width: 80px;
                                height: 25px;
                                display: block;
                                background-size: 100%;
                                background-image: url(/arquivos/flag-24h.png);
                            }

                            &.frete-gratis {
                                width: 50px;
                                height: 40px;
                                display: block;
                                background-size: 40px;
                                background-image: url(/arquivos/selo_frete_gratis.png);
                            }
                        }
                    }

                    .product_price {
                        height: 100px;
                        text-align: center;

                        @media screen and (max-width:$iphone5) {
                            height: 130px;
                        }

                        .content {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;

                            @media screen and (min-width:$mobile) {
                                max-width: 81%;
                                margin: 0 auto;
                            }

                            .column {
                                width: auto;

                                @media screen and (max-width:$iphone5) {
                                    width: 100%;
                                }

                                .por {
                                    padding-right: 10px;
                                    text-align: left;

                                    @media screen and (max-width:$iphone5) {
                                        text-align: center;
                                        padding: 0;
                                    }

                                    span {
                                        display: block;
                                        font-size: 13px;
                                        font-weight: bold;
                                    }

                                    strong {
                                        font-size: 18px;
                                        font-weight: bold;
                                        color: $cor-secundaria;
                                    }
                                }

                                .installment {
                                    padding-left: 10px;
                                    border-left: 1px solid #dcdcdc;
                                    font-size: 15px;
                                    font-weight: 400;
                                    text-align: left;

                                    @media screen and (max-width:$iphone5) {
                                        text-align: center;
                                        padding: 0;
                                    }

                                    strong {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }

                        a {
                            font-size: 0;
                        }


                        .list_flags {
                            text-align: center;
                            position: absolute;
                            top: 27px;
                            right: 0;

                            .flag {
                                font-size: 0;
                                margin-bottom: 5px;

                                &.retirar-na-loja {
                                    display: none;
                                }

                                &.frete-gratis {
                                    width: 40px;
                                    height: 40px;
                                    display: none;
                                    background-size: 100%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url('/arquivos/selo_frete_gratis.png');
                                }

                                &.nakao-express {
                                    display: none;
                                    width: 55px;
                                    height: 56px;
                                    background-size: 100%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url('/arquivos/selo_nakao_express.png');
                                }
                            }
                        }

                        .retire_flag {
                            height: 16px;
                            margin: 10px 0;

                            .flag {
                                font-size: 0;

                                &.retirar-na-loja {
                                    width: 100px;
                                    height: 16px;
                                    display: inline-block;
                                    background-size: 100%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url('/arquivos/flag_retire_na_loja.jpg');
                                }
                            }
                        }

                        .reward_value {
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 14px;
                            color: #42c161;
                            margin-top: 3px;

                            @media screen and (max-width:$iphone5) {
                                font-size: 10px;
                            }

                            @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                                font-size: 11px;
                            }
                        }
                    }

                    /* width */
                    ::-webkit-scrollbar {
                        width: 20px;
                        height: 9px;
                    }

                    /* Track */
                    ::-webkit-scrollbar-track {
                        border-radius: 10px;
                    }

                    /* Handle */
                    ::-webkit-scrollbar-thumb {
                        background-color: $cor-principal;
                        border-radius: 10px;
                    }

                    .list_sku {
                        height: 27px;

                        ol {
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: initial;
                            overflow-x: auto;
                            -webkit-overflow-scrolling: touch;
                            -ms-overflow-style: -ms-autohiding-scrollbar;

                            &[data-length="0"],
                            &[data-length="1"],
                            &[data-length="2"] {
                                justify-content: center;
                            }

                            &:empty {
                                height: 100%;
                                background-size: 20px;
                                background-position: center;
                                background-image: url(/arquivos/ico_loading.gif);
                                background-repeat: no-repeat;
                            }

                            a {
                                position: relative;
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                font-weight: bold;
                                padding: 5px 15px;
                                border-radius: 50px;
                                background-color: #dcdcdc;
                                margin: 0 5px 5px;
                                flex: 0 0 auto;

                                &:empty {
                                    display: none;
                                }

                                &.checked {
                                    color: #fff;
                                    background-color: #42c161;
                                    pointer-events: none;
                                }

                                &[data-available="false"] {
                                    pointer-events: none;
                                    background-color: #eee;
                                    color: #bfbfbf;

                                    &:after {
                                        content: '';
                                        width: 10px;
                                        height: 10px;
                                        margin-left: 3px;
                                        background-size: 100%;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-image: url(/arquivos/ico-false.png);
                                    }
                                }

                                &[data-voltagem="110V"] {
                                    order: 1;
                                }

                                &[data-voltagem="220V"] {
                                    order: 2;
                                }
                            }
                        }
                    }

                    .flag_discount {
                        display: flex;
                        width: 51px;
                        height: 64px;
                        position: absolute;
                        top: -3px;
                        left: 12px;
                        text-align: center;
                        background-image: url('/arquivos/flag_discount.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 300ms;

                        &.active {
                            opacity: 1;
                            visibility: visible;
                        }

                        p {
                            line-height: 13px;
                            font-size: 15px;
                            font-weight: 700;
                            color: #fff;

                            span {
                                display: inline;
                            }
                        }
                    }

                    .btn_buy {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 80%;
                        height: 40px;
                        font-size: 20px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $cor-secundaria;
                        background-color: white;
                        transition: background-color 300ms;
                        border: 2px solid $cor-secundaria;
                        border-radius: 50px;
                        margin: 20px auto -20px !important;
                        padding: 0 10px;

                        @media screen and (min-width:$mobile) {
                            &:hover {
                                color: #fff;
                                background-color: $cor-secundaria;

                                i {
                                    svg {
                                        path {
                                            stroke: #fff;
                                        }
                                    }
                                }
                            }
                        }


                        @media screen and (max-width:$mobile) {
                            width: 90%;
                            font-size: 16px;
                        }

                        i {
                            margin-right: 7px;

                            svg {
                                width: 24px;
                                height: 24px;
                                margin-bottom: -2px;

                                path {
                                    transition: all 300ms;
                                    stroke: $cor-secundaria;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}