.produto {

    header .search .result,
    nav {
        @media screen and (min-width:$mobile) {
            z-index: 3 !important;
        }
    }

    main {
        margin-bottom: 50px;

        .flag_discount_prod {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 56px;
            height: 69px;
            position: absolute;
            top: 1px;
            left: 120px;
            background-image: url('/arquivos/flag_discount.png');
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            transition: opacity 300ms;

            &.active {
                opacity: 1;
                visibility: visible;
            }

            @media screen and (max-width:$mobile) {
                left: 15px;
            }

            p {
                line-height: 13px;
                font-size: 15px;
                font-weight: 700;
                color: #fff;
            }

            span {
                display: inline;
            }
        }

        .flag_collection {
            display: none;
            position: absolute;
            text-align: center;
            top: -5px;
            right: 25px;
            z-index: 2;

            .flag {
                font-size: 0;
                display: inline-block;

                &.frete-gratis {
                    width: 55px;
                    height: 56px;
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url('/arquivos/selo_frete_gratis.png');
                    z-index: 2;
                }


                &.nakao-express {
                    width: 100px;
                    height: 30px;
                    display: block;
                    background-size: 100px;
                    background-image: url('/arquivos/express_flag.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    z-index: 2;
                }
            }
        }

        .box_desconto_progressivo {
            margin-bottom: 20px;

            .head {
                background-color: #6084dc;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                p {
                    &.title {
                        color: white;
                        padding-top: 18px;
                        text-align: center;
                        font-size: 22px;
                    }

                    &.subtitle {
                        color: white;
                        padding-bottom: 12px;
                        text-align: center;
                    }
                }
            }

            .content {
                border-bottom: 1px solid #6084dc;
                border-right: 1px solid #6084dc;
                border-left: 1px solid #6084dc;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

                p {
                    text-align: center;
                }

                div {
                    @media screen and (max-width: 1114px) {
                        padding-left: 0px;
                        padding-right: 0px;
                    }

                    @media screen and (min-width: 992px) {
                        &[data-index="5"] {
                            position: relative;
                            padding-left: 0px;
                            padding-right: 0px;

                            &::after {
                                content: '|';
                                position: absolute;
                                color: gray;
                                bottom: 15px;
                                right: 0;
                            }

                            &::before {
                                content: '|';
                                position: absolute;
                                color: gray;
                                bottom: 15px;
                            }
                        }
                    }
                }

                .price {
                    color: #de6634;
                    font-weight: 600;
                    padding-bottom: 18px;
                    font-size: 20px;
                }

                .uni {
                    padding-top: 18px;
                }
            }
        }

        .apresentacao {
            @media screen and (max-width:$mobile) {
                margin-bottom: 30px;
            }

            #show {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                #include {
                    width: 90%;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        margin-bottom: 40px;
                    }

                    @media screen and (min-width:$mobile) {
                        order: 2;
                        padding-left: 15px;
                    }

                    #image {
                        position: relative;
                        overflow: hidden;
                        border: 1px solid white;
                        transition: border 300ms;

                        &:hover {
                            border-color: #dcdcdc;
                        }

                        #image-main {
                            width: 100%; //79
                            height: auto;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                            }
                        }
                    }
                }

                .thumbs {
                    width: 10%;

                    @media screen and (min-width:$mobile) {
                        height: 620px;
                        padding: 30px 0;

                        .slick-list {
                            min-height: 570px;
                        }

                        .slick-arrow {
                            margin: 0;

                            &.slick-next {
                                top: auto;
                                bottom: 0;
                                right: 35%;
                                transform: rotate(-90deg);
                            }

                            &.slick-prev {
                                top: 0;
                                left: 35%;
                                transform: rotate(90deg);
                            }
                        }
                    }

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;

                        .slick-arrow {
                            top: 65%;
                        }
                    }

                    li {
                        margin-bottom: 10px;

                        @media screen and (max-width:$mobile) {
                            width: 80px;
                            height: 80px;
                        }

                        a {
                            display: block;

                            img {
                                width: 100%;
                                height: auto;

                                @media screen and (max-width:$mobile) {
                                    width: 80px;
                                    height: 80px;
                                }
                            }
                        }
                    }

                    @media screen and (min-width:$mobile) {
                        order: 1;
                    }
                }
            }
        }

        .product_info {
            @media screen and (min-width:$mobile) {
                // margin-left: -15px;
            }

            .product_name {
                .productName {
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }

            .product_ref {
                .skuReference {
                    font-size: 13px;
                    font-weight: 400;

                    &:before {
                        content: 'ref.:';
                        margin-right: 3px;
                    }
                }
            }

            .box_1 {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                margin-top: 30px;
                position: relative;

                .column_1 {
                    width: 35%;
                    position: relative;

                    &:after {
                        width: 1px;
                        content: '';
                        height: 100%;
                        display: block;
                        background-color: #dcdcdc;
                        top: 0;
                        right: 28px;
                        position: absolute;
                    }

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }

                    .product_desconto {
                        display: none !important;
                    }

                    .dis-none {
                        display: block;
                    }

                    .price_custom {
                        .valor-de {
                            display: block;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: bold;
                            text-decoration: line-through;
                            text-transform: uppercase;
                        }

                        .valor-por {
                            display: block;
                            font-size: 18px;
                            font-style: normal;
                            line-height: 27px;
                            font-weight: bold;
                            color: $cor-texto;

                            strong {
                                font-size: 30px;
                                font-style: normal;
                                color: $cor-cta;
                                display: block;
                            }
                        }
                    }

                    .plugin-preco {
                        .productPrice {
                            .descricao-preco {
                                .valor-de {
                                    display: block;
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: bold;
                                    text-decoration: line-through;
                                    text-transform: uppercase;
                                }

                                .valor-por {
                                    display: block;
                                    font-size: 18px;
                                    font-style: normal;
                                    line-height: 27px;
                                    font-weight: bold;
                                    color: $cor-texto;

                                    strong {
                                        font-size: 30px;
                                        font-style: normal;
                                        color: $cor-cta;
                                        display: block;
                                    }
                                }

                                .valor-dividido {
                                    display: none !important;
                                }
                            }
                        }

                        .economia-de {
                            font-size: 13px;
                            font-weight: 700;
                            text-transform: uppercase;
                            font-style: normal;
                            display: block;
                            margin-top: 4px;
                        }

                        .preco-a-vista {
                            display: none !important;
                        }
                    }

                    .product_desconto {
                        font-size: 13px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    #div_content_rewardValue {
                        display: flex;
                        color: #42c161;
                        font-weight: bold;
                        text-transform: uppercase;
                        opacity: 0;
                        transition: all 300ms;
                        margin-top: 2px;

                        &.active {
                            opacity: 1;
                        }

                        span {
                            margin-right: 3px;
                        }
                    }
                }

                .column_2 {
                    width: 50%;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        margin-top: 10px;
                    }

                    .installments_custom {
                        font-size: 22px;
                        font-weight: 400;
                        color: #6084dc;
                        margin-top: 8%;

                        >p {
                            display: block;
                            font-style: normal;
                            color: #363636;
                        }

                        span {
                            display: flex;

                            strong {
                                font-weight: 400;

                                .skuBestInstallmentValue {
                                    margin-left: 2px;
                                }
                            }

                            >span {
                                display: flex;

                                label {
                                    display: flex;
                                    margin: 0 2px;
                                }
                            }
                        }
                    }

                    .valor_total {
                        font-size: 13px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin: 5px 0;
                    }

                    .other-payment-method-content {
                        position: relative;

                        .titulo-parcelamento {
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: uppercase;
                            cursor: pointer;

                            &:after {
                                content: '';
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 5px 5px 0 5px;
                                border-color: #000000 transparent transparent transparent;
                                margin-left: 5px;
                                display: block;
                            }
                        }

                        .other-payment-method-ul {
                            display: none;
                            position: absolute;
                            top: 25px;
                            z-index: 1;
                            padding: 15px;
                            background-color: white;
                            box-shadow: 0 0 16px 2px #d9e4ff;

                            li {
                                margin-bottom: 10px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .see-other-payment-method-link {
                            display: none;
                        }
                    }
                }
            }

            .box_2 {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                border-top: 1px solid #dcdcdc;
                padding-top: 10px;
                margin-top: 30px;

                .column_1 {
                    width: 36%;

                    .sku-selector-container {
                        .topic {
                            li {
                                &.specification {
                                    font-size: 14px;
                                    font-weight: bold;
                                    margin-bottom: 20px;

                                    &:after {
                                        content: ':';
                                    }
                                }

                                &.skuList {
                                    select {
                                        width: 50%;
                                        height: 40px;
                                        border-radius: 50px;
                                        border: 1px solid #dcdcdc;
                                        text-indent: 10px;

                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                        }
                                    }

                                    span {
                                        display: flex;
                                        flex-wrap: wrap;
                                        flex-direction: row;

                                        input {
                                            display: none;
                                        }

                                        label {
                                            width: 70px;
                                            height: 30px;
                                            line-height: 30px;
                                            color: $cor-principal-claro;
                                            font-size: 13px;
                                            font-weight: bold;
                                            text-align: center;
                                            border-radius: 50px;
                                            border: 1px solid $cor-principal-claro;
                                            transition: all 300ms;
                                            margin-right: 10px;
                                            cursor: pointer;
                                            margin-bottom: 5px;

                                            &:hover,
                                            &.sku-picked {
                                                background-color: $cor-principal-claro;
                                                color: white;
                                            }

                                            &.dimension-Voltagemeladodofio {
                                                width: 170px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .column_2 {
                    width: 50%;

                    .box_count {
                        // display: none;

                        >p {
                            font-size: 14px;
                            font-weight: 700;
                            margin-bottom: 20px;
                        }

                        .content {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            align-items: center;

                            .count {
                                width: 22px;
                                height: 22px;
                                line-height: 22px;
                                border-radius: 50px;
                                text-align: center;
                                color: white;
                                background-color: $cor-principal-claro;
                            }

                            input {
                                width: 75px;
                                height: 45px;
                                text-align: center;
                                border-radius: 50px;
                                margin: 0 7px;
                                border: 1px solid #dcdcdc;
                                pointer-events: none;
                            }
                        }
                    }

                    .box_count_vtex {
                        // display: block;

                        .quantity-selector-container {
                            .quantitySelector {
                                label {
                                    display: flex;
                                    flex-wrap: wrap;

                                    .quantityText {
                                        width: 100%;
                                        display: block;
                                        font-size: 14px;
                                        font-weight: 700;
                                        margin-bottom: 20px;
                                    }

                                    .count {
                                        width: 22px;
                                        height: 22px;
                                        line-height: 22px;
                                        border-radius: 50px;
                                        text-align: center;
                                        color: #fff;
                                        background-color: $cor-principal-claro;
                                        margin-top: 11px;
                                    }

                                    input[type="number"] {
                                        width: 75px;
                                        height: 45px;
                                        text-align: center;
                                        border-radius: 50px;
                                        margin: 0 7px;
                                        border: 1px solid #dcdcdc;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .box_btn_buy {
                display: block;

                .buy-button-ref {
                    display: none !important;
                }

                .buy-in-page-quantity {
                    display: none !important;
                }

                .buy-in-page-button {
                    display: flex !important;
                    justify-content: center;
                    width: 65%;
                    height: 57px;
                    line-height: 55px;
                    font-size: 23px;
                    font-weight: 700;
                    text-align: center;
                    text-transform: uppercase;
                    background-color: #e0662a;
                    color: #fff;
                    border-radius: 50px;
                    margin: 20px 0 30px 0;

                    &:before {
                        content: "";
                        display: block;
                        margin-top: 13px;
                        height: 30px;
                        width: 45px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ico-cart-white.png);
                    }

                    @media screen and (max-width:$mobile) {
                        text-align: center;
                        width: 100%;
                    }

                    // @media screen and (max-width:$iphone5) {
                    //     background-position: 18% !important;
                    // }
                }

                .notifyme {
                    margin: 30px 0;
                    display: block !important;

                    .notifymetitle {
                        font-size: 22px;
                        font-weight: 700;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                    }

                    form {
                        fieldset {
                            >p {
                                font-size: 14px;
                                line-height: 14px;
                                font-weight: 400;
                                margin-bottom: 10px;
                            }

                            input[type="text"] {
                                width: 100%;
                                height: 50px;
                                border-radius: 50px;
                                text-indent: 10px;
                                border: 1px solid #dcdcdc;
                                margin-bottom: 10px;
                            }

                            input[type="button"] {
                                display: block;
                                float: right;
                                width: 100px;
                                height: 40px;
                                border-radius: 40px;
                                font-size: 22px;
                                color: white;
                                font-weight: bold;
                                text-transform: uppercase;
                                background-color: $cor-secundaria;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .box_frete {
                border: 1px solid #dcdcdc;
                padding: 15px;
                border-radius: 3px;

                >p {
                    font-size: 13px;
                    font-weight: bold;
                    display: flex;
                    align-content: center;
                    margin-bottom: 10px;

                    i {
                        margin-right: 5px;
                    }
                }

                .content {
                    display: flex;
                    flex-wrap: wrap;

                    .column_1 {
                        width: 50%;

                        input {
                            width: 100%;
                            height: 37px;
                            border: 1px solid #dcdcdc;
                            border-radius: 50px;
                            text-indent: 10px;
                            transition: border 300ms;

                            &.active {
                                border-color: red;
                            }
                        }

                        button {
                            width: 30%;
                            height: 37px;
                            border-radius: 50px;
                            color: white;
                            font-size: 14px;
                            font-weight: bold;
                            background-color: $cor-secundaria;
                            margin-top: -37px;
                            float: right;
                            text-transform: uppercase;
                        }
                    }

                    .column_2 {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        padding-left: 20px;

                        a {
                            font-size: 13px;
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }

                    .column_3.result {
                        width: 100%;

                        .remove_frete {
                            float: right;
                            color: red;
                            font-weight: bold;
                        }

                        table {
                            margin-top: 20px;

                            thead {
                                tr {
                                    th {
                                        &:first-child {
                                            text-align: left;
                                        }

                                        &:last-child {
                                            text-align: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #divCompreJunto {
            margin: 50px 0;

            #divTitulo {
                font-size: 34px;
                font-weight: 700;
                color: $cor-principal;
                text-transform: uppercase;
                text-align: center;
                display: block;
                margin: 10px 0 40px;
            }

            table {
                @media screen and (max-width:$mobile) {
                    width: 100%;
                    display: flex;
                }

                tbody {
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }

                    tr {
                        @media screen and (max-width:$mobile) {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }

                        .itemA,
                        .itemB {
                            width: 300px;
                            height: 150px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 0 0 16px 2px #d9e4ff;

                            @media screen and (max-width:$mobile) {
                                width: 95%;
                                margin: 0 auto;
                            }

                            h3 {
                                padding: 0 10px;

                                a {
                                    font-size: 14px;
                                    font-weight: 300;
                                    font-style: italic;
                                }
                            }
                        }

                        .plus,
                        .equal {
                            width: 120px;
                            text-align: center;
                            font-size: 32px;
                            font-weight: bold;
                            color: $cor-principal;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                                padding: 20px 0;
                            }
                        }

                        .buy {
                            position: relative;
                            width: 410px;
                            height: 150px;
                            box-shadow: 0 0 16px 2px #d9e4ff;
                            padding-left: 15px;
                            font-weight: bold;

                            @media screen and (max-width:$mobile) {
                                width: 95%;
                                padding: 0;
                                text-align: center;
                                margin: 0 auto;
                                padding-top: 25px;
                            }

                            strong {
                                color: $cor-secundaria;
                            }

                            .economia,
                            .more {
                                display: none;
                            }

                            .comprar-junto {
                                position: absolute;
                                right: 15px;
                                top: 50%;
                                margin-top: -25px;

                                @media screen and (max-width:$mobile) {
                                    position: static;
                                    width: 100%;
                                    display: block;
                                    text-align: center;
                                    margin: 0;
                                    padding-top: 15px;
                                }

                                a {
                                    width: 190px;
                                    height: 50px;
                                    line-height: 50px;
                                    border: 2px solid $cor-secundaria;
                                    display: block;
                                    color: $cor-secundaria;
                                    border-radius: 50px;
                                    text-indent: 30px;
                                    text-align: center;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    background-image: url(/arquivos/ico_cart.png);
                                    background-repeat: no-repeat;
                                    background-position: 28px;

                                    @media screen and (max-width:$mobile) {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            hr {
                display: none;
            }
        }

        .box_description {
            margin: 40px 0;

            @media screen and (max-width:$mobile) {
                position: relative;
                max-height: 500px;
                overflow: hidden;

                &:hover {
                    max-height: inherit;

                    &:after {
                        display: none;
                    }
                }

                &:after {
                    content: 'leia mais +';
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 900px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 18px;
                    font-style: italic;
                    text-align: center;
                    color: $cor-principal;
                    box-shadow: inset 0 -95px 30px -5px #fff;
                }
            }

            h2 {
                font-size: 34px;
                font-weight: bold;
                color: $cor-principal;
                text-transform: uppercase;
                text-align: center;
                display: block;
                margin: 10px 0 20px;
            }

            .productDescription {
                font-size: 16px;
                font-weight: 400;

                .video {
                    padding-top: 50px;
                    text-align: center;

                    iframe {
                        @media screen and (min-width:$mobile) {
                            width: 930px;
                            height: 515px;
                        }

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }

        .box_compre_junto {
            h2 {
                display: block;
                font-size: 34px;
                font-weight: 700;
                color: $cor-principal;
                text-transform: uppercase;
                margin: 10px 0 20px;
                text-align: center;
            }

            .columns {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .column {
                    &.column_1 {
                        width: 75%;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                        }

                        .prateleira {
                            width: 100%;

                            @media screen and (max-width:$mobile) {
                                padding-bottom: 15px;
                            }

                            h2 {
                                display: none;
                            }

                            /* width */
                            ::-webkit-scrollbar {
                                width: 20px;
                                height: 9px;
                            }

                            /* Track */
                            ::-webkit-scrollbar-track {
                                border-radius: 10px;
                            }

                            /* Handle */
                            ::-webkit-scrollbar-thumb {
                                background-color: $cor-principal;
                                border-radius: 10px;
                            }

                            ul {
                                justify-content: space-between;

                                @media screen and (max-width:$mobile) {
                                    flex-wrap: nowrap;
                                    justify-content: initial;
                                    overflow-x: auto;
                                    -webkit-overflow-scrolling: touch;
                                    -ms-overflow-style: -ms-autohiding-scrollbar;
                                }

                                li {
                                    @media screen and (max-width:$mobile) {
                                        width: 100%;
                                        flex: 0 0 auto;
                                        margin-right: 10px;

                                        article {
                                            max-width: 100%;
                                        }
                                    }

                                    @media screen and (min-width:$mobile) {
                                        width: 33%;

                                        article {
                                            &:after {
                                                content: '+';
                                                position: absolute;
                                                top: 10%;
                                                right: -17px;
                                                font-size: 22px;
                                                font-weight: bold;
                                                color: $cor-principal;
                                            }
                                        }

                                        &:last-child {
                                            article {
                                                &:after {
                                                    content: '=';
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.column_2 {
                        width: 25%;
                        padding-left: 23px;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            padding-left: 0;
                        }

                        article {
                            padding: 20px;
                            text-align: center;
                            background-color: #ebebeb;

                            p {
                                font-size: 18px;
                                font-weight: bold;

                                strong {
                                    display: block;
                                    color: $cor-secundaria;

                                    &:empty {
                                        font-size: 0;

                                        &:after {
                                            font-size: 18px;
                                            content: 'Calculando...';
                                        }
                                    }
                                }
                            }

                            .buy {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 70%;
                                height: 45px;
                                color: #fff;
                                font-size: 14px;
                                font-weight: 700;
                                border-radius: 50px;
                                text-transform: uppercase;
                                background-color: #e0662a;
                                margin: 30px auto -40px;
                                transition: opacity 300ms;

                                &.disabled {
                                    opacity: 0.7;
                                    pointer-events: none;
                                }

                                &[href="#"] {
                                    font-size: 0;
                                    pointer-events: none;
                                    opacity: 0.6;

                                    &:after {
                                        content: 'Adicione...';
                                        font-size: 14px;
                                    }
                                }

                                i {
                                    margin-right: 10px;

                                    svg {
                                        width: 25px;
                                        height: 25px;

                                        path {
                                            stroke: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #overlay.popupSelo {
        opacity: 1;
        visibility: visible;
    }

    #selo24h,
    #selo2h {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 13;

        &.actived {
            display: block;
        }

        img {
            max-width: 100%;
        }

        span {
            position: absolute;
            top: -35px;
            cursor: pointer;
            right: 0;
            font-weight: bold;
            font-size: 16px;
            color: #fff;
        }
    }

    .selos {
        width: 65%;
        text-align: center;

        img {
            width: 140px;
        }

        .selo24h {
            margin-right: 25px;
        }
    }

    @media (max-width: 768px) {
        .selos {
            width: auto;
            text-align: center;

            img {
                width: 120px;
            }

            .selo24h {
                margin-right: 15px;
            }
        }

        #selo24h,
        #selo2h {
            width: 95%;

            img {
                width: 100%;
            }
        }
    }
}