$font-principal: 'Barlow', sans-serif;
$font-secundaria: 'Anton', sans-serif;

$branco: #fff;
$cor-principal: #2d4f9e;
$cor-secundaria: #e0662a;
$cor-principal-claro: #6084dc;
$cor-cta: #e0662a;
$cor-texto: #363636;

$mobile: 812px;
$iphone5: 360px;
$tablet-landscape: 768px;
$tablet: 1024px;
$small-monitor: 1366px;