<li>
    <div>
        <a href="https://api.whatsapp.com/send?phone=5511976905009">
            <i>
                <img src="/arquivos/shipped.png" alt="shipped" style="width:50px; height:35px" />
            </i>
            
            <p>
                <strong>Frete Grátis</strong>
                <span>Acima de R$250*</span>
            </p>
        </a>
        <div class="hover">
            <p>
                Consulte as regiões disponíveis e mais informações no nosso Whatsapp
                <strong><i class="sprite-ico-whats-green"></i> (11) 97690-5009</strong>
            </p>
            
        </div>
    </div>
</li>