<header>
    <div class="container">
        <div class="row_1">
            <div class="column column_1 mobile dis-none">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="column column_2">
                <a href="/">
                    <!--<img class="natal" style="width:126px" src="/arquivos/jnakao_natal_logo2.png" alt="Jnakao - Natal" />-->
                    <img class="comum" src="/arquivos/logo-jnakao-white.png" alt="Jnakao" />
                    <!-- <img src="/arquivos/logo_novembro.png" alt="Jnakao - Novembro" /> -->
                </a>
            </div>

            <div class="column column_3">
                <p class="info">
                    <span>Fale conosco:</span>
                    <a href="tel:551150549090">
                        <i class="sprite-ico-tel-yellow"></i>
                        (11) 5054-9090
                    </a>

                    <a href="https://api.whatsapp.com/send?phone=5511976905009">
                        <i class="sprite-ico-whats-yellow"></i>
                        (11) 97690-5009
                    </a>
                </p>

                <div class="search">
                    <div class="input">
                        <input type="text" placeholder="Busque aqui o que você procura, aqui tem quase tudo"
                            alt="Busque aqui o que você procura, aqui tem quase tudo" />

                        <button>
                            <i class="sprite-ico-lupa"></i>
                        </button>
                    </div>

                    <div class="result">
                        <div class="digitando"></div>
                        <ul></ul>
                    </div>
                </div>
            </div>

            <div class="column column_4">
                <ul>
                    <li>
                        <div>
                            <a href="https://api.whatsapp.com/send?phone=5511976905009">
                                <i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;width: 60px;height: 60px;margin-top: -9px;" xml:space="preserve"><g><g><path d="M509.5,256.4l-59.4-67.8c-1.9-2.2-4.7-3.5-7.7-3.5H393v-41.9c0-5.6-4.6-10.2-10.2-10.2H279.3c-1.6,6.9,1.1,13.7-1.7,20.4 h94.9v176.7H267.8c-4.5-16.3-19.5-28.4-37.2-28.4s-32.7,12-37.2,28.4h-11.1v-56.3c-1.5-0.2-2.9-0.5-4.4-0.8 c-4.8,0.2-9.6,1.1-14.1,3.2c-0.6,0.3-1.3,0.5-1.9,0.6v32.7h-59c-5.6,0-10.2,4.6-10.2,10.2s4.6,10.2,10.2,10.2h59v10.4 c0,5.6,4.6,10.2,10.2,10.2h21.3c4.5,16.3,19.5,28.4,37.2,28.4c17.7,0,32.7-12,37.2-28.4h136.1v0c4.5,16.3,19.5,28.4,37.2,28.4 s32.7-12,37.2-28.4h23.5c5.6,0,10.2-4.6,10.2-10.2v-77.3C512,260.6,511.1,258.3,509.5,256.4z M230.6,358.6 c-10,0-18.2-8.2-18.2-18.2s8.2-18.2,18.2-18.2s18.2,8.2,18.2,18.2S240.6,358.6,230.6,358.6z M441.1,358.6 c-10,0-18.2-8.2-18.2-18.2s8.2-18.2,18.2-18.2s18.2,8.2,18.2,18.2S451.1,358.6,441.1,358.6z M491.6,330.2h-13.3 c-4.5-16.3-19.5-28.4-37.2-28.4c-17.7,0-32.7,12-37.2,28.4H393V205.5h44.8l53.8,61.4V330.2z"></path><path d="M103.2,162.2c-0.4-0.8-0.6-1.6-0.8-2.4c-0.2-0.6-0.4-1.3-0.4-1.9c0-0.3-0.1-0.5-0.1-0.8h-38c-5.6,0-10.2,4.6-10.2,10.2 s4.6,10.2,10.2,10.2h37.9c0.4-3.4,0.9-7,1.9-10.5c0.2-0.9,0.4-1.8,0.7-2.6C103.9,163.6,103.5,163,103.2,162.2z"></path></g></g><g><g><path d="M69.3,309.6h-5.4c-5.6,0-10.2,4.6-10.2,10.2S58.2,330,63.8,330h5.4c5.6,0,10.2-4.6,10.2-10.2S74.9,309.6,69.3,309.6z"></path></g></g><g><g><path d="M119.5,232.3H10.2c-5.6,0-10.2,4.6-10.2,10.2c0,5.6,4.6,10.2,10.2,10.2h109.3c5.6,0,10.2-4.6,10.2-10.2 S125.1,232.3,119.5,232.3z"></path></g></g><path d="M193.7,105.5c-40.4,0-73.2,32.9-73.2,73.2s32.9,73.2,73.2,73.2s73.2-32.9,73.2-73.2S234.1,105.5,193.7,105.5z M193.7,235.7 c-31.4,0-57-25.6-57-57s25.6-57,57-57s57,25.6,57,57S225.1,235.7,193.7,235.7z"></path><path d="M226.2,170.6h-24.4v-24.4c0-4.5-3.6-8.1-8.1-8.1s-8.1,3.6-8.1,8.1v32.6c0,4.5,3.6,8.1,8.1,8.1h32.6c4.5,0,8.1-3.6,8.1-8.1 C234.4,174.3,230.7,170.6,226.2,170.6z"></path><circle cx="172.1" cy="275.6" r="10.3"></circle><circle cx="279.3" cy="143.4" r="10.3"></circle><circle cx="101.6" cy="167.2" r="10.3"></circle></svg></i>
                                
                                <p>
                                    <strong>Entrega expressa:</strong>
                                    <span>Você mora na Capital de São Paulo<br/> 
                                    e quer receber em 2horas? 
                                    <br/>Saiba mais: <i class="sprite-ico-whats-green"></i><strong>(11) 97690-5009</strong></span>
                                </p>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div>
                            <a href="/Institucional/central-de-atendimento">
                                <i><svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="-59 0 511 512" width="100%"><path d="m392.5 196.1875c0-108.175781-87.925781-196.1875-196-196.1875s-196 88.011719-196 196.1875v107.113281c0 .109375.015625.21875.015625.332031 0 .222657-.015625.445313-.015625.667969 0 45.804688 37.234375 83.070313 83 83.070313 8.285156 0 15-6.71875 15-15v-136.140625c0-8.285157-6.714844-15-15-15-20.132812 0-38.613281 7.214843-53 19.195312v-44.238281c0-91.636719 74.46875-166.1875 166-166.1875s166 74.550781 166 166.1875v44.238281c-14.386719-11.980469-32.867188-19.195312-53-19.195312-8.285156 0-15 6.714843-15 15v136.140625c0 8.28125 6.714844 15 15 15 19.605469 0 37.632812-6.855469 51.847656-18.273438-7.839844 58.839844-55.132812 105.375-114.324218 112.066406.632812-2.804687.976562-5.71875.976562-8.714843 0-21.78125-17.71875-39.5-39.5-39.5h-24c-21.78125 0-39.5 17.71875-39.5 39.550781 0 21.78125 17.71875 39.5 39.5 39.5h47.808594c88.328125 0 160.191406-71.863281 160.191406-160.191406zm0 0"></path></svg></i>
                                <p><span>Central de<br/>atendimento</span></p>
                            </a>
                            
                            <div class="hover">
                                <ul>
                                    <li><a href="https://api.whatsapp.com/send?phone=5511976905009"><i class="sprite-ico-whats-green"></i>(11)97690-5009</a></li>
                                    <li><a href="tel: +55 11 5054-9090"><i class="sprite-ico-tel-blue"></i>(11)5054-9090</a></li>
                                    <li><a href="tel: +55 11 97690-5009"><i class="sprite-ico-tel-blue"></i>(11)97690-5009</a></li>
                                    <li><a href="mailto:contato@dominio.com"><i class="sprite-ico-mail-blue"></i>loja@jnakao.com.br</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div>
                            <a href="/account">
                                <i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve"><path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752 c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348 c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98 c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033 c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55 c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287 c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104 c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1 c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764 l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5 c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957 c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545 c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.519,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8 s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.345-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545 c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313 c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z M42.459,48.132c-0.35,0.254-0.706,0.5-1.067,0.735 c-0.166,0.108-0.331,0.216-0.5,0.321c-0.472,0.292-0.952,0.57-1.442,0.83c-0.108,0.057-0.217,0.111-0.326,0.167 c-1.126,0.577-2.291,1.073-3.488,1.476c-0.042,0.014-0.084,0.029-0.127,0.043c-0.627,0.208-1.262,0.393-1.904,0.552 c-0.002,0-0.004,0.001-0.006,0.001c-0.648,0.16-1.304,0.293-1.964,0.402c-0.018,0.003-0.036,0.007-0.054,0.01 c-0.621,0.101-1.247,0.174-1.875,0.229c-0.111,0.01-0.222,0.017-0.334,0.025C28.751,52.97,28.127,53,27.5,53 c-0.634,0-1.266-0.031-1.895-0.078c-0.109-0.008-0.218-0.015-0.326-0.025c-0.634-0.056-1.265-0.131-1.89-0.233 c-0.028-0.005-0.056-0.01-0.084-0.015c-1.322-0.221-2.623-0.546-3.89-0.971c-0.039-0.013-0.079-0.027-0.118-0.04 c-0.629-0.214-1.251-0.451-1.862-0.713c-0.004-0.002-0.009-0.004-0.013-0.006c-0.578-0.249-1.145-0.525-1.705-0.816 c-0.073-0.038-0.147-0.074-0.219-0.113c-0.511-0.273-1.011-0.568-1.504-0.876c-0.146-0.092-0.291-0.185-0.435-0.279 c-0.454-0.297-0.902-0.606-1.338-0.933c-0.045-0.034-0.088-0.07-0.133-0.104c0.032-0.018,0.064-0.036,0.096-0.054l7.907-4.313 c1.36-0.742,2.205-2.165,2.205-3.714l-0.001-3.602l-0.23-0.278c-0.022-0.025-2.184-2.655-3.001-6.216l-0.091-0.396l-0.341-0.221 c-0.481-0.311-0.769-0.831-0.769-1.392v-3.545c0-0.465,0.197-0.898,0.557-1.223l0.33-0.298v-5.57l-0.009-0.131 c-0.003-0.024-0.298-2.429,1.396-4.36C21.583,10.837,24.061,10,27.5,10c3.426,0,5.896,0.83,7.346,2.466 c1.692,1.911,1.415,4.361,1.413,4.381l-0.009,5.701l0.33,0.298c0.359,0.324,0.557,0.758,0.557,1.223v3.545 c0,0.713-0.485,1.36-1.181,1.575l-0.497,0.153l-0.16,0.495c-0.59,1.833-1.43,3.526-2.496,5.032c-0.262,0.37-0.517,0.698-0.736,0.949 l-0.248,0.283V39.8c0,1.612,0.896,3.062,2.338,3.782l8.467,4.233c0.054,0.027,0.107,0.055,0.16,0.083 C42.677,47.979,42.567,48.054,42.459,48.132z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></i>
                                <p class="client_name"><span>Faça o login<br/>ou cadastre-se</span></p>
                            </a>
                            
                            <div class="hover btn_account">
                                <ul>
                                    <li class="login"><a href="/account">Login</a></li>
                                    <li><a href="/_secure/account#/profile">Minha Conta</a></li>
                                    <li><a href="/_secure/account#/orders">Meus Pedidos</a></li>
                                    <li><a href="/no-cache/user/logout" class="logout dis-none">Não é você? Sair</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="column column_5">
                <a href="/checkout">
                    <div class="cart">
                        <i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.999 511.999"
                                style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M214.685,402.828c-24.829,0-45.029,20.2-45.029,45.029c0,24.829,20.2,45.029,45.029,45.029s45.029-20.2,45.029-45.029 C259.713,423.028,239.513,402.828,214.685,402.828z M214.685,467.742c-10.966,0-19.887-8.922-19.887-19.887 c0-10.966,8.922-19.887,19.887-19.887s19.887,8.922,19.887,19.887C234.572,458.822,225.65,467.742,214.685,467.742z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M372.63,402.828c-24.829,0-45.029,20.2-45.029,45.029c0,24.829,20.2,45.029,45.029,45.029s45.029-20.2,45.029-45.029 C417.658,423.028,397.458,402.828,372.63,402.828z M372.63,467.742c-10.966,0-19.887-8.922-19.887-19.887 c0-10.966,8.922-19.887,19.887-19.887c10.966,0,19.887,8.922,19.887,19.887C392.517,458.822,383.595,467.742,372.63,467.742z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M383.716,165.755H203.567c-6.943,0-12.571,5.628-12.571,12.571c0,6.943,5.629,12.571,12.571,12.571h180.149 c6.943,0,12.571-5.628,12.571-12.571C396.287,171.382,390.659,165.755,383.716,165.755z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M373.911,231.035H213.373c-6.943,0-12.571,5.628-12.571,12.571s5.628,12.571,12.571,12.571h160.537 c6.943,0,12.571-5.628,12.571-12.571C386.481,236.664,380.853,231.035,373.911,231.035z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M506.341,109.744c-4.794-5.884-11.898-9.258-19.489-9.258H95.278L87.37,62.097c-1.651-8.008-7.113-14.732-14.614-17.989 l-55.177-23.95c-6.37-2.767-13.773,0.156-16.536,6.524c-2.766,6.37,0.157,13.774,6.524,16.537L62.745,67.17l60.826,295.261 c2.396,11.628,12.752,20.068,24.625,20.068h301.166c6.943,0,12.571-5.628,12.571-12.571c0-6.943-5.628-12.571-12.571-12.571 H148.197l-7.399-35.916H451.69c11.872,0,22.229-8.44,24.624-20.068l35.163-170.675 C513.008,123.266,511.136,115.627,506.341,109.744z M451.69,296.301H135.619l-35.161-170.674l386.393,0.001L451.69,296.301z" />
                                    </g>
                                </g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                            </svg></i>
                        <span class="qtd">0</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row_2">
        <div class="container">
            <div class="head mobile dis-none">
                <p>MENU</p>
            </div>
            
            <div class="content">
                <section class="menu_1">
                    <p>
                        <i>
                            <span></span>
                            <span></span>
                            <span></span>
                        </i>
                        
                        Todos os 
                        <br />Departamento
                    </p>
                    
                    <nav>
                      <div class="column_1">
                        <ul>
                          <li><a href="/ferramentas-eletricas" data-category="1">Ferramentas Elétricas</a></li>
                          <li><a href="/ferramentas-a-bateria" data-category="2">Ferramentas à Bateria</a></li>
                          <li><a href="/acessorios-para-ferramentas" data-category="3">Acessórios para Ferramentas</a></li>
                          <li><a href="/linha-de-medicao" data-category="4">Linha de Medição</a></li>
                          <li><a href="/jardim-e-agricola" data-category="5">Jardim e Agricola</a></li>
                          <li><a href="/ferragens" data-category="6">Ferragens</a></li>
                          <li><a href="/ferramentas-manuais" data-category="7">Ferramentas Manuais</a></li>
                          <li><a href="/gabaritos-e-jigs" data-category="8">Gabaritos e jigs</a></li>
                          <li><a href="/ferramentas-pneumaticas" data-category="9">Ferramentas Pneumáticas</a></li>
                          <li><a href="/construcao-civil" data-category="10">Construção Civil</a></li>
                          <li><a href="/linha-epi" data-category="11">Linha EPI</a></li>
                          <li><a href="/compressores" data-category="12">Compressores</a></li>
                          <li><a href="/automotivo" data-category="13">Automotivo</a></li>
                          <li><a href="/telefonia-e-seguranca" data-category="14">Telefonia e Segurança</a></li>
                          <li><a href="/para-sua-casa" data-category="15">Para sua casa</a></li>
                          <li><a href="/paleteira" data-category="16">Paleteira</a></li>
                        </ul>
                      </div>
                      
                      <div class="column_2">
                        <ul>
                          <li>
                            <div class="content category_1">
                              <div class="column_1">
                                <ul>
                                  <li><a href="/ferramentas-eletricas/furadeira">Furadeira</a></li>
                                  <li><a href="/ferramentas-eletricas/parafusadeira">Parafusadeira</a></li>
                                  <li><a href="/ferramentas-eletricas/esmerilhadeira">Esmerilhadeira</a></li>
                                  <li><a href="/ferramentas-eletricas/lixadeira-politriz">Lixadeira e Politriz</a></li>
                                  <li><a href="/ferramentas-eletricas/martelete">Martelete</a></li>
                                  <li><a href="/ferramentas-eletricas/plaina-eletrica">Plaina elétrica</a></li>
                                  <li><a href="/ferramentas-eletricas/microretifica">Microretifica</a></li>
                                  <li><a href="/ferramentas-eletricas/serra-circular">Serra Circular</a></li>
                                  <li><a href="/ferramentas-eletricas/serra-marmore">Serra Mármore</a></li>
                                  <li><a href="/ferramentas-eletricas/serra-sabre">Serra Sabre</a></li>
                                  <li><a href="/ferramentas-eletricas/serra-meia-esquadria">Serra Meia Esquadria</a></li>
                                  <li><a href="/ferramentas-eletricas/ferramentas-de-bancada">Ferramentas de Bancada</a></li>
                                  <li><a href="/ferramentas-eletricas/ferramentas-proxxon">Ferramentas Proxxon</a></li>
                                  <li><a href="/ferramentas-eletricas/soprador">Soprador</a></li>
                                  <li><a href="/ferramentas-eletricas/pistola-de-pintura">Pistola de Pintura</a></li>
                                </ul>
                              </div>
                    
                              <div class="column_2">
                                <ul>
                                  <li><a href="/ferramentas-eletricas/pinador-elétrico">Pinador Elétrico</a></li>
                                  <li><a href="/ferramentas-eletricas/moto-esmeril">Moto Esmeril</a></li>
                                  <li><a href="/ferramentas-eletricas/tupia">Tupia</a></li>
                                  <li><a href="/ferramentas-eletricas/tornos">Tornos</a></li>
                                  <li><a href="/ferramentas-eletricas/fresadora-de-junção">Fresadora de Junção</a></li>
                                  <li><a href="/ferramentas-eletricas/misturador">Misturador</a></li>
                                  <li><a href="/ferramentas-eletricas/cortador-de-parede">Cortador de Parede</a></li>
                                  <li><a href="/ferramentas-eletricas/refiladora">Refiladora</a></li>
                                  <li><a href="/ferramentas-eletricas/coladeira">Coladeira</a></li>
                                  <li><a href="/ferramentas-eletricas/esquadrejadeira">Esquadrejadeira</a></li>
                                  <li><a href="/ferramentas-eletricas/coletor-de-pó">Coletor de Pó</a></li>
                                  <li><a href="/ferramentas-eletricas/serra-tico-tico">Serra Tico Tico</a></li>
                                  <li><a href="/ferramentas-eletricas/serra-de-fita">Serra de fita</a></li>
                                  <li><a href="/ferramentas-eletricas/multicortador">Multicortador</a></li>
                                  <li><a href="/ferramentas-eletricas/maquinas-de-solda">Maquinas de solda</a></li>
                                </ul>
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>

                          <li>
                            <div class="content category_2">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/ferramentas-a-bateria/furadeira">Furadeira</a></li>
                                    <li><a href="/ferramentas-a-bateria/parafusadeira">Parafusadeira</a></li>
                                    <li><a href="/ferramentas-a-bateria/martelete">Martelete</a></li>
                                    <li><a href="/ferramentas-a-bateria/plaina">Plaina</a></li>
                                    <li><a href="/ferramentas-a-bateria/soprador-a-bateria">Soprador à Bateria</a></li>
                                    <li><a href="/ferramentas-a-bateria/chave-de-impacto-a-bateria">Chave de Impacto à Bateria</a></li>
                                    <li><a href="/ferramentas-a-bateria/lixadeira-a-bateria">Lixadeira à Bateria</a></li>
                                    <li><a href="/ferramentas-a-bateria/multicortador">Multicortador</a></li>
                                    <li><a href="/ferramentas-a-bateria/serra-circular">Serra Circular</a></li>
                                    <li><a href="/ferramentas-a-bateria/serra-tico-tico">Serra Tico Tico</a></li>
                                    <li><a href="/ferramentas-a-bateria/serra-sabre">Serra Sabre</a></li>
                                    <li><a href="/ferramentas-a-bateria/serra-meia-esquadria">Serra Meia Esquadria</a></li>
                                    <li><a href="/ferramentas-a-bateria/pinador">Pinador</a></li>
                                    <li><a href="/ferramentas-a-bateria/tupia">Tupia</a></li>
                                    <li><a href="/ferramentas-a-bateria/baterias-e-carregadores">Baterias e Carregadores</a></li>
                                </ul>
                              </div>
                    
                              <div class="column_2">
                                <ul>
                                    <li><a href="/ferramentas-a-bateria/cortador">Cortador</a></li>
                                </ul>
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                          
                          <li>
                            <div class="content category_3">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/acessorios-para-ferramentas/disco-de-corte">Disco de Corte</a></li>
                                    <li><a href="/acessorios-para-ferramentas/pinos-e-grampos">Pinos e Grampos</a></li>
                                    <li><a href="/acessorios-para-ferramentas/escova-de-carvao">Escova de Carvão</a></li>
                                    <li><a href="/acessorios-para-ferramentas/laminas-para-multicortadora">Lâminas para Multicortadora</a></li>
                                    <li><a href="/acessorios-para-ferramentas/facas-para-plaina">Facas para Plaina</a></li>
                                    <li><a href="/acessorios-para-ferramentas/bolsa">Bolsa</a></li>
                                    <li><a href="/acessorios-para-ferramentas/abrasivos">Abrasivos</a></li>
                                    <li><a href="/acessorios-para-ferramentas/laminas-de-serras">Lâminas de Serras</a></li>
                                    <li><a href="/acessorios-para-ferramentas/discos-de-serras">Discos de Serras</a></li>
                                    <li><a href="/acessorios-para-ferramentas/wolfcraft-acessorios">Wolfcraft Acessórios</a></li>
                                    <li><a href="/acessorios-para-ferramentas/trilhos">Trilhos</a></li>
                                    <li><a href="/acessorios-para-ferramentas/suporte-para-furadeira">Suporte para Furadeira</a></li>
                                    <li><a href="/acessorios-para-ferramentas/colas-e-adesivos">Colas e Adesivos</a></li>
                                    <li><a href="/acessorios-para-ferramentas/serra-copo">Serra Copo</a></li>
                                    <li><a href="/acessorios-para-ferramentas/mandril-e-engates">Mandril e Engates</a></li>
                                </ul>
                              </div>
                    
                              <div class="column_2">
                                <ul>
                                    <li><a href="/acessorios-para-ferramentas/fresas-e-kits">Fresas e Kits</a></li>
                                    <li><a href="/acessorios-para-ferramentas/brocas-bits-e-kits">Brocas, Bits e Kits</a></li>
                                    <li><a href="/acessorios-para-ferramentas/baterias-e-carregadores">Baterias e Carregadores</a></li>
                                    <li><a href="/acessorios-para-ferramentas/filtros-e-coletores">Filtros e Coletores</a></li>
                                    <li><a href="/acessorios-para-ferramentas/coletes">Coletes</a></li>
                                </ul>
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_4">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/linha-de-medicao/receptores">Receptores</a></li>
                                    <li><a href="/linha-de-medicao/detectores">Detectores</a></li>
                                    <li><a href="/linha-de-medicao/niveis-a-laser">Niveis à Laser</a></li>
                                    <li><a href="/linha-de-medicao/camera-de-inspecao">Câmera de Inspeção</a></li>
                                    <li><a href="/linha-de-medicao/tripe">Tripé</a></li>
                                    <li><a href="/linha-de-medicao/trenas-manuais">Trenas Manuais</a></li>
                                    <li><a href="/linha-de-medicao/trenas-a-laser">Trenas à Laser</a></li>
                                    <li><a href="/linha-de-medicao/acessorios">Acessórios</a></li>
                                    <li><a href="/linha-de-medicao/medidores-de-angulos">Medidores de Ângulos</a></li>
                                  </ul>
                              </div>
                    
                              <div class="column_2">
                                <!--<ul>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                </ul>-->
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_5">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/jardim-e-agricola/aspirador-de-po">Aspirador de Pó</a></li>
                                    <li><a href="/jardim-e-agricola/aparadores">Aparadores</a></li>
                                    <li><a href="/jardim-e-agricola/bancadas-e-caixas">Bancadas e Caixas</a></li>
                                    <li><a href="/jardim-e-agricola/rocadeira">Roçadeira</a></li>
                                    <li><a href="/jardim-e-agricola/picador-e-triturador">Picador e Triturador</a></li>
                                    <li><a href="/jardim-e-agricola/pulverizador">Pulverizador</a></li>
                                    <li><a href="/jardim-e-agricola/bombas--agua">Bombas de Água</a></li>
                                    <li><a href="/jardim-e-agricola/mangueiras">Mangueiras</a></li>
                                    <li><a href="/jardim-e-agricola/acessorios-para-mangueira">Acessórios para Mangueira</a></li>
                                    <li><a href="/jardim-e-agricola/lavadora-de-alta-pressao">Lavadora de Alta Pressão</a></li>
                                    <li><a href="/jardim-e-agricola/cortador-de-grama">Cortador de Grama</a></li>
                                    <li><a href="/jardim-e-agricola/soprador-de-folhas">Soprador de Folhas</a></li>
                                    <li><a href="/jardim-e-agricola/escadas">Escadas</a></li>
                                    <li><a href="/jardim-e-agricola/moto-serras">Motosserras</a></li>
                                    <li><a href="/jardim-e-agricola/ombrelones">Ombrelones</a></li>
                                    <li><a href="/jardim-e-agricola/piscinas-e-tendas">Piscinas e Tendas</a></li>
                                  </ul>
                              </div>
                    
                              <div class="column_2">
                                <!--<ul>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                </ul>-->
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_6">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/ferragens/fechaduras">Fechaduras</a></li>
                                    <li><a href="/ferragens/rodizio">Rodízio</a></li>
                                    <li><a href="/ferragens/luminarias">Luminárias</a></li>
                                    <li><a href="/ferragens/dobradicas">Dobradiças</a></li>
                                    <li><a href="/ferragens/cadeado">Cadeado</a></li>
                                    <li><a href="/ferragens/trincos-e-tarjetas">Trincos e Tarjetas</a></li>
                                    <li><a href="/ferragens/tomadas">Tomadas</a></li>
                                    <li><a href="/ferragens/Pistao">Pistão</a></li>
                                    <li><a href="/ferragens/barras-de-apoio">Barras de Apoio</a></li>
                                    <li><a href="/ferragens/molas-hidraulicas">Molas Hidráulicas</a></li>
                                  </ul>
                              </div>
                    
                              <div class="column_2">
                                <!--<ul>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                </ul>-->
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>

                          <li>
                            <div class="content category_7">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/ferramentas-manuais/alicates-profissionais">Alicates Profissionais</a></li>
                                    <li><a href="/ferramentas-manuais/chave-combinada">Chave Combinada</a></li>
                                    <li><a href="/ferramentas-manuais/chave-allen">Chave Allen</a></li>
                                    <li><a href="/ferramentas-manuais/chave-de-fenda">Chave de Fenda</a></li>
                                    <li><a href="/ferramentas-manuais/chave-de-grifo">Chave de Grifo</a></li>
                                    <li><a href="/ferramentas-manuais/esquadro">Esquadro</a></li>
                                    <li><a href="/ferramentas-manuais/trenas-e-reguas">Trenas e Réguas</a></li>
                                    <li><a href="/ferramentas-manuais/grampeadores">Grampeadores</a></li>
                                    <li><a href="/ferramentas-manuais/estiletes">Estiletes</a></li>
                                    <li><a href="/ferramentas-manuais/arco-de-serra">Arco de Serra</a></li>
                                    <li><a href="/ferramentas-manuais/formoes">Formões</a></li>
                                    <li><a href="/ferramentas-manuais/plaina-manual">Plaina Manual</a></li>
                                    <li><a href="/ferramentas-manuais/tesouras">Tesouras</a></li>
                                    <li><a href="/ferramentas-manuais/chave-ajustavel">Chave Ajustável</a></li>
                                    <li><a href="/ferramentas-manuais/chave-de-catraca">Chave de Catraca</a></li>
                                  </ul>
                              </div>
                    
                              <div class="column_2">
                                <ul>
                                    <li><a href="/ferramentas-manuais/chave-de-boca">Chave de Boca</a></li>
                                    <li><a href="/ferramentas-manuais/chave-philips">Chave Philips</a></li>
                                    <li><a href="/ferramentas-manuais/kit-de-ferramentas">Kit de Ferramentas</a></li>
                                    <li><a href="/ferramentas-manuais/marretas-e-martelos">Marretas e Martelos</a></li>
                                    <li><a href="/ferramentas-manuais/lima">Lima</a></li>
                                    <li><a href="/ferramentas-manuais/soquetes-e-kits">Soquetes e Kits</a></li>
                                    <li><a href="/ferramentas-manuais/torno-de-bancada">Torno de Bancada</a></li>
                                    <li><a href="/ferramentas-manuais/grampos">Grampos</a></li>
                                    <li><a href="/ferramentas-manuais/serrote">Serrote</a></li>
                                    <li><a href="/ferramentas-manuais/talha-manual">Talha Manual</a></li>
                                    <li><a href="/ferramentas-manuais/cortador-de-piso">Cortador de Piso</a></li>
                                  </ul>
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_8">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/gabaritos-e-gibs/gabaritos-para-fechadura">Gabaritos para Fechadura</a></li>
                                    <li><a href="/gabaritos-e-gibs/gabarito-para-furacao">Gabarito para Furação</a></li>
                                    <li><a href="/gabaritos-e-gibs/gabarito-para-cavilha">Gabarito para Cavilha</a></li>
                                    <li><a href="/gabaritos-e-gibs/cavilhas">Cavilhas</a></li>
                                    <li><a href="/gabaritos-e-gibs/regua">Régua</a></li>
                                    <li><a href="/gabaritos-e-gibs/kits">Kits</a></li>
                                    <li><a href="/gabaritos-e-gibs/gabarito-universal">Gabarito Universal</a></li>
                                  </ul>
                              </div>
                    
                              <div class="column_2">
                                <!--<ul>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                </ul>-->
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_9">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/ferramentas-pneumaticas/acessorios-pneumaticos">Acessórios Pneumáticos</a></li>
                                    <li><a href="/ferramentas-pneumaticas/magueira-de-ar">Magueira de ar</a></li>
                                    <li><a href="/ferramentas-pneumaticas/retificas">Retíficas</a></li>
                                    <li><a href="/ferramentas-pneumaticas/pinadores">Pinadores</a></li>
                                    <li><a href="/ferramentas-pneumaticas/chave-de-catraca-pneumatica">Chave de Catraca Pneumática</a></li>
                                    <li><a href="/ferramentas-pneumaticas/pulverizadores">Pulverizadores</a></li>
                                    <li><a href="/ferramentas-pneumaticas/furadeira-pneumatica">Furadeira Pneumática</a></li>
                                    <li><a href="/ferramentas-pneumaticas/grampeadores-pneumaticas">Grampeadores Pneumáticas</a></li>
                                    <li><a href="/ferramentas-pneumaticas/chave-de-impacto">Chave de Impacto</a></li>
                                  </ul>
                              </div>
                    
                              <div class="column_2">
                                <!--<ul>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                </ul>-->
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_10">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/construcao-civil/aspirador-de-po">Aspirador de pó</a></li>
                                    <li><a href="/construcao-civil/cortador-de-piso">Cortador de Piso</a></li>
                                    <li><a href="/construcao-civil/trena-a-laser">Trena à Laser</a></li>
                                    <li><a href="/construcao-civil/esquadro">Esquadro</a></li>
                                    <li><a href="/construcao-civil/guincho">Guincho</a></li>
                                    <li><a href="/construcao-civil/trenas-e-reguas">Trenas e Réguas</a></li>
                                    <li><a href="/construcao-civil/medidor-de-distancia">Medidor de Distância</a></li>
                                    <li><a href="/construcao-civil/detector-de-materiais">Detector de Materiais</a></li>
                                    <li><a href="/construcao-civil/nivelador">Nivelador</a></li>
                                    <li><a href="/construcao-civil/misturador">Misturador</a></li>
                                    <li><a href="/construcao-civil/cortador-de-parede">Cortador de Parede</a></li>
                                    <li><a href="/construcao-civil/vibradores-para-concreto">Vibradores para Concreto</a></li>
                                    <li><a href="/construcao-civil/geradores">Geradores</a></li>
                                    <li><a href="/construcao-civil/escadas">Escadas</a></li>
                                    <li><a href="/construcao-civil/formao">Formão</a></li>
                                </ul>
                            </div>
                            
                            <div class="column_2">
                                <ul>
                                    <li><a href="/construcao-civil/plaina">Plaina</a></li>
                                </ul>
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_11">
                              <div class="column_1">
                                    <ul>
                                        <li><a href="/linha-epi/mascara-de-protecao">Máscara de Proteção</a></li>
                                        <li><a href="/linha-epi/botas-e-botinas">Botas e Botinas</a></li>
                                        <li><a href="/linha-epi/luvas">Luvas</a></li>
                                        <li><a href="/linha-epi/oculos">Óculos</a></li>
                                        <li><a href="/linha-epi/acessorios">Acessórios</a></li>
                                        <li><a href="/linha-epi/joelheira-de-protecao">Joelheira de Proteção</a></li>
                                    </ul>
                              </div>
                    
                              <div class="column_2">
                                <!--<ul>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                </ul>-->
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_12">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/compressores/acessorios">Acessórios</a></li>
                                    <li><a href="/compressores/compressores-automotivos">Compressores Automotivos</a></li>
                                    <li><a href="/compressores/compressores-industriais">Compressores Indústriais</a></li>
                                    <li><a href="/compressores/compressores-profissionais">Compressores Profissionais</a></li>
                                    <li><a href="/compressores/compressores-residenciais">Compressores Residenciais</a></li>
                                    <li><a href="/compressores/compressores-portateis">Compressores Portáteis</a></li>
                                    <li><a href="/compressores/lubrificantes">Lubrificantes</a></li>
                                </ul>
                              </div>
                    
                              <div class="column_2">
                                <!--<ul>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                </ul>-->
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_13">
                              <div class="column_1">
                                <ul>
                                    <li><a href="/automotivo/macaco-hidraulico">Macaco Hidráulico</a></li>
                                    <li><a href="/automotivo/motor">Motor</a></li>
                                    <li><a href="/automotivo/aspirador-de-po">Aspirador de Pó</a></li>
                                    <li><a href="/automotivo/compressores">Compressores</a></li>
                                    <li><a href="/automotivo/auxiliar-de-partida">Auxiliar de Partida</a></li>
                                    <li><a href="/automotivo/lavadora-de-pressao">Lavadora de Pressão</a></li>
                                    <li><a href="/automotivo/funilaria">Pintura e Funilaria</a></li>
                                    <li><a href="/automotivo/alicates">Alicates</a></li>
                                    <li><a href="/automotivo/oleos">Óleos</a></li>
                                    <li><a href="/automotivo/caixas">Caixas</a></li>
                                    <li><a href="/automotivo/chaves">Chaves</a></li>
                                    <li><a href="/automotivo/torquimetro">Torquímetro</a></li>
                                    <li><a href="/automotivo/estiletes-e-facas">Estiletes e Facas</a></li>
                                </ul>
                              </div>
                    
                              <div class="column_2">
                                <!--<ul>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                </ul>-->
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_14">
                              <div class="column_1">
                                    <ul>
                                        <li><a href="/telefonia-e-seguranca/cofres ">Cofres </a></li>
                                        <li><a href="/telefonia-e-seguranca/camera-de-seguranca">Câmera de Seguranca</a></li>
                                        <li><a href="/telefonia-e-seguranca/video-porteiro">Vídeo Porteiro</a></li>
                                        <li><a href="/telefonia-e-seguranca/fechadura-digital">Fechadura Digital</a></li>
                                        <li><a href="/telefonia-e-seguranca/fechadura-biometrica">Fechadura Biométrica</a></li>
                                        <li><a href="/telefonia-e-seguranca/fechadura-eletrica">Fechadura Elétrica</a></li>
                                        <li><a href="/telefonia-e-seguranca/telefone-sem-fio">Telefone sem Fio</a></li>
                                        <li><a href="/telefonia-e-seguranca/telefone">Telefone</a></li>
                                        <li><a href="/telefonia-e-seguranca/cadeado">Cadeado</a></li>
                                        <li><a href="/telefonia-e-seguranca/extensao-de-audio">Extensão de Áudio</a></li>
                                    </ul>
                              </div>
                    
                              <div class="column_2">
                                <!--<ul>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                </ul>-->
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                    
                          <li>
                            <div class="content category_15">
                              <div class="column_1">
                                    <ul>
                                        <li><a href="/para-sua-casa/brinquedos">Brinquedos</a></li>
                                        <li><a href="/para-sua-casa/copa-e-cozinha">Copa e Cozinha</a></li>
                                        <li><a href="/para-sua-casa/lazer">Lazer</a></li>
                                        <li><a href="/para-sua-casa/eletronicos">Eletrônicos</a></li>
                                        <li><a href="/para-sua-casa/ventiladores">Ventiladores</a></li>
                                        <li><a href="/para-sua-casa/lixeiras">Lixeiras</a></li>
                                        <li><a href="/para-sua-casa/massageador">Massageador</a></li>
                                        <li><a href="/para-sua-casa/informatica">Informática</a></li>
                                        <li><a href="/para-sua-casa/utilidade-domestica">Utilidade Doméstica</a></li>
                                    </ul>
                              </div>
                    
                              <div class="column_2">
                                <!--<ul>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                  <li><a href="">Sub-Categoria</a></li>
                                </ul>-->
                              </div>
                    
                              <div class="column_3">
                                <img src="/arquivos/banner-menu.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </nav>
                </section>

                <section class="menu_2">
                    <ul>
                        <li>
                            <a href="/ferramentas-eletricas">
                                <i><img src="/arquivos/ico-drill.png" alt="Ferramentas Elétricas" /></i>
                                <span>Ferramentas <br />Elétricas</span>
                            </a>
                            
                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/ferramentas-eletricas/furadeira">Furadeira</a></li>
                                        <li><a href="/ferramentas-eletricas/parafusadeira">Parafusadeira</a></li>
                                        <li><a href="/ferramentas-eletricas/esmerilhadeira">Esmerilhadeira</a></li>
                                        <li><a href="/ferramentas-eletricas/lixadeira-politriz">Lixadeira e Politriz</a></li>
                                        <li><a href="/ferramentas-eletricas/martelete">Martelete</a></li>
                                        <li><a href="/ferramentas-eletricas/plaina-eletrica">Plaina elétrica</a></li>
                                        <li><a href="/ferramentas-eletricas/microretifica">Microretifica</a></li>
                                        <li><a href="/ferramentas-eletricas/serra-circular">Serra Circular</a></li>
                                        <li><a href="/ferramentas-eletricas/serra-marmore">Serra Mármore</a></li>
                                        <li><a href="/ferramentas-eletricas/serra-sabre">Serra Sabre</a></li>
                                    </ul>    
                                </div>
                                
                                <div class="column column_2">
                                    <ul>
                                        <li><a href="/ferramentas-eletricas/serra-meia-esquadria">Serra Meia Esquadria</a></li>
                                        <li><a href="/ferramentas-eletricas/ferramentas-de-bancada">Ferramentas de Bancada</a></li>
                                        <li><a href="/ferramentas-eletricas/ferramentas-proxxon">Ferramentas Proxxon</a></li>
                                        <li><a href="/ferramentas-eletricas/soprador">Soprador</a></li>
                                        <li><a href="/ferramentas-eletricas/pistola-de-pintura">Pistola de Pintura</a></li>
                                        <li><a href="/ferramentas-eletricas/pinador-elétrico">Pinador Elétrico</a></li>
                                        <li><a href="/ferramentas-eletricas/moto-esmeril">Moto Esmeril</a></li>
                                        <li><a href="/ferramentas-eletricas/tupia">Tupia</a></li>
                                        <li><a href="/ferramentas-eletricas/tornos">Tornos</a></li>
                                        <li><a href="/ferramentas-eletricas/fresadora-de-junção">Fresadora de Junção</a></li>
                                    </ul>    
                                </div>
                                
                                <div class="column column_3">
                                    <ul>
                                        <li><a href="/ferramentas-eletricas/misturador">Misturador</a></li>
                                        <li><a href="/ferramentas-eletricas/cortador-de-parede">Cortador de Parede</a></li>
                                        <li><a href="/ferramentas-eletricas/refiladora">Refiladora</a></li>
                                        <li><a href="/ferramentas-eletricas/coladeira">Coladeira</a></li>
                                        <li><a href="/ferramentas-eletricas/esquadrejadeira">Esquadrejadeira</a></li>
                                        <li><a href="/ferramentas-eletricas/coletor-de-pó">Coletor de Pó</a></li>
                                        <li><a href="/ferramentas-eletricas/serra-tico-tico">Serra Tico Tico</a></li>
                                        <li><a href="/ferramentas-eletricas/serra-de-fita">Serra de fita</a></li>
                                        <li><a href="/ferramentas-eletricas/multicortador">Multicortador</a></li>
                                        <li><a href="/ferramentas-eletricas/maquinas-de-solda">Maquinas de solda</a></li>
                                    </ul>    
                                </div>
                                
                                <div class="column column_4">
                                    <ul></ul>    
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="/ferramentas-a-bateria">
                                <i><img src="/arquivos/ico-machine.png" alt="Ferramentas a Bateria" /></i>
                                <span>Ferramentas <br />a Bateria</span>
                            </a>
                            
                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/ferramentas-a-bateria/chave-de-impacto-a-bateria">Chave de Impacto à Bateria</a></li>
                                        <li><a href="/ferramentas-a-bateria/lixadeira-a-bateria">Lixadeira à Bateria</a></li>
                                        <li><a href="/ferramentas-a-bateria/multicortador">Multicortador</a></li>
                                        <li><a href="/ferramentas-a-bateria/serra-circular">Serra Circular</a></li>
                                        <li><a href="/ferramentas-a-bateria/serra-tico-tico">Serra Tico Tico</a></li>
                                        <li><a href="/ferramentas-a-bateria/serra-sabre">Serra Sabre</a></li>
                                        <li><a href="/ferramentas-a-bateria/serra-meia-esquadria">Serra Meia Esquadria</a></li>
                                        <li><a href="/ferramentas-a-bateria/pinador">Pinador</a></li>
                                        <li><a href="/ferramentas-a-bateria/tupia">Tupia</a></li>
                                        <li><a href="/ferramentas-a-bateria/baterias-e-carregadores">Baterias e Carregadores</a></li>
                                    </ul>    
                                </div>
                                
                                <div class="column column_2">
                                    <ul>
                                        <li><a href="/ferramentas-a-bateria/furadeira">Furadeira</a></li>
                                        <li><a href="/ferramentas-a-bateria/parafusadeira">Parafusadeira</a></li>
                                        <li><a href="/ferramentas-a-bateria/martelete">Martelete</a></li>
                                        <li><a href="/ferramentas-a-bateria/plaina">Plaina</a></li>
                                        <li><a href="/ferramentas-a-bateria/soprador-a-bateria">Soprador à Bateria</a></li>
                                        <li><a href="/ferramentas-a-bateria/cortador">Cortador</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/acessorios-para-ferramentas">
                                <i><img src="/arquivos/ico-circular.png" alt="Acessórios para Ferramentas" /></i>
                                <span>Acessórios para <br />Ferramentas</span>
                            </a>
                            
                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/acessorios-para-ferramentas/bolsa">Bolsa</a></li>
                                        <li><a href="/acessorios-para-ferramentas/abrasivos">Abrasivos</a></li>
                                        <li><a href="/acessorios-para-ferramentas/laminas-de-serras">Lâminas de Serras</a></li>
                                        <li><a href="/acessorios-para-ferramentas/discos-de-serras">Discos de Serras</a></li>
                                        <li><a href="/acessorios-para-ferramentas/wolfcraft-acessorios">Wolfcraft Acessórios</a></li>
                                        <li><a href="/acessorios-para-ferramentas/trilhos">Trilhos</a></li>
                                        <li><a href="/acessorios-para-ferramentas/suporte-para-furadeira">Suporte para Furadeira</a></li>
                                        <li><a href="/acessorios-para-ferramentas/colas-e-adesivos">Colas e Adesivos</a></li>
                                        <li><a href="/acessorios-para-ferramentas/serra-copo">Serra Copo</a></li>
                                        <li><a href="/acessorios-para-ferramentas/mandril-e-engates">Mandril e Engates</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column column_2">
                                    <ul>
                                        <li><a href="/acessorios-para-ferramentas/disco-de-corte">Disco de Corte</a></li>
                                        <li><a href="/acessorios-para-ferramentas/pinos-e-grampos">Pinos e Grampos</a></li>
                                        <li><a href="/acessorios-para-ferramentas/escova-de-carvao">Escova de Carvão</a></li>
                                        <li><a href="/acessorios-para-ferramentas/laminas-para-multicortadora">Lâminas para Multicortadora</a></li>
                                        <li><a href="/acessorios-para-ferramentas/facas-para-plaina">Facas para Plaina</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/linha-de-medicao">
                                <i><img src="/arquivos/ico-ruler.png" alt="Linha de Medição" /></i>
                                <span>Linha de <br />Medição</span>
                            </a>
                            
                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/linha-de-medicao/receptores">Receptores</a></li>
                                        <li><a href="/linha-de-medicao/detectores">Detectores</a></li>
                                        <li><a href="/linha-de-medicao/niveis-a-laser">Niveis à Laser</a></li>
                                        <li><a href="/linha-de-medicao/camera-de-inspecao">Câmera de Inspeção</a></li>
                                        <li><a href="/linha-de-medicao/tripe">Tripé</a></li>
                                        <li><a href="/linha-de-medicao/trenas-manuais">Trenas Manuais</a></li>
                                        <li><a href="/linha-de-medicao/trenas-a-laser">Trenas à Laser</a></li>
                                        <li><a href="/linha-de-medicao/acessorios">Acessórios</a></li>
                                        <li><a href="/linha-de-medicao/medidores-de-angulos">Medidores de Ângulos</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column column_2"></div>
                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/jardim-e-agricola">
                                <i><img src="/arquivos/ico-sprout.png" alt="Jardim e Agricola" /></i>
                                <span>Jardim e <br />Agricola</span>
                            </a>
                            
                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/jardim-e-agricola/bombas--agua">Bombas de Água</a></li>
                                        <li><a href="/jardim-e-agricola/mangueiras">Mangueiras</a></li>
                                        <li><a href="/jardim-e-agricola/acessorios-para-mangueira">Acessórios para Mangueira</a></li>
                                        <li><a href="/jardim-e-agricola/lavadora-de-alta-pressao">Lavadora de Alta Pressão</a></li>
                                        <li><a href="/jardim-e-agricola/cortador-de-grama">Cortador de Grama</a></li>
                                        <li><a href="/jardim-e-agricola/soprador-de-folhas">Soprador de Folhas</a></li>
                                        <li><a href="/jardim-e-agricola/escadas">Escadas</a></li>
                                        <li><a href="/jardim-e-agricola/moto-serras">Motosserras</a></li>
                                        <li><a href="/jardim-e-agricola/ombrelones">Ombrelones</a></li>
                                        <li><a href="/jardim-e-agricola/piscinas-e-tendas">Piscinas e Tendas</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column column_2">
                                    <ul>
                                        <li><a href="/jardim-e-agricola/aparadores">Aparadores</a></li>
                                        <li><a href="/jardim-e-agricola/bancadas-e-caixas">Bancadas e Caixas</a></li>
                                        <li><a href="/jardim-e-agricola/rocadeira">Roçadeira</a></li>
                                        <li><a href="/jardim-e-agricola/picador-e-triturador">Picador e Triturador</a></li>
                                        <li><a href="/jardim-e-agricola/pulverizador">Pulverizador</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/ferragens">
                                <i><img src="/arquivos/ico-lock.png" alt="Ferragens" /></i>
                                <span>Ferragens</span>
                            </a>
                            
                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/ferragens/fechaduras">Fechaduras</a></li>
                                        <li><a href="/ferragens/rodizio">Rodízio</a></li>
                                        <li><a href="/ferragens/luminarias">Luminárias</a></li>
                                        <li><a href="/ferragens/dobradicas">Dobradiças</a></li>
                                        <li><a href="/ferragens/cadeado">Cadeado</a></li>
                                        <li><a href="/ferragens/trincos-e-tarjetas">Trincos e Tarjetas</a></li>
                                        <li><a href="/ferragens/tomadas">Tomadas</a></li>
                                        <li><a href="/ferragens/Pistao">Pistão</a></li>
                                        <li><a href="/ferragens/barras-de-apoio">Barras de Apoio</a></li>
                                        <li><a href="/ferragens/molas-hidraulicas">Molas Hidráulicas</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column column_2"></div>
                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/ferramentas-manuais">
                                <i><img src="/arquivos/ico-hammer.png" alt="Ferramentas Manuais" /></i>
                                <span>Ferramentas <br />Manuais</span>
                            </a>
                            
                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/ferramentas-manuais/esquadro">Esquadro</a></li>
                                        <li><a href="/ferramentas-manuais/trenas-e-reguas">Trenas e Réguas</a></li>
                                        <li><a href="/ferramentas-manuais/grampeadores">Grampeadores</a></li>
                                        <li><a href="/ferramentas-manuais/estiletes">Estiletes</a></li>
                                        <li><a href="/ferramentas-manuais/arco-de-serra">Arco de Serra</a></li>
                                        <li><a href="/ferramentas-manuais/formoes">Formões</a></li>
                                        <li><a href="/ferramentas-manuais/plaina-manual">Plaina Manual</a></li>
                                        <li><a href="/ferramentas-manuais/tesouras">Tesouras</a></li>
                                        <li><a href="/ferramentas-manuais/chave-ajustavel">Chave Ajustável</a></li>
                                        <li><a href="/ferramentas-manuais/chave-de-catraca">Chave de Catraca</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column column_2">
                                    <ul>
                                        <li><a href="/ferramentas-manuais/alicates-profissionais">Alicates Profissionais</a></li>
                                        <li><a href="/ferramentas-manuais/chave-combinada">Chave Combinada</a></li>
                                        <li><a href="/ferramentas-manuais/chave-allen">Chave Allen</a></li>
                                        <li><a href="/ferramentas-manuais/chave-de-fenda">Chave de Fenda</a></li>
                                        <li><a href="/ferramentas-manuais/chave-de-grifo">Chave de Grifo</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/ferramentas-pneumaticas">
                                <i><img src="/arquivos/ico-stapler.png" alt="Ferramentas Pneumáticas" /></i>
                                <span>Ferramentas <br />Pneumáticas</span>
                            </a>
                            
                            <div class="submenu dis-none">
                                <div class="column column_1">
                                    <ul>
                                        <li><a href="/ferramentas-pneumaticas/acessorios-pneumaticos">Acessórios Pneumáticos</a></li>
                                        <li><a href="/ferramentas-pneumaticas/magueira-de-ar">Magueira de ar</a></li>
                                        <li><a href="/ferramentas-pneumaticas/retificas">Retíficas</a></li>
                                        <li><a href="/ferramentas-pneumaticas/pinadores">Pinadores</a></li>
                                        <li><a href="/ferramentas-pneumaticas/chave-de-catraca-pneumatica">Chave de Catraca Pneumática</a></li>
                                        <li><a href="/ferramentas-pneumaticas/pulverizadores">Pulverizadores</a></li>
                                        <li><a href="/ferramentas-pneumaticas/furadeira-pneumatica">Furadeira Pneumática</a></li>
                                        <li><a href="/ferramentas-pneumaticas/grampeadores-pneumaticas">Grampeadores Pneumáticas</a></li>
                                        <li><a href="/ferramentas-pneumaticas/chave-de-impacto">Chave de Impacto</a></li>
                                    </ul>
                                </div>
                                
                                <div class="column column_2"></div>
                                <div class="column column_3"></div>
                                <div class="column column_4"></div>
                            </div>
                        </li>

                        <li>
                            <a href="/marcas">
                                <i><img src="/arquivos/ico-star.png" alt="Marcas" /></i>
                                <span>Marcas</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            
            <div class="footer mobile dis-none">
                <a href="" class="btn_whats">
                    <i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve"><g><path id="WhatsApp" d="M90,43.841c0,24.213-19.779,43.841-44.182,43.841c-7.747,0-15.025-1.98-21.357-5.455L0,90l7.975-23.522 c-4.023-6.606-6.34-14.354-6.34-22.637C1.635,19.628,21.416,0,45.818,0C70.223,0,90,19.628,90,43.841z M45.818,6.982 c-20.484,0-37.146,16.535-37.146,36.859c0,8.065,2.629,15.534,7.076,21.61L11.107,79.14l14.275-4.537 c5.865,3.851,12.891,6.097,20.437,6.097c20.481,0,37.146-16.533,37.146-36.857S66.301,6.982,45.818,6.982z M68.129,53.938 c-0.273-0.447-0.994-0.717-2.076-1.254c-1.084-0.537-6.41-3.138-7.4-3.495c-0.993-0.358-1.717-0.538-2.438,0.537 c-0.721,1.076-2.797,3.495-3.43,4.212c-0.632,0.719-1.263,0.809-2.347,0.271c-1.082-0.537-4.571-1.673-8.708-5.333 c-3.219-2.848-5.393-6.364-6.025-7.441c-0.631-1.075-0.066-1.656,0.475-2.191c0.488-0.482,1.084-1.255,1.625-1.882 c0.543-0.628,0.723-1.075,1.082-1.793c0.363-0.717,0.182-1.344-0.09-1.883c-0.27-0.537-2.438-5.825-3.34-7.977 c-0.902-2.15-1.803-1.792-2.436-1.792c-0.631,0-1.354-0.09-2.076-0.09c-0.722,0-1.896,0.269-2.889,1.344 c-0.992,1.076-3.789,3.676-3.789,8.963c0,5.288,3.879,10.397,4.422,11.113c0.541,0.716,7.49,11.92,18.5,16.223 C58.2,65.771,58.2,64.336,60.186,64.156c1.984-0.179,6.406-2.599,7.312-5.107C68.398,56.537,68.398,54.386,68.129,53.938z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></i>
                    Falar por Whatsapp
                </a>
                
                <span class="btn_fale_conosco">
                    <p>Fale conosco:</p>
                    
                    <ul>
                        <li><a href="tel:1197690-5009"><i class="sprite-ico-tel-yellow"></i>(11) 97690-5009</a></li>
                        <li><a href=""><i class="sprite-ico-whats-yellow"></i>(11) 5054-9090</a></li>
                    </ul>
                </span>
                
                <a href="tel:551150549090" class="btn_truck">
                    <i><img src="/arquivos/ico-truck.png" alt="" /></i>
                    <p>
                        <strong>Entrega expressa:</strong>
                        Entregamos em 2 horas<br/>
                        São Paulo - Capital <br/>
                        Saiba mais: <i class="sprite-ico-whats-green"></i>(11) 97690-5009
                    </p>
                </a>
                
                <ul>
                    <li>
                        <span>
                            <i><svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="-59 0 511 512" width="100%"><path d="m392.5 196.1875c0-108.175781-87.925781-196.1875-196-196.1875s-196 88.011719-196 196.1875v107.113281c0 .109375.015625.21875.015625.332031 0 .222657-.015625.445313-.015625.667969 0 45.804688 37.234375 83.070313 83 83.070313 8.285156 0 15-6.71875 15-15v-136.140625c0-8.285157-6.714844-15-15-15-20.132812 0-38.613281 7.214843-53 19.195312v-44.238281c0-91.636719 74.46875-166.1875 166-166.1875s166 74.550781 166 166.1875v44.238281c-14.386719-11.980469-32.867188-19.195312-53-19.195312-8.285156 0-15 6.714843-15 15v136.140625c0 8.28125 6.714844 15 15 15 19.605469 0 37.632812-6.855469 51.847656-18.273438-7.839844 58.839844-55.132812 105.375-114.324218 112.066406.632812-2.804687.976562-5.71875.976562-8.714843 0-21.78125-17.71875-39.5-39.5-39.5h-24c-21.78125 0-39.5 17.71875-39.5 39.550781 0 21.78125 17.71875 39.5 39.5 39.5h47.808594c88.328125 0 160.191406-71.863281 160.191406-160.191406zm0 0"></path></svg></i>
                            <p>Central de<br/> Atendimento</p>
                        </span>
                        
                        <div class="hover">
                            <ul>
                                <li><a href=""><i class="sprite-ico-whats-green"></i>(11)97690-5009</a></li>
                                <li><a href=""><i class="sprite-ico-tel-blue"></i>(11)97690-5009</a></li>
                                <li><a href=""><i class="sprite-ico-tel-blue"></i>(11)97690-5009</a></li>
                                <li><a href="mailto:contato@dominio.com"><i class="sprite-ico-mail-blue"></i>contato@dominio.com</a></li>
                            </ul>
                        </div>
                    </li>
                    
                    <li>
                        <a href="/account">
                            <i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve"><path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752 c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348 c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98 c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033 c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55 c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287 c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104 c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1 c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764 l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5 c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957 c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545 c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.519,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8 s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.345-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545 c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313 c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z M42.459,48.132c-0.35,0.254-0.706,0.5-1.067,0.735 c-0.166,0.108-0.331,0.216-0.5,0.321c-0.472,0.292-0.952,0.57-1.442,0.83c-0.108,0.057-0.217,0.111-0.326,0.167 c-1.126,0.577-2.291,1.073-3.488,1.476c-0.042,0.014-0.084,0.029-0.127,0.043c-0.627,0.208-1.262,0.393-1.904,0.552 c-0.002,0-0.004,0.001-0.006,0.001c-0.648,0.16-1.304,0.293-1.964,0.402c-0.018,0.003-0.036,0.007-0.054,0.01 c-0.621,0.101-1.247,0.174-1.875,0.229c-0.111,0.01-0.222,0.017-0.334,0.025C28.751,52.97,28.127,53,27.5,53 c-0.634,0-1.266-0.031-1.895-0.078c-0.109-0.008-0.218-0.015-0.326-0.025c-0.634-0.056-1.265-0.131-1.89-0.233 c-0.028-0.005-0.056-0.01-0.084-0.015c-1.322-0.221-2.623-0.546-3.89-0.971c-0.039-0.013-0.079-0.027-0.118-0.04 c-0.629-0.214-1.251-0.451-1.862-0.713c-0.004-0.002-0.009-0.004-0.013-0.006c-0.578-0.249-1.145-0.525-1.705-0.816 c-0.073-0.038-0.147-0.074-0.219-0.113c-0.511-0.273-1.011-0.568-1.504-0.876c-0.146-0.092-0.291-0.185-0.435-0.279 c-0.454-0.297-0.902-0.606-1.338-0.933c-0.045-0.034-0.088-0.07-0.133-0.104c0.032-0.018,0.064-0.036,0.096-0.054l7.907-4.313 c1.36-0.742,2.205-2.165,2.205-3.714l-0.001-3.602l-0.23-0.278c-0.022-0.025-2.184-2.655-3.001-6.216l-0.091-0.396l-0.341-0.221 c-0.481-0.311-0.769-0.831-0.769-1.392v-3.545c0-0.465,0.197-0.898,0.557-1.223l0.33-0.298v-5.57l-0.009-0.131 c-0.003-0.024-0.298-2.429,1.396-4.36C21.583,10.837,24.061,10,27.5,10c3.426,0,5.896,0.83,7.346,2.466 c1.692,1.911,1.415,4.361,1.413,4.381l-0.009,5.701l0.33,0.298c0.359,0.324,0.557,0.758,0.557,1.223v3.545 c0,0.713-0.485,1.36-1.181,1.575l-0.497,0.153l-0.16,0.495c-0.59,1.833-1.43,3.526-2.496,5.032c-0.262,0.37-0.517,0.698-0.736,0.949 l-0.248,0.283V39.8c0,1.612,0.896,3.062,2.338,3.782l8.467,4.233c0.054,0.027,0.107,0.055,0.16,0.083 C42.677,47.979,42.567,48.054,42.459,48.132z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></i>
                            <p>Faça o login<br/>ou cadastre-se</p>
                        </a>
                    </li>
                </ul>
        
            </div>
        </div>
        
        <span class="close mobile dis-none">X</span>
    </div>
</header>